/***********variables**********/

$primary-font:'Ubuntu', sans-serif;
$secondary-font:'pier';


/***********global************/

body{
	font-family: $primary-font;
	margin: 0; padding: 0;
	color: #000;
	font-size: 14px;
}

h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6{
	text-transform: capitalize;
}

h1,h2{
	line-height: 30px;
}

p{
	line-height: 21px;
}

ul{
	list-style: none;
}

a:hover{
	text-decoration: none;
}

.light{
	color: #5a5a5a;
}

.lighter{
	color: #8b8b8b;

}

.btn-default:hover{
	color: #000;
}

.img-thumbnail{
	border-radius: 0;padding:0;border-color: #000;
}

.contain{
	max-width: 1000px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding: 0 9px;
}

.row{
	margin: 0 -10px;
}

.uppercase{
	text-transform: uppercase;
}

.mt17{
	margin-top: 17px;
}

.mb27{
	margin-bottom: 27px;
}

.mb70{
	margin-bottom: 70px;
}

.details{
	padding-left: 0;
	margin-bottom: 10px;

	li{
		display: inline-block;
		padding-left: 6px;

		&:after{
			content: "|";
			padding-left: 8px;
		}

		&:last-child{

			&:after{content: "";}
		}
	}
}

.about-box{
	border: 1px solid #949494;
	padding: 20px 20px;
}

.bg-white{
	background-color: #fff;
}

header.push-top{
	margin-top: -780px;
}


/************mixins*************/
