/*********typography*********/

h1,h2,h3,h4,h5,h6{
	text-transform: uppercase;
	font-weight: 500;
	margin: 0;
	font-family: $secondary-font;
}

a{
	font-family: $secondary-font;
}

h1{
	font-size: 24px;
}

h2{
	font-size: 20px;
}
h3{
	font-size: 16px;
}
h4{
	font-size: 14px;
}
