@media(max-width: 1200px){
	footer .bg-black .footer-nav li{
		margin-right: 16px;
		padding-right: 16px;
	}

	header .navbar-default .navbar-nav > li > a{
		padding-right: 22px;
	}

	main .bg-white .bg-img{
		left: 50px;
	}

	header.push-top{
		margin-top: -735px;
	}

	.bg-pattern-grey main .bg-pattern-brick .bg-dropshadow p{font-size: 12px;}

	.search-bx .search-body{
		margin-bottom: 86px;
	}

	.bg-pattern-grey main ul.page-links li{
		width: 226px;
	}

	.form-submission-page .form-horizontal .form-group label.col-md-2.col-md-offset-2{
		margin-left: 0;
	}

	.form-submission-page .form-horizontal .form-group{
		margin-left: 0;
		margin-right: 0;
	}

	.form-submission-page .form-horizontal .form-group label{
		margin-bottom: 5px;
	}

	.bg-pattern-grey main h1.border-bottom:after{
		left: 26%;
	}

}

@media(max-width:992px){

	header .lg-txt{font-size: 30px;}

	main .bg-grey > .contain > .row > .col-md-4 a{margin-top: 25px;}

	header .navbar-default .navbar-nav > li > a{padding:0 10px;font-size: 15px; }

	main .bg-white .bg-img{display: none;}

	.form-control{font-size: 12px;}

	footer > .bg-white > .contain > .row > .col-md-11{width: 91.6667%;}

	footer > .bg-white > .contain > .row > .col-md-1{width:8.33333%;}

	footer >  .bg-white > .contain{padding:15px;}

	footer .bg-black{background: #5b5b5a;}

	footer .bg-black .footer-nav li{
		line-height: 38px;
		font-size: 16px;
	}

	.bg-pattern-grey main .contain-white .row > .col-md-8,.bg-pattern-grey main .contain-white .row > .col-md-4{width: 100%;}

	.carousel,.bg-pattern-grey main .contain-white .about-box{margin-bottom: 27px;}

	.bg-pattern-grey main .bg-pattern-brick{background: #dee0e2;}	

	.bg-pattern-grey main .contain-white.listing-details .row > .col-md-8{width: 60.666667%;}

	.bg-pattern-grey main .contain-white.listing-details .row > .col-md-4{width: 39.333333%;}

	.bg-pattern-grey main .contain-white .row > .col-md-9{width: 100%}

	.bg-pattern-grey main .contain-white .row > .col-md-3{width: 100%}

	.bg-pattern-grey main .listing-details .tab-content{margin-bottom: 27px;}

	.search-bx .search-body h4{font-size: 11px;}

	main .bg-grey > .contain > .row a .border .features p{font-size: 11px;}

	header.push-top{
		margin-top: -575px;
	}

	.search-bx .search-body{
		margin-bottom: 0;
	}

	.search-bx{
		margin: 38px 0 20px 0;
	}	

	footer .bg-grey .contain > .row > .col-md-9{width: 100%;}

	footer .bg-grey .contain > .row > .col-md-3{width: 100%;}

	.bg-pattern-grey main .testimonials h1{text-align: center;margin-bottom: 50px;}

	footer .bg-grey .contain > .row > .col-md-9 img{margin-bottom: 15px;margin-top: 0;}

	main h1{font-size: 20px;}

	.bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery .photo-slider a img{
		width: 100%;
	}

	.bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery{
		margin-bottom: 55px;
	}

	.search-bx .search-heading{
		margin-top: 60px;
	}

	.form-submission-page .form-horizontal .form-group label.col-md-2{
		width: 100%;
	}

	.bg-pattern-grey main .form-submission-page > .row > .col-md-5{
		margin-left: 0;
		width: 50%;
	}

	.form-submission-page .customizable-form .body .table > thead > tr > th, .form-submission-page .customizable-form .body .table > tbody > tr > th, .form-submission-page .customizable-form .body .table > tfoot > tr > th, .form-submission-page .customizable-form .body .table > thead > tr > td, .form-submission-page .customizable-form .body .table > tbody > tr > td, .form-submission-page .customizable-form .body .table > tfoot > tr > td{
		font-size: 14px;
	}

	.lending-background .text-bottom{
		height: auto;
		right: 0;
		bottom: 0;
	}

	.lending form.application-form{
		background: #eeeeee;
	}

	.bg-pattern-grey main .lending > .row > .col-md-5.col-md-offset-1{
		margin-left: 0;
	}

	.bg-pattern-grey main .lending > .row > .col-md-5{
		width: 50%;
		float: left;
	}

	.lending .text-holder{
		width: 60%
	}

	.lending h1.large-heading{
		color: #000;
		margin: 20px 0 30px 0;
		font-size: 40px;
	}

	.bg-pattern-grey main .lending h1.border-bottom{
		font-size: 20px;
	}

	.bg-pattern-grey main .lending h1.border-bottom:after{
		left: 4%;
	}
}

@media(max-width: 768px){

	.row{margin: 0 -9px;}

	.margin{margin-bottom: 27px;}

	header{text-align: center;}

	.bg-fade{margin-top: 20px;}

	header .navbar-default{margin-top: 10px;background: none;}

	.navbar-default .navbar-toggle{
		margin-top: -265px;
		background: #000;
		border: 0;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form{margin-top: -222px;}

	.navbar-default .navbar-toggle .icon-bar{background: #fff;}

	.navbar-nav{background: #5F5F5F;}

	header .navbar-default .navbar-nav > li > a{padding:5px 0; }

	header .social-media{padding-left: 0;}

	header .text-right{
		text-align: center;
		margin-top: -390px;
		margin-bottom: 220px;
	}

	header .heading-dtls{margin-top: 170px;}

	main .bg-grey > .contain > .row a{margin-bottom: 20px;}

	main .bg-grey > .contain > .row > .col-md-4 a{margin: 0;}

	footer .bg-black .footer-nav{padding-left: 15px;background: transparent;}

	.search-bx .search-body > .row > .col-md-4, .search-bx .search-body > .row > .col-md-2, .search-bx .search-body > .row > .col-md-4.chng-width,footer .bg-grey .contain > .row > .col-md-9,footer .bg-grey .contain > .row > .col-md-3,main .bg-grey > .contain > .row > .col-md-8,main .bg-grey > .contain > .row > .col-md-4, main .bg-white .contain > .row > .col-md-8,main .bg-white .contain > .row > .col-md-4,.bg-pattern-grey main .contain-white .row > .col-md-5,.bg-pattern-grey main .contain-white .row > .col-md-7{width: 100%;}
	
	footer > .bg-white > .contain > .row > .col-md-11{width: 90%;}

	footer > .bg-white > .contain > .row > .col-md-1{width: 10%;}

	.bg-pattern-grey main .contain-white .about-box{margin-top: 27px;}

	.property-text-wrap{margin: 10px 0 27px 0;}

	.bg-pattern-grey main .contain-white .row > .col-md-4.alter-width,.bg-pattern-grey main .contain-white .row > .col-md-8.alter-width,.bg-pattern-grey main .contain-white .row > .col-md-4.alter-width-listings{width: 100%;margin-bottom: 27px;}

	.bg-pattern-grey main .contact-form{margin-top: 0;}

	.bg-pattern-grey main .contain-white .row > .col-md-9,.bg-pattern-grey main .contain-white .row > .col-md-3,.bg-pattern-grey main .contain-white.listing-details .row > .col-md-8,.bg-pattern-grey main .contain-white.listing-details .row > .col-md-4{width: 100%;}

	.bg-pattern-grey main .contain-white.listing-details .row > .col-md-4.text-right,.bg-pattern-grey main .listing-details .property-rate{text-align: left;}

	.bg-pattern-grey main .listing-details h1,.bg-pattern-grey main .contain-white.listing-details .row > .col-md-4.text-right,.bg-pattern-grey main .listing-details .property-rate,.bg-pattern-grey main .listing-details .contact-bg{margin-bottom: 20px;}

	.glyphicon-chevron-left::before, .glyphicon-chevron-right::before{
		top: -22px;
		left: -11px;
	}	

	.carousel-control{
		top: 30%;
	}

	.search-bx .search-body h4{font-size: 14px;}

	.bg-pattern-grey main .testimonials > .row > .col-md-10.col-md-offset-1{
		margin-left: 0;
		width: 100%;
	}

	.bg-pattern-grey main .testimonials .testimonials-wrap img{left: 46%;}

	main .bg-grey > .contain > .row a .border .features p{font-size: 14px;}

	header.push-top{
		margin-top: -475px;
	}

	body > .container.contain{
		background: url("../images/bg-pattern-grey-1.jpg") repeat scroll 0% 0% transparent;
	}

	.custom-slider{
		display: none;
	}

	header.push-top{
		margin-top: -20px;
		background: url("../images/bg-pattern-grey-1.jpg") repeat scroll 0% 0% transparent;
	}

	.search-bx{
		margin-top: 0;
	}

	.mt17{
		margin-top: 5px;
	}

	.bg-pattern-grey main .listing-details .inner-details li{
		padding-right: 4px;
	}

	.details li{
		padding-left: 4px;
	}

	.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left{
		top: 18%;
		left: 37%;
	}

	.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right{
		right: 110%;
		top: 18%;
	}

	.bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery .photo-slider .carousel-control{
		top: 100%;
	}

	.bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery{
		margin-bottom: 70px;
	}

	.bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery .photo-slider .carousel-control.left{
		left: 80%;
	}

	.details-main-slider .carousel-control.details-control{
		display: none;
	}

	.bg-img-home{
		display: none;
	}

	.search-bx .search-heading{
		margin-top: 0;
	}

	.search-bx .search-body > .row > .col-md-4,.search-bx .search-body > .row > .col-md-2{
		padding-right: 9px;
	}

	.search-bx .search-body h4.line::before{
		left: 12px;
	}

	.bg-pattern-grey main ul.page-links li{
		width: 205px;
	}

	.bg-pattern-grey main h1.border-bottom:after{
		left: 20%;
	}

	.bg-pattern-grey main ul.page-links li{
		width: 195px;
	}

	.bg-pattern-grey main ul.page-links li,.bg-pattern-grey main ul.page-links li:last-child{
		display: block;
		width: 210px;
		margin: 10px auto;
	}

	.bg-pattern-grey main ul.page-links li::after{
		display: none;
	}

	.bg-pattern-grey main h1.border-bottom{
		margin-bottom: 20px;
	}

	.lending form.application-form{
		margin-bottom: 20px
	}

	.lending h1.large-heading{
		margin: 0 0 30px 0;
	}

	.bg-pattern-grey main .lending h1.border-bottom:after{
		left: 29%;
	}

	.lending .text-holder{
		margin-bottom: 42px;
	}
}

@media(max-width: 600px){
	footer .bg-black .footer-nav li{display: block;}

	footer .bg-black .footer-nav li::after {display: none;}

	.breadcrumb > li + li::before {display: none;}

	.breadcrumb > li {display: block;}

	.details li::after{display: none;}

	.bg-pattern-grey main .listing-details .inner-details li{display: block;}

	.details-main-slider .carousel-control.details-control{display: none;}

	footer .bg-grey .contain > .row > .col-md-9 .breadcrumb li a,.breadcrumb > .active{
		display: block;
		padding: 5px 0;
	}

	main .bg-grey > .contain > .row .bxslider.featured-slider li{max-width: 13.17% !important;padding-right: 0;}

	main .bg-grey > .contain > .row .bxslider.featured-slider{width: 836% !important;}

	header.push-top .logo{
		margin-top: 12px;
	}

	.mt17{margin-top: 5px;}

	.navbar-nav{
		padding: 12px;
	}

	.bg-fade{
		background:#838181;
	}

	.bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery .photo-slider .carousel-control.left{
		left: 75%;
	}

	.bg-pattern-grey main h1.border-bottom::after{
		left: 11%;
	}

	.lending .text-holder{
		margin-bottom: 24px;
	}

	.lending-background .text-top{
		font-size: 24px;
		line-height: 30px;
	}

	.lending-background .text-bottom{
		width: 100%;
	}

	.bg-pattern-grey main .lending h1.border-bottom:after{
		left: 23%;
	}
}

@media(max-width: 480px){
	.search-bx .search-heading h3{font-size: 12px;}

	.search-bx .search-heading{max-width: 198px;}

	.bg-fade .heading{font-size:18px;}

	.bg-fade .heading .big{font-size: 34px;}

	footer > .bg-white > .contain > .row > .col-md-11,footer > .bg-white > .contain > .row > .col-md-1{width: 100%;text-align: center;}

	footer > .bg-white > .contain > .row > .col-md-11 p{font-size: 11px;}

	.bg-pattern-grey main .listing-details .contact-bg .contact-info .txt-wrap{padding-left: 7px;}

	.bg-pattern-grey main .listing-details .nav-tabs > li{padding: 0 12px;}

	.bg-pattern-grey main .listing-details .contact-bg .contact-info .txt-wrap a{font-size: 15px;}

	.bg-pattern-grey main .listing-details .contact-bg .contact-info .txt-wrap h1{font-size: 20px;}

	.bg-pattern-grey main .contain-white .about-box .heading-tlnt-box{font-size: 21px;}

	header .sm-txt,header .lg-txt{padding-right: 20px;}

	header.push-top .text-right{
		margin-top: -405px;
	}

	header.push-top .logo{margin-top: 30px;}

	.mt17{margin-top: 20px;}

	.bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery .photo-slider .carousel-control.left{
		left: 60%;
	}

	.form-submission-page .form-horizontal .form-group > .col-md-6 > .row > .col-md-4{
		width: 100%;
		margin-bottom: 15px;
	}

	.form-submission-page .form-horizontal .form-group > .col-md-6 > .row > .col-md-4:last-child{
		margin-bottom: 0;
	}

	.bg-pattern-grey main h1.border-bottom::after{
		left: 0;
		width: 100%;
	}

	.bg-pattern-grey main .lending h1.border-bottom:after{
		left: 0;
		width: 100%;
	}

	.lending-background .text-bottom{
		padding: 10px;
	}

	.lending form.application-form .btn-pattern{width: 100%;}

	.lending h1.large-heading{font-size: 34px;}

}


