@font-face {
  font-family: 'trajanpro';
  src: url("../fonts/trajanpro.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'pier';
  src: url("../fonts/pier-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/pier-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pier-webfont.woff2") format("woff2"), url("../fonts/pier-webfont.woff") format("woff"), url("../fonts/pier-webfont.ttf") format("truetype"), url("../fonts/pier-webfont.svg") format("svg");
  /* Legacy iOS */
}
@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light-webfont.eot');
    src: url('../fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff'),
         url('../fonts/montserrat-light-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-light-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* line 9, ../scss/partials/base.scss */
body {

  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 14px;
  
}

/* line 16, ../scss/partials/base.scss */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

/* line 21, ../scss/partials/base.scss */
h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
}

/* line 25, ../scss/partials/base.scss */
h1, h2 {
  line-height: 30px;
}

/* line 29, ../scss/partials/base.scss */
p {
  line-height: 21px;
}

/* line 33, ../scss/partials/base.scss */
ul {
  list-style: none;
}
a{
  transition: color 0.5s ease;
}
/* line 37, ../scss/partials/base.scss */
a:hover {
  text-decoration: none;
}

.red{
  color: #cc0000;
  font-size: 18px;
}

/* line 41, ../scss/partials/base.scss */
.light {
  color: #5a5a5a;
}

/* line 45, ../scss/partials/base.scss */
.lighter {
  color: #8b8b8b;
}

/* line 50, ../scss/partials/base.scss */
.btn-default:hover {
  color: #000;
}

/* line 54, ../scss/partials/base.scss */
.img-thumbnail {
  border-radius: 0;
  padding: 0;
  border-color: #000;
}

/* line 58, ../scss/partials/base.scss */
.contain {
  max-width: 1000px;
}

/* line 62, ../scss/partials/base.scss */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding: 0 9px;
}

/* line 66, ../scss/partials/base.scss */
.row {
  margin: 0 -10px;
}

/* line 70, ../scss/partials/base.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 74, ../scss/partials/base.scss */
.mt17 {
  margin-top: 17px;
}

/* line 78, ../scss/partials/base.scss */
.mb27 {
  margin-bottom: 27px;
}

/* line 82, ../scss/partials/base.scss */
.mb70 {
  margin-bottom: 70px;
}

/* line 86, ../scss/partials/base.scss */
.details {
  padding-left: 0;
  margin-bottom: 10px;
}
/* line 90, ../scss/partials/base.scss */
.details li {
  display: inline-block;
  padding-left: 6px;
}
/* line 94, ../scss/partials/base.scss */
.details li:after {
  content: "|";
  padding-left: 8px;
}
/* line 101, ../scss/partials/base.scss */
.details li:last-child:after {
  content: "";
}

/* line 106, ../scss/partials/base.scss */
.about-box {
  border: 1px solid #949494;
  padding: 20px 20px;
}

/* line 111, ../scss/partials/base.scss */
.bg-white {
  background-color: #fff;
}

/* line 115, ../scss/partials/base.scss */
.bg-main-img{
  padding-top: 20px;
}

/************mixins*************/
/*******typography********/
/*********typography*********/
/* line 3, ../scss/partials/typography.scss */
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
  font-family: "pier";
    font-family: 'montserratlight';
}

/* line 10, ../scss/partials/typography.scss */
a {
  font-family: "pier";
}

/* line 14, ../scss/partials/typography.scss */
h1 {
  font-size: 24px;
}

/* line 18, ../scss/partials/typography.scss */
h2 {
  font-size: 20px;
}

/* line 21, ../scss/partials/typography.scss */
h3 {
  font-size: 16px;
}

/* line 24, ../scss/partials/typography.scss */
h4 {
  font-size: 14px;
}


/*******style*******/
/* line 27, ../scss/style.scss */
header {
  padding-top: 15px;
  color: #212121;
}
/* line 31, ../scss/style.scss */
header .heading-dtls {
  font-size: 17px;
  margin-top: 65px;
  font-family: "pier";
}
/* line 37, ../scss/style.scss */
header .logo {
  margin-bottom: 15px;
  z-index:10;
}
/* line 41, ../scss/style.scss */
header .social-media {
  display: inline-block;
}
/* line 44, ../scss/style.scss */
header .social-media li {
  display: inline-block;
  padding-right: 10px;
}
/* line 48, ../scss/style.scss */
header .social-media li:last-child {
  padding-right: 0;
}
/* line 52, ../scss/style.scss */
header .social-media li a {
  font-size: 20px;
}
/* line 55, ../scss/style.scss */
header .social-media li a.circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  color: #fff;
}
/* line 63, ../scss/style.scss */
header .social-media li a.circle.fb {
  background-color: #3a5998;
}
/* line 67, ../scss/style.scss */
header .social-media li a.circle.twt {
  background-color: #2aa9e0;
}
/* line 71, ../scss/style.scss */
header .social-media li a.circle.lin {
  background-color: #0073a5;
}
/* line 79, ../scss/style.scss */
header .cb-logo {
  margin-left: 22px;
}
/* line 84, ../scss/style.scss */
header .sm-txt {
  font-size: 13px;
  margin-top: 20px;
  margin-bottom:8px;
}
/* line 88, ../scss/style.scss */
header .sm-txt a {

  color: #000;
}
header .sm-txt a:hover {
  color: #cd8a0a;
}
/* line 93, ../scss/style.scss */
header .lg-txt {
  font-size: 38px;
  color: #013354;
  line-height: 30px;
}
/* line 99, ../scss/style.scss */
header .navbar {
  min-height: 30px;
  border-radius: 0;
  margin-bottom: 9px;
}
/* line 105, ../scss/style.scss */
header .navbar-default {
  background: rgba(0, 0, 0, 0.8);
  border: 0;
}
/* line 110, ../scss/style.scss */
header .navbar-default .navbar-nav > li > a {
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
  padding: 0 26px;
  line-height: 30px;
  text-shadow: 1px 0 0 #353535;
    font-family: 'montserratlight';
}

header .navbar-default .navbar-nav > li > a:hover, header .navbar-default .navbar-nav > li > a.active{
  color: orange;
}

/* line 121, ../scss/style.scss */
.bg-fade {
  background: url(../images/bg-faded.png) no-repeat;
  margin-bottom: 31px;
  font-family: 'trajanpro';
}
/* line 126, ../scss/style.scss */
.bg-fade .heading, .bg-fade .heading p{
  font-size: 23px;
  color: #fff;
  text-shadow: 1px 0 2px #000;
  line-height: 28px;
  padding: 14px 0 1px;
}
/* line 133, ../scss/style.scss */
.bg-fade .heading .big {
  font-size: 43px;
  letter-spacing: 2px;
  line-height: 50px;
}

/* line 143, ../scss/style.scss */
.search-bx .search-heading {
  background: #111111 url(../images/bg-black-gradient.jpg) repeat-x scroll 0 0;
  max-width: 236px;
  text-align: center;
  position: relative;
  margin: 0 auto;
}
/* line 150, ../scss/style.scss */
.search-bx .search-heading:after {
  background: url(../images/arrow-right.png) no-repeat;
  right: -32px;
}
/* line 155, ../scss/style.scss */
.search-bx .search-heading:before {
  content: "";
  background: url(../images/arrow-left.png) no-repeat;
  left: -32px;
}
/* line 161, ../scss/style.scss */
.search-bx .search-heading:after, .search-bx .search-heading:before {
  content: "";
  width: 32px;
  height: 28px;
  position: absolute;
  top: 0;
}
/* line 169, ../scss/style.scss */
.search-bx .search-heading h3 {
  line-height: 28px;
  color: #c9c9c9;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 14px;
}
/* line 178, ../scss/style.scss */
.search-bx .search-body {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  max-width: 828px;
  margin: 0 auto;
  padding-bottom: 15px;
  margin-bottom: 135px;
   font-family: 'montserratlight';
}
/* line 186, ../scss/style.scss */
.search-bx .search-body .form-control {
  height: 45px;
  padding: 6px 4px;
}
/* line 191, ../scss/style.scss */
.search-bx .search-body > .row {
  margin: 0;
}
/* line 194, ../scss/style.scss */
.search-bx .search-body > .row > .col-md-4 {
  width: 24.7%;
  padding: 0;
  padding-left: 9px;
}
/* line 199, ../scss/style.scss */
.search-bx .search-body > .row > .col-md-4:last-child {
  padding-right: 9px;
}
/* line 203, ../scss/style.scss */
.search-bx .search-body > .row > .col-md-4.chng-width {
  width: 17.7%;
}
/* line 206, ../scss/style.scss */
.search-bx .search-body > .row > .col-md-4.chng-width .srch-btn {
  width: 100%;
  margin-top: 30px;
  background: url(../images/srch-btn-bg.jpg) repeat-x;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  height: 45px;
  border: 1px solid #000;
}
/* line 219, ../scss/style.scss */
.search-bx .search-body > .row > .col-md-2 {
  width: 28.78%;
  padding: 0;
}
/* line 223, ../scss/style.scss */
.search-bx .search-body > .row > .col-md-2 > .row {
  margin: 0;
}
/* line 226, ../scss/style.scss */
.search-bx .search-body > .row > .col-md-2 > .row > .col-md-6 {
  padding: 0;
  padding-left: 9px;
}
/* line 234, ../scss/style.scss */
.search-bx .search-body h4 {
  color: #ffbb2c;
  line-height: 30px;
  position: relative;
}
/* line 241, ../scss/style.scss */
.search-bx .search-body h4.line:before, .search-bx .search-body h4.line:after {
  content: "";
  position: absolute;
  width: 41px;
  height: 1px;
  top: 16px;
  background: url(../images/Untitled-1.jpg) no-repeat;
}
/* line 250, ../scss/style.scss */
.search-bx .search-body h4.line:before {
  left: 3px;
}
/* line 254, ../scss/style.scss */
.search-bx .search-body h4.line:after {
  right: 3px;
}

/* line 262, ../scss/style.scss */
.bg-img-home {
  z-index: 0;
  position: relative;
}
.bg-img-home:after{
  content: "";
  background:url(../images/logo-home.png) no-repeat top center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/* line 265, ../scss/style.scss */
.bg-img-home img {
/*  max-height: 800px;
width: 100%;*/
}

/* line 272, ../scss/style.scss */
main h1 {
  margin-top: 15px;
  line-height: 50px;
  color: #082862;
}
/* line 278, ../scss/style.scss */
main .textimonials-box {
  border: 1px solid #9ea7b7;
  box-shadow: 1px 0 3px #c5c6c8;
  background: url(../images/bg-testimonial.jpg) repeat;
  padding: 12px 14px;
  position: relative;
}
/* line 285, ../scss/style.scss */
main .textimonials-box:after {
  content: "";
  background: url(../images/testimonial-arrow.jpg);
  width: 23px;
  height: 12px;
  position: absolute;
  bottom: -12px;
  right: 18px;
}
/* line 295, ../scss/style.scss */
main .textimonials-box p {
  font-size: 13px;
  color: #5a5a5a;
}
/* line 301, ../scss/style.scss */
main .info {
  background-color: #1b1b1b;
  min-height: 62px;
  margin-top: 26px;
  padding: 5px;
}
/* line 307, ../scss/style.scss */
main .info h2 {
  color: #fff;
}
/* line 311, ../scss/style.scss */
main .info p {
  color: #cccccc;
}
/* line 316, ../scss/style.scss */
main .bg-grey {
  background: url(../images/bg-grey.jpg) repeat-y;
  padding-bottom: 49px;
}
/* line 324, ../scss/style.scss */
main .bg-grey > .contain > .row > .col-md-8 {
  width: 69.666667%;
}
/* line 328, ../scss/style.scss */
main .bg-grey > .contain > .row > .col-md-8 li > .row {
  margin: 0 -9px;
}
/* line 332, ../scss/style.scss */
main .bg-grey > .contain > .row h2 {
  line-height: 53px;
}
/* line 336, ../scss/style.scss */
main .bg-grey > .contain > .row .bxslider.featured-slider {
  width: 821% !important;
  margin-left: 1px;
}
/* line 340, ../scss/style.scss */
main .bg-grey > .contain > .row .bxslider.featured-slider li {
  max-width: 4.17% !important;
  padding-right: 15px;
}
/* line 348, ../scss/style.scss */
main .bg-grey > .contain > .row a {
  display: block;
}
/* line 354, ../scss/style.scss */
main .bg-grey > .contain > .row a:hover .img-wrap img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
/* line 362, ../scss/style.scss */
main .bg-grey > .contain > .row a .border {
  box-shadow: 1px 0 3px #c5c6c8;
  border: 1px solid #b5b7bc;
}
/* line 366, ../scss/style.scss */
main .bg-grey > .contain > .row a .border p {
  line-height: 8px;
  color: #8b8b8b;
  margin-bottom: 10px;
}
/* line 372, ../scss/style.scss */
main .bg-grey > .contain > .row a .border .property-box {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #b5b7bc;
}
/* line 377, ../scss/style.scss */
main .bg-grey > .contain > .row a .border .property-box .img-wrap {
  overflow: hidden;
}
/* line 380, ../scss/style.scss */
main .bg-grey > .contain > .row a .border .property-box .img-wrap img {
  width: 100%;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
/* line 389, ../scss/style.scss */
main .bg-grey > .contain > .row a .border .property-box h4 {
  line-height: 31px;
  color: #3c3c3c;
}
/* line 394, ../scss/style.scss */
main .bg-grey > .contain > .row a .border .property-box p {
  font-family: "Ubuntu", sans-serif;
}
/* line 398, ../scss/style.scss */
main .bg-grey > .contain > .row a .border .features {
  background-color: #efefef;
  text-align: center;
  padding: 0;
  border: 1px solid #fff;
  position: relative;
  font-family: "Ubuntu", sans-serif;
}
/* line 406, ../scss/style.scss */
main .bg-grey > .contain > .row a .border .features p {
  line-height: 43px;
  font-family: "Ubuntu", sans-serif;
}
/* line 411, ../scss/style.scss */
main .bg-grey > .contain > .row a .border .features:after {
  content: "";
  background: url(../images/arrow.jpg) no-repeat;
  width: 13px;
  height: 8px;
  position: absolute;
  top: -2px;
  right: 20px;
}
/* line 423, ../scss/style.scss */
main .bg-grey > .contain > .row a .rate {
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  color: #013354;
  margin-top: 10px;
  font-family: "Ubuntu", sans-serif;
}
/* line 433, ../scss/style.scss */
main .bg-grey > .contain > .row > .col-md-4 {
  width: 30.333333%;
}
/* line 435, ../scss/style.scss */
main .bg-grey > .contain > .row > .col-md-4 a {
  border: 0;
  box-shadow: none;
  margin-top: 12px;
}
/* line 445, ../scss/style.scss */
main .bg-white {
  position: relative;
  padding-bottom: 40px;
}
/* line 449, ../scss/style.scss */
main .bg-white .bg-img {
  position: absolute;
  bottom: 0;
  left: 158px;
}
/* line 458, ../scss/style.scss */
main .bg-white .contain > .row > .col-md-8 {
  width: 69.666667%;
}
/* line 461, ../scss/style.scss */
main .bg-white .contain > .row > .col-md-4 {
  width: 30.333333%;
}
/* line 466, ../scss/style.scss */
main .bg-white .contain .about-box {
  position: relative;
  background: rgba(255, 255, 255, 0.5);
}
/* line 470, ../scss/style.scss */
main .bg-white .contain .about-box p {
  color: #5a5a5a;
  font-weight: 400;
}
/* line 475, ../scss/style.scss */
main .bg-white .contain .about-box .btn-style {
  border: 1px solid #949494;
  background-color: #fff;
  line-height: 22px;
  font-family: 'Questrial', sans-serif;
  border-radius: 0;
  color: #013354;
  padding: 0 3px;
  position: absolute;
  bottom: -12px;
  right: 15px;
}
/* line 487, ../scss/style.scss */
main .bg-white .contain .about-box .btn-style:hover {
  background-color: #cbcbcb;
  color: #fff;
}

/* line 497, ../scss/style.scss */
.bx-wrapper {
  margin: 0;
}
/* line 500, ../scss/style.scss */
.bx-wrapper .bx-viewport {
  box-shadow: none;
  background: none;
  border: 0;
  left: 0;
}
/* line 507, ../scss/style.scss */
.bx-wrapper .bx-pager {
  display: none;
}

/* line 510, ../scss/style.scss */
.bx-wrapper .bx-controls-direction a {
  text-indent: 0;
  top: -15px;
  height: 18px;
  width: 18px;
  color: #fff;
  background-color: #cbcbcb;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
}
/* line 521, ../scss/style.scss */
.bx-wrapper .bx-controls-direction a:hover, .bx-wrapper .bx-controls-direction a:focus {
  background-color: #414d63;
}

/* line 526, ../scss/style.scss */
.bx-wrapper .bx-next {
  right: 0px;
}

/* line 531, ../scss/style.scss */
footer .bg-black {
  background: url(../images/bg-pattern-black.jpg) repeat;
}
/* line 534, ../scss/style.scss */
footer .bg-black .footer-nav {
  padding: 0;
}
/* line 536, ../scss/style.scss */
footer .bg-black .footer-nav li {
  margin:0 8px 0 8px;
  padding-right: 19px;
  font-size: 16px;
  color: #fff;
  text-shadow: 1px 0 0 #353535;
  line-height: 66px;
  display: inline-block;
  position: relative;
   font-family: 'montserratlight';
}
/* line 546, ../scss/style.scss */
footer .bg-black .footer-nav li:after {
  content: ".";
  position: absolute;
  color: #fff;
  height: 1px;
  width: 1px;
  right: 0;
  top: -3px;
}
/* line 556, ../scss/style.scss */
footer .bg-black .footer-nav li:last-child {
  padding: 0;
  margin: 0;
}
/* line 560, ../scss/style.scss */
footer .bg-black .footer-nav li:last-child:after {
  content: "";
}
/* line 568, ../scss/style.scss */
footer .bg-grey {
  background: url(../images/bg-pattern-grey.jpg) repeat;
  padding: 28px 0;
}
/* line 574, ../scss/style.scss */
footer .bg-grey .contain > .row > .col-md-9 {
  width: 79%;
}
/* line 577, ../scss/style.scss */
footer .bg-grey .contain > .row > .col-md-9 .breadcrumb {
  padding: 0;
  background: none;
}
/* line 582, ../scss/style.scss */
footer .bg-grey .contain > .row > .col-md-9 .breadcrumb li a {
  color: #57567a;
  line-height: 30px;
  text-transform: uppercase;
   font-family: 'montserratlight';
}
/* line 587, ../scss/style.scss */
footer .bg-grey .contain > .row > .col-md-9 .breadcrumb li a:hover {
  color: #000;
}
/* line 594, ../scss/style.scss */
footer .bg-grey .contain > .row > .col-md-9 img {
  margin-top: 48px;
}
/* line 598, ../scss/style.scss */
footer .bg-grey .contain > .row > .col-md-3 {
  width: 21%;
}
/* line 606, ../scss/style.scss */
footer .bg-white > .contain {
  padding: 15px 0;
}
/* line 611, ../scss/style.scss */
footer .bg-white > .contain > .row > .col-md-11 {
  width: 94.666667%;
}
/* line 614, ../scss/style.scss */
footer .bg-white > .contain > .row > .col-md-11 p {
  font-size: 12px;
  line-height: 30px;
}
/* line 617, ../scss/style.scss */
footer .bg-white > .contain > .row > .col-md-1 {
  width: 5.333333%;
}

/* line 625, ../scss/style.scss */
.breadcrumb > li + li:before {
  content: "|";
  padding: 0 10px;
  color: #57567a;
}

/* line 631, ../scss/style.scss */
.breadcrumb > .active {
  color: #121129;
  text-transform: uppercase;
}

/* line 636, ../scss/style.scss */
.nav > li > a:hover, .nav > li > a:focus {
  background: none;
  color: #efefef;
  border-color: #fff;
}

/* line 641, ../scss/style.scss */
.carousel-control.left, .carousel-control.right {
  background: #000;
}

/* line 643, ../scss/style.scss */
.carousel-control {
  height: 90px;
  width: 60px;
  top: 40%;
  opacity: 0.9;
}

/* line 650, ../scss/style.scss */
.glyphicon-chevron-left::before, .glyphicon-chevron-right::before {
  content: "";
  width: 25px;
  height: 45px;
  position: absolute;
  top: -5px;
  left: 0;
}

/* line 659, ../scss/style.scss */
.glyphicon-chevron-left::before {
  background: url(../images/arrow-left-carousel.png) no-repeat;
}

/* line 663, ../scss/style.scss */
.glyphicon-chevron-right::before {
  background: url(../images/arrow-right-carousel.png) no-repeat;
}

/* line 667, ../scss/style.scss */
.carousel-indicators {
  width: 100%;
  left: 0;
  margin-left: 0;
  background: rgba(255, 255, 255, 0.5);
  height: 40px;
  bottom: -10px;
  text-align: right;
  padding-right: 15px;
  padding-top: 10px;
}

/* line 679, ../scss/style.scss */
.carousel-indicators li, .carousel-indicators .active {
  height: 20px;
  width: 20px;
  background-color: #424242;
  border: 3px solid #fff;
}

/* line 686, ../scss/style.scss */
.carousel-indicators .active {
  position: relative;
}
/* line 689, ../scss/style.scss */
.carousel-indicators .active:after {
  position: absolute;
  content: "";
  background: url(../images/dot.jpg) no-repeat;
  width: 6px;
  height: 6px;
  top: 4px;
  left: 4px;
}

/******* inner pages******/
/* line 705, ../scss/style.scss */
.bg-pattern-grey {
  background: url(../images/bg-pattern-grey-1.jpg);
}
/* line 712, ../scss/style.scss */
.bg-pattern-grey main > .contain > .row.border-down {
  border-bottom: 1px solid #b1b1b1;
  margin: 0 0 25px 0;
}
/* line 718, ../scss/style.scss */
.bg-pattern-grey main h1 {
  margin-top: 0;
  line-height: 20px;
  margin-bottom: 10px;
}
/* line 724, ../scss/style.scss */
.bg-pattern-grey main .contain-white {
  background: #fff;
  border: 1px solid #d6d6d6;
  padding-top: 17px;
}
/* line 732, ../scss/style.scss */
.bg-pattern-grey main .contain-white.listing-details .row > .col-md-8 {
  width: 69.666667%;
}
/* line 736, ../scss/style.scss */
.bg-pattern-grey main .contain-white.listing-details .row > .col-md-4 {
  width: 30.333333%;
}
/* line 744, ../scss/style.scss */
.bg-pattern-grey main .contain-white .row > .col-md-8 {
  width: 69.666667%;
}
/* line 747, ../scss/style.scss */
.bg-pattern-grey main .contain-white .row > .col-md-8.alter-width {
  width: 70%;
}
/* line 752, ../scss/style.scss */
.bg-pattern-grey main .contain-white .row > .col-md-4 {
  width: 30.333333%;
}
/* line 755, ../scss/style.scss */
.bg-pattern-grey main .contain-white .row > .col-md-4.alter-width {
  width: 30%;
}
/* line 759, ../scss/style.scss */
.bg-pattern-grey main .contain-white .row > .col-md-4.alter-width-listings {
  width: 33.33333%;
}
/* line 764, ../scss/style.scss */
.bg-pattern-grey main .contain-white .row > .col-md-5 {
  width: 48.666667%;
}
/* line 766, ../scss/style.scss */
.bg-pattern-grey main .contain-white .row > .col-md-7 {
  width: 51.333333%;
}
/* line 768, ../scss/style.scss */
.bg-pattern-grey main .contain-white .row > .col-md-9 {
  width: 65.789474%;
}
/* line 770, ../scss/style.scss */
.bg-pattern-grey main .contain-white .row > .col-md-3 {
  width: 34.210526%;
}
/* line 773, ../scss/style.scss */
.bg-pattern-grey main .contain-white .about-box {
  padding: 27px 20px 0 20px;
}
/* line 777, ../scss/style.scss */
.bg-pattern-grey main .contain-white .about-box .heading-tlnt-box {
  color: #000;
  margin-bottom: 27px;
}
/* line 782, ../scss/style.scss */
.bg-pattern-grey main .contain-white .about-box .tlnt-box {
  margin-bottom: 27px;
}
/* line 785, ../scss/style.scss */
.bg-pattern-grey main .contain-white .about-box .tlnt-box .heading {
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 0 0 #353535;
  background: #979793;
  line-height: 25px;
  padding-left: 15px;
  position: relative;
}
/* line 796, ../scss/style.scss */
.bg-pattern-grey main .contain-white .about-box .tlnt-box .heading.no-img:after {
  display: none;
}
/* line 801, ../scss/style.scss */
.bg-pattern-grey main .contain-white .about-box .tlnt-box .heading.mw180 {
  max-width: 180px;
}
/* line 805, ../scss/style.scss */
.bg-pattern-grey main .contain-white .about-box .tlnt-box .heading.mw240 {
  max-width: 240px;
}
/* line 809, ../scss/style.scss */
.bg-pattern-grey main .contain-white .about-box .tlnt-box .heading.mw225 {
  max-width: 225px;
}
/* line 813, ../scss/style.scss */
.bg-pattern-grey main .contain-white .about-box .tlnt-box .heading.mw150 {
  max-width: 150px;
}
/* line 817, ../scss/style.scss */
.bg-pattern-grey main .contain-white .about-box .tlnt-box .heading:after {
  content: "";
  width: 26px;
  height: 25px;
  position: absolute;
  right: 0;
  background: url(../images/heading-after.jpg) no-repeat;
}
/* line 827, ../scss/style.scss */
.bg-pattern-grey main .contain-white .about-box .tlnt-box .body {
  background: url(../images/bg-testimonial.jpg) repeat;
  border: 1px solid #979793;
  padding: 15px;
  position: relative;
  overflow: hidden;
}
/* line 834, ../scss/style.scss */
.bg-pattern-grey main .contain-white .about-box .tlnt-box .body .bg_img {
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 843, ../scss/style.scss */
.bg-pattern-grey main .contain-white .fb-lb, .bg-pattern-grey main .contain-white .profile {
  margin-bottom: 27px;
  margin-top:-10px;
}
/* line 850, ../scss/style.scss */
.bg-pattern-grey main .property-text-wrap .property-name, .bg-pattern-grey main .property-text-wrap p, .bg-pattern-grey main .property-text-wrap .rate {
  margin-bottom: 10px;
}
/* line 852, ../scss/style.scss */
.bg-pattern-grey main .property-text-wrap .property-name {
  font-size: 28px;
  font-weight: 500;
  line-height: 25px;
  text-transform: capitalize;
  color: #000;
  font-family: "ubuntu";
}
/* line 859, ../scss/style.scss */
.bg-pattern-grey main .property-text-wrap .property-name:hover {
  color: #013354;
}
/* line 864, ../scss/style.scss */
.bg-pattern-grey main .property-text-wrap p {
  font-size: 16px;
  color: #6a6a6a;
  font-weight: 300;
  line-height: 24px;
}
/* line 871, ../scss/style.scss */
.bg-pattern-grey main .property-text-wrap .rate {
  font-size: 24px;
  padding: 8px 0;
  border-top: 1px solid #b1b1b1;
  border-bottom: 1px solid #b1b1b1;
  color: #353535;
}

.bg-pattern-grey main .property-text-wrap .rate img{
  margin-top: -4px;
  margin-right: -3px;
}

/* line 878, ../scss/style.scss */
.bg-pattern-grey main .property-text-wrap a {
  color: #013354;
  text-transform: uppercase;
}
/* line 882, ../scss/style.scss */
.bg-pattern-grey main .property-text-wrap a:hover {
  color: #000;
}
/* line 890, ../scss/style.scss */
.bg-pattern-grey main .listing-details h1 {
  font-size: 30px;
  color: #000;
  line-height: 34px;
  margin-bottom: 0;
}
/* line 897, ../scss/style.scss */
.bg-pattern-grey main .listing-details p {
  font-size: 16px;
  color: #6a6a6a;
  font-weight: 300;
  line-height: 24px;
}
/* line 904, ../scss/style.scss */
.bg-pattern-grey main .listing-details .btn-default {
  border-radius: 0;
  border-color: #a5a5a5;
}
/* line 908, ../scss/style.scss */
.bg-pattern-grey main .listing-details .btn-default.ml {
  margin-left: -4px;
}
/* line 911, ../scss/style.scss */
.bg-pattern-grey main .listing-details .btn-default.ml.bg-color {
  text-shadow: 1px 0 0 #353535;
  text-transform: uppercase;
  background: #6d6d6d;
  color: #fff;
  padding: 6px 20px;
}
/* line 922, ../scss/style.scss */
.bg-pattern-grey main .listing-details .inner-details li {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  padding-right: 14px;
}
/* line 928, ../scss/style.scss */
.bg-pattern-grey main .listing-details .inner-details li:after {
  padding-left: 18px;
  font-size: 16px;
}
/* line 933, ../scss/style.scss */
.bg-pattern-grey main .listing-details .inner-details li .big-txt {
  font-size: 24px;
  font-weight: 500;
  color: #013354;
  text-transform: capitalize;
}
/* line 942, ../scss/style.scss */
.bg-pattern-grey main .listing-details .property-rate {
  font-size: 28px;
  color: #353535;
  font-weight: 400;
  line-height: 30px;
  text-align: right;
}
/* line 950, ../scss/style.scss */
.bg-pattern-grey main .listing-details .nav-tabs {
  border: 0;
  margin-bottom: 40px;
}
/* line 954, ../scss/style.scss */
.bg-pattern-grey main .listing-details .nav-tabs > li {
  padding: 0 15px;
}
/* line 957, ../scss/style.scss */
.bg-pattern-grey main .listing-details .nav-tabs > li > a {
  font-size: 16px;
  text-transform: uppercase;
  color: #919191;
  padding: 3px 0px;
}
/* line 966, ../scss/style.scss */
.bg-pattern-grey main .listing-details .nav-tabs > li.active > a, .bg-pattern-grey main .listing-details .nav-tabs > li.active > a:hover, .bg-pattern-grey main .listing-details .nav-tabs > li.active > a:focus {
  border: 0;
  color: #013354;
  border-bottom: 2px solid #013354;
  position: relative;
}
/* line 972, ../scss/style.scss */
.bg-pattern-grey main .listing-details .nav-tabs > li.active > a:after, .bg-pattern-grey main .listing-details .nav-tabs > li.active > a:hover:after, .bg-pattern-grey main .listing-details .nav-tabs > li.active > a:focus:after {
  content: "";
  position: absolute;
  background: url(../images/hover.jpg) no-repeat;
  width: 9px;
  height: 5px;
  bottom: -7px;
  left: 45%;
}
/* line 983, ../scss/style.scss */
.bg-pattern-grey main .listing-details .tab-content {
  padding: 0 15px;
}
/* line 986, ../scss/style.scss */
.bg-pattern-grey main .listing-details .tab-content .big-itl {
  font-size: 26px;
  font-style: italic;
  line-height: 38px;
}
/* line 992, ../scss/style.scss */
.bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery {
  margin-bottom: 40px;
}
/* line 999, ../scss/style.scss */
.bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery .photo-slider .carousel-inner > .row > .col-md-6 {
  width: 50%;
}
/* line 1005, ../scss/style.scss */
.bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery .photo-slider a img {
  margin-bottom: 23px;
}
/* line 1009, ../scss/style.scss */
.bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery .photo-slider .carousel-control.left, .bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery .photo-slider .carousel-control.right {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: #636f85;
}
/* line 1016, ../scss/style.scss */
.bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery .photo-slider .carousel-control {
  top: 99%;
}
/* line 1020, ../scss/style.scss */
.bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery .photo-slider .carousel-control.left {
  left: 84%;
}
/* line 1024, ../scss/style.scss */
.bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery .photo-slider .glyphicon-chevron-left::before, .bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery .photo-slider .glyphicon-chevron-right::before {
  width: 15px;
  height: 23px;
  top: 3px;
}
/* line 1030, ../scss/style.scss */
.bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery .photo-slider .glyphicon-chevron-left::before {
  background: url(../images/photo-slider-left.png) no-repeat;
  left: 6px;
}
/* line 1035, ../scss/style.scss */
.bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery .photo-slider .glyphicon-chevron-right::before {
  background: url(../images/photo-slider-right.png) no-repeat;
  left: 9px;
}
/* line 1043, ../scss/style.scss */
.bg-pattern-grey main .listing-details .location {
  padding-left: 0;
  margin-top: 15px;
  margin-bottom: 19px;
  padding-bottom: 24px;
  border-bottom: 1px solid #b1b1b1;
}
/* line 1050, ../scss/style.scss */
.bg-pattern-grey main .listing-details .location li {
  display: inline-block;
}
/* line 1052, ../scss/style.scss */
.bg-pattern-grey main .listing-details .location li p {
  padding-left: 5px;
}
/* line 1058, ../scss/style.scss */
.bg-pattern-grey main .listing-details .contact-bg {
  background: url(../images/contact-bg.jpg) repeat;
  border: 1px solid #222222;
  max-width: 320px;
  height: 242px;
}
/* line 1064, ../scss/style.scss */
.bg-pattern-grey main .listing-details .contact-bg h2 {
  font-size: 18px;
  text-align: center;
  color: #919191;
  line-height: 22px;
  padding-top: 40px;
  margin-bottom: 7px;
}
/* line 1073, ../scss/style.scss */
.bg-pattern-grey main .listing-details .contact-bg .contact-info {
  padding: 13px 11px;
}
/* line 1076, ../scss/style.scss */
.bg-pattern-grey main .listing-details .contact-bg .contact-info .img-wrap {
  float: left;
}
/* line 1080, ../scss/style.scss */
.bg-pattern-grey main .listing-details .contact-bg .contact-info .txt-wrap {
  float: left;
  padding-left: 15px;
  color: #073758;
}
/* line 1085, ../scss/style.scss */
.bg-pattern-grey main .listing-details .contact-bg .contact-info .txt-wrap h1 {
  font-size: 22px;
}
/* line 1089, ../scss/style.scss */
.bg-pattern-grey main .listing-details .contact-bg .contact-info .txt-wrap .sm-heading {
  font-size: 10px;
  text-transform: uppercase;
  padding-bottom: 20px;
  display: block;
}
/* line 1096, ../scss/style.scss */
.bg-pattern-grey main .listing-details .contact-bg .contact-info .txt-wrap a {
  text-transform: uppercase;
  display: block;
  font-size: 16px;
  color: #6f6f6f;
  margin-bottom: 8px;
}
/* line 1104, ../scss/style.scss */
.bg-pattern-grey main .listing-details .contact-bg .contact-info .txt-wrap p {
  font-family:"pier";
  padding-left: 17px;
}

.bg-pattern-grey main .listing-details .contact-bg .contact-info .txt-wrap p img{
  margin-right: -8px;
}

/* line 1113, ../scss/style.scss */
.bg-pattern-grey main .contact-form {
  margin-top: 20px;
}
/* line 1116, ../scss/style.scss */
.bg-pattern-grey main .contact-form label {
  font-weight: 300;
  color: #686767;
  text-transform: capitalize;
}
/* line 1122, ../scss/style.scss */
.bg-pattern-grey main .contact-form .form-control {
  border-radius: 0;
  border: 1px solid #d5d4cd;
  background: #f8f8f8;
}
/* line 1128, ../scss/style.scss */
.bg-pattern-grey main .contact-form em {
  color: #686767;
}
/* line 1132, ../scss/style.scss */
.bg-pattern-grey main .contact-form .radio, .bg-pattern-grey main .contact-form .checkbox {
  margin-top: 22px;
  margin-bottom: 31px;
}
/* line 1137, ../scss/style.scss */
.bg-pattern-grey main .contact-form .radio input[type=radio], .bg-pattern-grey main .contact-form .radio-inline input[type=radio], .bg-pattern-grey main .contact-form .checkbox input[type=checkbox], .bg-pattern-grey main .contact-form .checkbox-inline input[type=checkbox] {
  margin-left: 5px;
}
/* line 1139, ../scss/style.scss */
.bg-pattern-grey main .contact-form .radio label, .bg-pattern-grey main .contact-form .checkbox label {
  padding-left: 0;
}
/* line 1142, ../scss/style.scss */
.bg-pattern-grey main .btn-pattern {
  background: url(../images/btn-bg.jpg) repeat;
  border: 1px solid #000;
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
  width: 260px;
  padding: 9px 0;
  margin-bottom: 15px;
}
/* line 1152, ../scss/style.scss */
.bg-pattern-grey main .btn-pattern:hover {
  color: #000;
}
/* line 1159, ../scss/style.scss */
.bg-pattern-grey main .jc-details h2 {
  color: #073758;
  line-height: 25px;
  margin-bottom: 5px;
}
/* line 1161, ../scss/style.scss */
.bg-pattern-grey main .jc-details address, .bg-pattern-grey main .jc-details .contact-info {
  color: #6f6f6f;
  font-size: 17px;
  font-family: "pier";
  text-transform: capitalize;
}
/* line 1169, ../scss/style.scss */
.bg-pattern-grey main .bg-pattern-brick {
  background: url(../images/bg-brick.jpg) no-repeat;
  margin: 0 -15px;
  padding: 18px 5px;
}
/* line 1175, ../scss/style.scss */
.bg-pattern-grey main .bg-pattern-brick .bg-dropshadow {
  background-color: #fff;
  padding: 14px 25px;
  box-shadow: 0 0 5px #adadad;
}
/* line 1180, ../scss/style.scss */
.bg-pattern-grey main .bg-pattern-brick .bg-dropshadow h2 {
  color: #073758;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 18px;
}
/* line 1187, ../scss/style.scss */
.bg-pattern-grey main .bg-pattern-brick .bg-dropshadow p {
  color: #6f6f6f;
  line-height: 22px;
  font-size: 13px;
  margin: 15px 0;
}
/* line 1194, ../scss/style.scss */
.bg-pattern-grey main .bg-pattern-brick .bg-dropshadow .btn-pattern {
  margin-bottom: 12px;
  max-width: 167px;
}
/* line 1198, ../scss/style.scss */
.bg-pattern-grey main .bg-pattern-brick .bg-dropshadow .btn-pattern .after {
  position: relative;
}
/* line 1201, ../scss/style.scss */
.bg-pattern-grey main .bg-pattern-brick .bg-dropshadow .btn-pattern .after:after {
  content: "";
  background: url(../images/btn-border.jpg) no-repeat;
  position: absolute;
  width: 1px;
  height: 25px;
  top: -5px;
  right: 0;
  padding-right: 10px;
}
/* line 1213, ../scss/style.scss */
.bg-pattern-grey main .bg-pattern-brick .bg-dropshadow .btn-pattern img {
  padding-right: 20px;
}
/* line 1222, ../scss/style.scss */
.bg-pattern-grey main .testimonials h1 {
  margin-bottom: 70px;
}
/* line 1226, ../scss/style.scss */
.bg-pattern-grey main .testimonials > .row > .col-md-10 {
  width: 85.333333%;
  margin-bottom: 60px;
}
/* line 1230, ../scss/style.scss */
.bg-pattern-grey main .testimonials > .row > .col-md-10.col-md-offset-1 {
  margin-left: 7.333333%;
}
/* line 1236, ../scss/style.scss */
.bg-pattern-grey main .testimonials .testimonials-wrap {
  border: 1px solid #000;
  padding: 30px 15px 20px 15px;
  margin-bottom: 10px;
  position: relative;
}
/* line 1242, ../scss/style.scss */
.bg-pattern-grey main .testimonials .testimonials-wrap p {
/*  text-transform: uppercase;*/
  color: #5a5a5a;
}
/* line 1247, ../scss/style.scss */
.bg-pattern-grey main .testimonials .testimonials-wrap img {
  position: absolute;
  height: 36px;
  width: 36px;
  top: -18px;
  left: 48%;
}
/* line 1256, ../scss/style.scss */
.bg-pattern-grey main .testimonials .person-details {
  text-transform: capitalize;
  font-family: "pier";
}
/* line 1260, ../scss/style.scss */
.bg-pattern-grey main .testimonials .person-details .person-name {
  font-size: 20px;
  color: #393939;
}
/* line 1265, ../scss/style.scss */
.bg-pattern-grey main .testimonials .person-details .person-address {
  font-size: 14px;
  color: #8e8e8e;
}

.form-submission-page p{
  font-size: 18px;
  text-transform: uppercase;
  color: #082862;
  margin-bottom: 30px;
  font-family: "pier";
  line-height: 25px;
}

.bg-pattern-grey main h1.border-bottom{
  position: relative;
  margin-bottom: 40px;
}

.bg-pattern-grey main h1.border-bottom:after{
  position: absolute;
  content: "";
  background: #082862;
  height: 2px;
  width: 349px;
  bottom: -10px;
  left: 32%;
}

.bg-pattern-grey main ul.page-links{
  text-align: center;
  padding: 0;
  margin-bottom: 35px;
}

.bg-pattern-grey main ul.page-links li{
  position: relative;
  display: inline-block;
  border-radius: 50px;
  border: 3px solid #676767;
  width: 261px;
  text-align: center;
  margin-right: 16px;
  background: #676767;
}

.bg-pattern-grey main ul.page-links li.active{
  background: -webkit-linear-gradient(#f9f9f9, #cfcfcf); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f9f9f9, #cfcfcf); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f9f9f9, #cfcfcf); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f9f9f9, #cfcfcf); /* Standard syntax */
}

.bg-pattern-grey main ul.page-links li.active a{
  color: #082862;
}

.bg-pattern-grey main ul.page-links li:last-child{
  margin-right: 0;
}

.bg-pattern-grey main ul.page-links li:last-child:after{
  display: none;
}

.bg-pattern-grey main ul.page-links li:after{
  content: "";
  position: absolute;
  background: #676767;
  width: 20px;
  height: 4px;
  top: 40%;
  right: -23px;
}

.bg-pattern-grey main ul.page-links li a{
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
}

.form-submission-page .form-horizontal .form-group{
  margin-bottom: 25px;
}

.form-submission-page .form-horizontal .form-group .form-control{
  border-radius: 0;
  border-color: #919191;
  height: 41px;
}

.form-submission-page .form-horizontal .form-group label{
  font-family: "pier";
  font-size: 14px;
  font-weight: 500;
  color: #393939;
}

.form-submission-page .form-horizontal .form-group label.required-field{
  position: relative;
}

.form-submission-page .form-horizontal .form-group label.control-label{
  text-align: left;
}

.form-submission-page .form-horizontal .btn-pattern{
  margin: 20px 0 40px 0;
}

.form-submission-page .form-horizontal .btn-pattern:hover{
  color: #fff;
}

.form-submission-page .form-horizontal .btn-pattern img{
  margin-top: -2px;
}

.form-submission-page .form-horizontal .form-group select.form-control{}

.form-submission-page .form-horizontal .form-group label.col-md-2{
  width: 24.666667%;
}

.form-submission-page .form-horizontal .form-group label.col-md-2.col-md-offset-2{
  margin-left: 12.666667%;
}

.form-submission-page .form-horizontal .form-group > .col-md-6 > .row > .col-md-4{
  width:33.3333333%;
}

.bg-pattern-grey main .form-submission-page > .row > .col-md-5{
  width: 42.6%;
  margin-left: 4.8%;
}

.form-submission-page .customizable-form .heading{
  width: 100%;
  background: #676767;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}

.form-submission-page .customizable-form .heading a img{
  position: absolute;
  right: 15px;
}


.form-submission-page .customizable-form .body{
  border:1px solid #676767;
  padding: 20px 20px 0 20px;
  margin-bottom: 40px;
}

.form-submission-page .customizable-form .body .table>thead>tr>th, .form-submission-page .customizable-form .body .table>tbody>tr>th, .form-submission-page .customizable-form .body .table>tfoot>tr>th, .form-submission-page .customizable-form .body .table>thead>tr>td, .form-submission-page .customizable-form .body .table>tbody>tr>td, .form-submission-page .customizable-form .body .table>tfoot>tr>td{
  border:0;
  margin-bottom: 0;
  padding:5px 0;
  font-size: 15px;
  font-family: "pier";
  color: #393939;
  font-weight: 500;
}

.form-submission-page .customizable-form .body .table-responsive{
  border:0;
}

.lending-background{
  background: url(../images/lending-background.jpg) no-repeat;
  width: 100%;
  min-height: 347px;
  position: relative;
}

.lending-background .text-top{
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 50px;
  font-family: "pier";
  font-weight: 500;
  text-shadow: 1px 0 0 #353535;
  padding:20px 25px;
}

.lght-blue{
  color: #9ca9c2;
}

.lending-background .logo-lending{
  position: absolute;
  bottom: 20px;
  left: 23px;
}

.lending-background .text-bottom{
  width: 390px;
  background: rgba(0,0,0,0.7);
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  padding: 25px 16px 32px 16px;
  height: 255px;
  position: absolute;
  right: 40px;
}

.lending form.application-form{
  border:1px solid #113b4f;
  background: url(../images/apl-form-bg.jpg) no-repeat;
  width: 100%;
  margin: 40px 0;
  padding: 20px 35px;
}

.lending form.application-form label{
  font-size: 14px;
  text-transform: uppercase;
  color: #5d5d5d;
  font-weight: 500;
}

.lending form.application-form .form-group{
  margin-bottom: 25px;
}

.lending form.application-form .form-control{
  height: 38px;
  border:1px solid #787878;
}

.lending form.application-form .btn-pattern{
  margin:15px 0 5px 0;
}

.bg-pattern-grey main .lending > .row > .col-md-5{
  width: 44.4%;
}

.bg-pattern-grey main .lending > .row > .col-md-5.col-md-offset-1{
  margin-left: 5.333333%;
}

.lending h1.large-heading {
  color: #fff;
  font-size: 48px;
  font-weight: 500;
  padding: 35px 0 0 38px;
  margin-bottom: 90px;
}
.lending h1.large-heading a{
 color: #fff;
}
.bg-pattern-grey main .lending h1.border-bottom{
  font-size: 24px;
  text-align: center;
  margin-bottom: 35px;
}

.bg-pattern-grey main .lending h1.border-bottom:after{
  width: 260px;
  height: 1px;
  left: 14%;
  bottom: -15px;
}

.lending .number-holder{
  border-radius: 50%;
  width: 52px;
  height: 52px;
  border: 2px solid #a8a8a8;
  text-align: center;
  padding: 8px 0;
  float: left;
  margin:0 20px 0 30px;
  position: relative;
  font-family: "pier";
  font-size: 26px;
}

.lending .number-holder:after{
  position: absolute;
  content: "";
  height: 34px;
  width: 2px;
  background: #a8a8a8;
  bottom: -35px;
  left: 50%;
}

.lending .number-holder.no-img-after:after{
  display: none;
}

.lending .text-holder{
  float: left;
  width: 55%;
  margin-bottom: 25px;
}

.lending .text-holder h4{
  font-size: 18px;
  color: #273444;
  font-family: "ubuntu";
  margin-bottom: 5px;
}

.lending .text-holder p{
  color: #959595;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
}

.testimonial-post{margin-bottom:40px;}
#loader{margin: 30px auto; text-align: center}
#loader img{margin : 0 auto}

.lending h1.large-heading a:hover{
  color: orange;
}

.form-submission-page .form-horizontal .form-group label.error{
  color: red;
  font-size: 11px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
  background:none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border:none; 
}

.bg-pattern-grey main .contain-white .fb-lb, .bg-pattern-grey main .contain-white .profile a{
  display: block;text-align: center;
}

.text-center .bg-primary-cust{
  background:none;
  border:1px solid #333333;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 30px;
}

.bg-pattern-grey main .contact-form label.error {
  color: red;
  font-size: 11px;
}

.profile-widgt{
  margin: 0 auto;
}

body > .container.contain.for-nav{
  background: none;
  margin-top: -519px;
  margin-bottom: 631px;
  padding: 0;
}

.custom-nav{
  border-radius: 0;
  border: 0;
  height: 75px;
  background: #fff;
  border-bottom: 2px solid #efefef;
}

.custom-nav.navbar-default .navbar-toggle{
    margin-top:15px !important;
  border: none;
  z-index: 100001;
}

.custom-nav .navbar-default .navbar-toggle .icon-bar{
  background: #FFF;
  height: 4px;
  width: 30px;
  box-shadow: 1px 1px #A3A3A3;
}

.custom-nav.navbar-default .navbar-collapse, .custom-nav.navbar-default .navbar-form{
 background: #323232;
 z-index: 10000;
 position: absolute;
 width: 107%;
 text-align: center;
 left: 0;
 margin-top: 20px;
}

.custom-nav .navbar-nav{
  padding: 60px;
}

.custom-nav.navbar-default .navbar-nav > li > a {
  padding: 10px 0;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  padding: 14px 0;
  font-size: 20px;
}

.custom-nav.navbar-default .navbar-nav > li > a:hover, .custom-nav.navbar-default .navbar-nav > li > a.active{
  color: orange;
}

.custom-nav.inner-nav.navbar-default{
  margin-bottom: 0;
}

.container.contain.for-inner-page{
  z-index: 1000;
}

.main-nav {
  position: relative; 
}

.main-nav {
  background: #fff;
}

.main-nav-scrolled{
  position: fixed;
  width: 100%;
  z-index: 99999;
  top: 0;
  margin:0 !important;
}

.inner-nav.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{
  max-height: 423px;
}
 


