/*---------------------- custom styles for admin -----------------------------*/

.sidebar-search input, .input-group-btn > button, .form-control, .panel, .panel > .panel-heading, .btn{
    -webkit-border-radius: 0px;
    border-radius: 0px;
   
}

td.has-image img{
    max-height: 100px;
}

.right{
	float: right !important;
}

.table{
	margin-bottom: 0;
}




.login-logo img{
    margin : 0 auto;
}

.login-panel.panel.panel-default .btn.btn-success{
    background:#1b1b1b;
    border:1px solid #000;
    color:#fff;
}

.login-panel.panel.panel-default .btn.btn-success:hover{
    background: #3c3c3c;
}

.panel-heading input{
    width:300px !important;
    height:30px !important;
}

.property-image{
    margin-bottom: 30px;
}