/* fonts used

>> sanford...

>> atletico

>> ubuntu ....

>> french script mt

itcavantgardestd bk

>> CaneletterScriptpersonaluse

*/

/* custom css */



/*this is a custom wrapping styles*/

.wrap-all{margin:0;padding:0}.wrap-top{margin-top:0;padding-top:0}.wrap-right{margin-right:0;padding-right:0}.wrap-bottom{margin-bottom:0;padding-bottom:0}.wrap-left{margin-left:0;padding-left:0}.wrap-not-top{margin-right:0;margin-left:0;margin-bottom:0;padding-right:0;padding-left:0;padding-bottom:0}.wrap-not-right{margin-top:0;margin-left:0;margin-bottom:0;padding-top:0;padding-left:0;padding-bottom:0}.wrap-not-bottom{margin-top:0;margin-left:0;margin-right:0;padding-top:0;padding-left:0;padding-right:0}.wrap-not-left{margin-top:0;margin-bottom:0;margin-right:0;padding-top:0;padding-bottom:0;padding-right:0}.pad-top-bs{padding-top:15px}.pad-right-bs{padding-right:15px}.pad-bottom-bs{padding-bottom:15px}.pad-left-bs{padding-left:15px}.mar-top-bs{margin-top:15px}.mar-right-bs{margin-right:15px}.mar-bottom-bs{margin-bottom:15px}.mar-left-bs{margin-left:15px}



/*this is for custom grid & styles css*/

.pad5{padding-top:5px}.pad10{padding:5px}.pad15{padding-top:15px}.pad20{padding-top:10px}



.img-full{width:100% !important;}



.center-block.inline{

	display:inline-block;

}



a:focus{

	outline: none;

}



a.logo-wrapper{

	width: auto;

	height: auto;

	display: inline-block;

}





/*use to import local fonts*/



@font-face {

	font-family: sanford;

	src: url("../fonts/sanford.ttf")

}



@font-face {

	font-family: a_atletico;

	src: url("../fonts/atletico.otf")

}



@font-face {

	font-family: frenchScript;

	src: url("../fonts/curve.ttf")

}



@font-face {

	font-family: caneletter;

	src: url("../fonts/caneletter.otf")

}



/*---------------------------------------------------- default styles ---------------------------------------------------------*/



body{

	border-top: #A60001 3px solid;

	font-family: 'Ubuntu', sans-serif;

	background:url('../images/bg-top.jpg') no-repeat;

}
body.home{

	border-top: #A60001 3px solid;

	font-family: 'Ubuntu', sans-serif;

	background:url('../images/bg.jpg') no-repeat;

}


.contain{

	max-width: 1050px;

	margin-left: auto;

	margin-right: auto;

}







/*---------------------------------------------------- menu styles ---------------------------------------------------------*/



.navbar-default{

	background: transparent;

	border: 0px;

	-webkit-box-shadow: none;

	box-shadow: none;

	-webkit-border-radius: 0px;

	border-radius: 0px;

	border-top: 1px solid #000;

	border-bottom: 3px solid #000;

	margin: 20px 0 50px;

}



.navbar-default .navbar-nav>li>a{

	color: #000;

	font-family: a_atletico;

	font-size: 20px;

	text-transform: uppercase;

	position: relative;

	padding: 15px 25px;

}



.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{

	background: none !important;

	border: 0px;

	-webkit-box-shadow: none;

	box-shadow: none;

	color: #000;

}



.navbar-default .navbar-nav>.active>a:after, .navbar-default .navbar-nav>li:hover>a:after, .navbar-default .navbar-nav>.active>a:focus:after{

	content: "";

	height: 7px;

	background: #A60001;

	left: 20%;

	bottom: -5px;

	position: absolute;

	right: 20%;

}



@media (min-width: 768px){

	.navbar-nav{

		float:none;

		margin: 0 auto;

		display: table;

		table-layout: fixed;

	}



}



/*---------------------------------------------------- page styles ---------------------------------------------------------*/



.pro_attribute{

	color: #85597D;

	font-family: sanford;

	font-weight: bold;

	font-size: 24px;

}



img.logo{

	margin: 20px auto 10px;

}



/*---------------------------------------------------- Header ---------------------------------------------------------*/



a.pro-views{

	text-decoration: none;

	position: relative;

	margin-top: 10px;

	display: block;

	float: right;

	font-family: a_atletico;

	text-transform: uppercase;

	font-size: 15px;

	background: #D0BFDE;

	line-height: 20px;

	color: #000;

	padding: 10px 15px;

	right: 5%;

}



a.pro-views:before{

	content: "\00bb";

	border-left: 1px solid #FFF;

	position: absolute;

	top: 0;

	bottom: 0;

	line-height: 35px;

	right: -20px;

	background: #D0BFDE;

	padding: 0 0px 0 5px;

	font-size: 20px;;

}



a.pro-views:after{

	content: "";

	position: absolute;

	font-size: 15px;

	top: 0;

	line-height: 0px;

	display: inline-block;

	border-top: 20px solid transparent;

	border-bottom: 20px solid transparent;

	border-left: 20px solid rgb(208, 191, 222);

	right: -40px;

}



a.pro-views img{

	right: 99.5%;

	position: absolute;

	top: -5px;

}



.intro{

	margin: 20px 0 30px;

	background: url(../images/intro-bg.png) no-repeat 0px 4px;

	padding: 10px 30px 10px;

	display: block;

	border-top: 1px solid #000;

}



.hr-img{

	margin: 10px auto;

}

.detail{
	font-size: 15px;
	line-height: 22px;
	color: #000;
	font-family: 'Ubuntu', sans-serif;
}

.heading-wrap{

	margin-top: 30px;

	margin-bottom: 50px;

}



.main_heading{


	text-align: center;

	font-family: caneletter;

	margin: 0px;


	color: #21003F;
	line-height: 50px;
	font-size: 40px;

}



.caps-heading{

	text-align: center;

	display: block;

	margin-bottom: 20px;

}



.caps-heading span.white{

	background: #F4F4F4;

	padding: 0 20px;

	text-transform: uppercase;

	font-family: a_atletico;

	font-size: 40px;

	line-height: 40px;

	color: #000;

}



.caps-heading:after{

	content: "";

	display: block;

	line-height: 0px;

	border-top: 1px solid #8C919B;

	border-bottom: #8C919B 3px solid;

	height: 7px;

	margin-top: -21px;

}



.caps-heading + .sub-heading{

	text-transform: uppercase;

	text-align: center;

	font-family: a_atletico;

	font-size: 20px;

	color: #8B919B;

}



.caps-heading-info{

	font-size: 14px;

	color: #8B919B;

	font-family: a_atletico;

	margin: 10px 0 5px;

	text-transform: uppercase;

}



.caps-heading-info small{

	font-size: 12px;

	line-height: 20px;

}



.date{

	font-family: 'Ubuntu', sans-serif;

	font-weight: 100;

}



a:hover .caps-heading-title{

	color: #AF1318;

}



a:hover > .gallery-img > img{

	opacity: 0.8;

}



.caps-heading-title{

	font-family: a_atletico;

	font-size: 21px;

	text-transform: capitalize;

	color: #000;

	line-height: 30px;

	margin: 0;

	text-align: center;

}



h1.caps-heading-title{

	font-size: 35px;

	margin-bottom: 20px;

}



h1.caps-heading-title.text-left{

	font-size: 32px;

	line-height: 40px;

	text-align: left;

}



.red{

	color: #AF1318 !important;

	font-weight: 400;

}



strong.red{

	font-weight: 700;

}



.blog_article{

	font-size: 16px;

	color: #5F5F5F;

	line-height: 28px;

	margin-top: 20px;

}



.blog_article p strong{

	color: #000;

}



.blog_article p{

	margin-bottom: 25px;

}



hr.dotted{

	width: 70%;

	border-top: 1px dotted #ACACAC;

	margin: 5px auto;

}



hr.dotted-lg{

	border-color: #000;

	border-style: dotted;

}



.post-desc{

	color: #333;

	font-size: 15px;

	font-family: 'Ubuntu', sans-serif;

}



.underlined{

	border-bottom:1px solid #000;

	font-size:17px;

	font-weight:bold;

	font-family:'Ubuntu', sans-serif;

	text-transform:capitalize;

	padding-bottom:5px;

	margin:0px;

}



.article_main{

	background: url('../images/grain.jpg') repeat;

	position: relative;

	font-family: 'Ubuntu', sans-serif;

	font-weight: 400;

	font-size: 20px;

	line-height: 32px;

	padding: 20px 60px;

	color: #333;

	border: #C7C7C7 1px solid;

}



.profile_img{

	display: block;

	text-align: center;

}



.profile_user{

	display: inline-block;

	width: auto;

	position: relative;

}



ul.profile_user_social{

	left: 100%;

	position: absolute;

	padding: 5px 7px;

	top: 10%;

	background: #416195;

}





ul.profile_user_social li a span{

	color: #000;

	-webkit-transition: all ease 0.2s;

	-moz-transition: all ease 0.2s;

	-ms-transition: all ease 0.2s;

	-o-transition: all ease 0.2s;

	transition: all ease 0.2s;

}



ul.profile_user_social li a:hover span{

	color: #FFF;

}



aside .article_main{

	margin-bottom: 35px;

	padding: 20px;

	padding-top: 70px;

}



aside .article_main.clean{

	padding: 20px 0;

}



aside .article_main .title_heading{

	/*	left:15%;*/

	left: 15%;

	right: 15%;

	margin: 0px auto;

	position: absolute;

	display: block;

	top: 0;

}



aside .article_main h4.caps-heading-info{

	font-size: 10px;

}



aside .article_main h2.caps-heading-title{

	font-size: 15px;

	text-align: left;

}



aside hr.dotted{

	margin: 15px auto 10px;

}



aside .col-sm-12{

	margin: 7px 0;

	border-bottom: 1px dotted #ACACAC;

	padding: 0px;

	padding-bottom: 10px;

}



img.border{

	position: absolute;

	display: block;

}



img.border.border1{top:5px;left:5px;}



img.border.border2{top:5px;right:5px;}



img.border.border3{bottom:5px;right:5px;}



img.border.border4{bottom:5px;left:5px;}



.row>img.border.border1{top:-2px;left:-2px;}



.row>img.border.border2{top:-2px;right:-2px;}



.row>img.border.border3{bottom:-2px;right:-2px;}



.row>img.border.border4{bottom:-2px;left:-2px;}



.article_main .title_heading{

	background: #A60001;

	position: relative;

	display: inline-block;

	padding: 9px 10px;

	text-transform: uppercase;

	font-family: a_atletico;

	font-size: 20px;

	color: #FFF;

	left: 10%;

	margin-top: -10px;

	top: -10px;

	text-align: center;

	margin-left: -4px;

}



p.with-quote{

	position: relative;

	font-size: 16px;

	z-index: 1;

	line-height: 25px;

}



p.small{

	position: relative;

	z-index: 99;

	font-family: 'Ubuntu', sans-serif;

	font-size: 14px;

	line-height: 22px;

	font-weight: 400;

}



img.with-quote{

	top: 12%;

	z-index: -1;

	right: 6%;

	position: absolute;

}



.dotted-wrapper{

	display: block;

	position: relative;

	margin-top: 100px;

	margin-bottom: 100px;

}



.dotted-bg{

	padding: 10px;

	background: url(../images/dotted.jpg) repeat;

	border: #C7C7C7 1px solid;

	position: relative;

}



.dotted-bg > .row{

	border: 1px solid #ACACAC;

	padding: 23px 50px;

	position: relative;

	margin: 5px;

}



.dotted-bg.with-shadow:after{

	content: "";

	position: absolute;

	color: #C8C8C8;

	bottom: -16px;

	display: block;

	border-right: 30px solid transparent;

	border-left: 30px solid transparent;

	border-top: 15px solid #C8C8C8;

	left: 0px;

	right: 0px;

	z-index: -1;

}



.family_id{

	display: block;

	position: absolute;

	top: -140px;

	right: -30px;

}



.article_main .title_heading img{

	vertical-align: text-bottom;

}



.pro-says{

	background: url('../images/sayings.png') center no-repeat;

	background-position-y: 125%;

}



.pro-says > p.saying{

	font-family: frenchScript;

	font-size: 40px;

	line-height: 44px;

}



.pro-says h3{

	padding-right: 120px;

	margin-top: 40px;

	text-align: center;

	font-weight: 400;

	color: #000;

}



#carousel_photo_gallery .item a{

	text-decoration: none;

}



#carousel_photo_gallery .item img{

}



#carousel_photo_gallery .carousel-control.left, #carousel_photo_gallery .carousel-control.right {

	top: 26%;

	background: none;

	bottom: 60%;

	opacity: 1;

	width: 4%;

}



#carousel_photo_gallery .item .col-sm-3{

	margin: 14px 0px;

}



#carousel_photo_gallery a:hover .red{

	color: #900;

}



.carousel-control:focus, .carousel-control:hover{

	opacity: 0.75 !important;

}



#carousel_photo_gallery .carousel-control.left{left:-50px;}



#carousel_photo_gallery .carousel-control.right{right:-50px;}



#gallery-inner #carousel_photo_gallery .carousel-control.left, #gallery-inner #carousel_photo_gallery .carousel-control.right {

	top: 45%;

	background: none;

	bottom: 45%;

	opacity: 1;

	width: 4%;

}

#gallery-inner #carousel_photo_gallery .carousel-control.left{left:-50px;}



#gallery-inner #carousel_photo_gallery .carousel-control.right{right:-50px;}



a.gallery{

	margin: 30px 0;

	text-decoration: none;

	display: block;

}



a.gallery img, a.gallery h2{

	-webkit-transition: all ease 0.25s;

	-moz-transition: all ease 0.25s;

	-ms-transition: all ease 0.25s;

	-o-transition: all ease 0.25s;

	transition: all ease 0.25s;

}



a:hover.gallery img{

	opacity: 0.8;

}



a:hover.gallery h4{

	color: #900;

}



.btn.btn-ghost{

	border: 3px solid #000;

	font-family: a_atletico;

	font-size: 16px;

	color: #000;

	-webkit-border-radius: 0px;

	border-radius: 0px;

	text-transform: uppercase;

	background: #FFF;

	padding: 10px 30px;

	-webkit-transition: all ease 0.25s;

	-moz-transition: all ease 0.25s;

	-ms-transition: all ease 0.25s;

	-o-transition: all ease 0.25s;

	transition: all ease 0.25s;

	margin: 25px 0 5px;

}



a.btn.btn-ghost.btn-danger{

	display: inline-block;

	padding: 5px 15px;

	font-size: 14px;

	color: #A50001;

	background: #FFF;

	border: #A50001 2px solid;

	z-index: 9;

	position: relative;

}



a.btn.btn-ghost.btn-danger:hover{

	background: #FFF;

	color: #000;

	border: #000 2px solid;

}



.btn.btn-ghost:hover{

	background: #333;

	color: #FFF;

}



.btn.btn-main{

	-webkit-box-shadow: none;

	box-shadow: none;

	font-family: caneletter;

	font-size: 46px;

	color: #AD090B;

	width: 353px;

	overflow: hidden;

	background: url(../images/button_main.png) no-repeat 100% 100%;

	line-height: 48px;

	margin-bottom: -4px;

	-webkit-transition: all ease 0.25s;

	-moz-transition: all ease 0.25s;

	-ms-transition: all ease 0.25s;

	-o-transition: all ease 0.25s;

	transition: all ease 0.25s;

}



.btn.btn-main:hover{

	color: #000;

}



a.choose-tag{

	display: block;

	position: relative;

	overflow: hidden;

	-webkit-transition: all ease 0.25s;

	-moz-transition: all ease 0.25s;

	-ms-transition: all ease 0.25s;

	-o-transition: all ease 0.25s;

	transition: all ease 0.25s;

}



a.choose-tag:hover:after{

	content: "";

	position: absolute;

	background: rgba(173, 9, 11, 0.45);

	width: 100%;

	top: 0;

	bottom: 0;

}



a.choose-tag img.img-full{

	-webkit-transition: all ease 0.3s;

	-moz-transition: all ease 0.3s;

	-ms-transition: all ease 0.3s;

	-o-transition: all ease 0.3s;

	transition: all ease 0.3s;

}



a.choose-tag:hover img.img-full{

	z-index: -1;

	-webkit-transform: scale(1.2) rotate(10deg);

	-moz-transform: scale(1.2) rotate(10deg);

	-ms-transform: scale(1.2) rotate(10deg);

	-o-transform: scale(1.2) rotate(10deg);

	transform: scale(1.2) rotate(10deg);

}



.choice-caption{

	bottom: 10%;

	position: absolute;

	background: #000;

	width: 100%;

	padding: 10px 25px;

	display: block;

	z-index: 9;

}



.choice-caption img{

	max-height: 52px;

}



article#contact_page{

	margin-bottom: 40px;

}



.profile_article_wrap {

	padding: 0px;

	width: 737px;

	margin-left: 3px;

}



.profile_pane{

	background:url(../images/profile_pane.jpg) repeat-y;

	padding:20px 15px;

	width:279px;

}



.profile_header{

	padding-left: 30px;

	font-family: 'Ubuntu', sans-serif;

	font-weight: bold;

	font-size: 22px;

	color: #001B45;

	text-transform: capitalize;

	line-height: 40px;

	border-bottom: 1px solid #000;

}



.pro-row{

	padding-bottom: 20px;

	margin-bottom: 30px;

	border-bottom: 1px dotted #ACACAC;

}



.pro-row:after{

	clear: both;

}



.pro_field p{

	font-weight: 400;

	font-family: 'Ubuntu', sans-serif;

	font-size: 16px;

	color: #000;

}



.pro-title{

	margin: 0;

	font-size: 16px;

	font-family: 'Ubuntu', sans-serif;

	font-weight: 500;

	color: #000;

	margin-bottom: 5px;

}



.col-sm-10.pro_field+.col-sm-2{

	padding: 0;

}



.pro-skills{

	margin: 40px 0;

}



.pro-skills .label{

	background: #F0F0F0;

	border: #DDD 1px solid;

	border-top: 0px;

	border-left:2px solid #990000;

	-webkit-border-radius: 0 3px 3px 0;

	border-radius: 0 3px 3px 0;

	color: #000;

	font-size: 16px;

	font-weight: 400;

	padding: 5px 12px;

	text-transform: capitalize;

	display: inline-block;

	line-height: 21px;

	margin:8px 3px;

}



ul.pro-interests{

	padding-left: 20px;

}



ul.pro-category{

	padding-left: 0;

}



ul.pro-category li{

	padding-left: 30px;

	list-style: none;

	font-size: 17px;

	font-weight: 400;

	color: #2B436B;

	line-height: 25px;

}



ul.pro-category li small{

	font-size: 15px;

	font-weight: 400;

	color: #373737;

	line-height: 25px;

	text-transform: capitalize;

}



ul.pro-category li.profile_name{

	background: url(../images/icon1.jpg) no-repeat 0px 8px;

}



ul.pro-category li.profile_edu{

	background: url(../images/icon2.jpg) no-repeat 0px 8px;

}



ul.pro-category li.profile_pos{

	background: url(../images/icon3.jpg) no-repeat 0px 8px;

}



ul.pro-category li.profile_mob{

	background: url(../images/icon4.jpg) no-repeat 0px 8px;

}



ul.pro-category li.profile_mail{

	background: url(../images/icon5.png) no-repeat 0px 8px;

}



ul.cat_ul{

	position: relative;

	z-index: 99;

}



ul.cat_ul li a{

	font-size: 16px;

	color: #4A4A4A;

	font-weight: 400;

	line-height: 25px;

	display: block;

	text-transform: uppercase;

	text-decoration: none;

	-webkit-transition: all ease 0.25s;

	-moz-transition: all ease 0.25s;

	-ms-transition: all ease 0.25s;

	-o-transition: all ease 0.25s;

	transition: all ease 0.25s;

}



ul.cat_ul li a:hover{

	color: #900;

	margin-left: 3px;

}









/*---------------------------------------------------- Form ---------------------------------------------------------*/



a.blog-img{

	overflow: hidden;

	display: block;

	position: relative;

	-webkit-transition: all linear 0.25s;

	-moz-transition: all linear 0.25s;

	-ms-transition: all linear 0.25s;

	-o-transition: all linear 0.25s;

	transition: all linear 0.25s;

}





a.blog-img img{

	-webkit-transition: all linear 0.25s;

	-moz-transition: all linear 0.25s;

	-ms-transition: all linear 0.25s;

	-o-transition: all linear 0.25s;

	transition: all linear 0.25s;

}



a.blog-img:hover img{

	-webkit-transition: all linear 0.25s;

	-moz-transition: all linear 0.25s;

	-ms-transition: all linear 0.25s;

	-o-transition: all linear 0.25s;

	transition: all linear 0.25s;

}



a.blog-img:hover img{

	-webkit-transform: scale(1.3) rotate(-5deg);

	-moz-transform: scale(1.3) rotate(-5deg);

	-ms-transform: scale(1.3) rotate(-5deg);

	-o-transform: scale(1.3) rotate(-5deg);

	transform: scale(1.3) rotate(-5deg);

}



a.blog-img:after{

	content: "";

	background: rgba(0, 0, 0, 0);

	z-index: 1;

	position: absolute;

	left: 0px;

	right: 0px;

	top: 0px;

	bottom: 0px;

	-webkit-transition: all linear 0.25s;

	-moz-transition: all linear 0.25s;

	-ms-transition: all linear 0.25s;

	-o-transition: all linear 0.25s;

	transition: all linear 0.25s;

}



a.blog-img:hover:after{

	background: rgba(166, 0, 1, 0.75);

}



a.blog-img span.more-btn{

	background: #E8ECDF;

	color: #A50001;

	font-family: a_atletico;

	font-size: 14px;

	padding: 5px 15px;

	-webkit-border-radius: 20px;

	border-radius: 20px;

	position: absolute;

	z-index: 99;

	top: 100%;

	text-transform: uppercase;

	left: 30%;

	-webkit-transition: all ease 0.35s;

	-moz-transition: all ease 0.35s;

	-ms-transition: all ease 0.35s;

	-o-transition: all ease 0.35s;

	transition: all ease 0.35s;

}



a.blog-img:hover span.more-btn{

	top: 45%;

}



a.blog-img span.more-btn:after{

	content: "\2192";

	color: #a50001;

	margin-left: 7px;

	font-weight: bold;

	display: inline-block;

}



aside a.blog-img span.more-btn{

	left: 10%;

	font-size: 10px;

	padding: 0px 8px;

	border-radius: 7px;

	line-height: 25px;

}



aside a.blog-img:hover span.more-btn{

	top: 40%;

}



.blog_single p.post-desc{

	padding-bottom: 20px;

	border-bottom: #A7A7A7 3px solid;

}



.blog_single{

	margin-bottom: 50px;

}





/*---------------------------------------------------- xs_pager ---------------------------------------------------------*/



a.btn.btn-xs{

	padding: 2px 8px;

	font-family: a_atletico;

	font-size: 14px;

}



a.btn.btn-xs:hover, a.btn.btn-xs.active{

	text-shadow: -1px 0px 0px #000;

	background: #5F6160;

	color: #FFF;

	box-shadow: inset 0px 0px 5px #000;

}







/*---------------------------------------------------- Form ---------------------------------------------------------*/



.fb.instagram.twitter{

	padding-top: 15px;

	position: relative;

}



h3.social-title{

	position: absolute;

	top: -15px;

	left: 35px;

	margin: 0;

}



h3.social-title span{

	padding: 5px;

	margin-left: -5px;

	text-transform: uppercase;

	font-size: 14px;

	font-family: a_atletico;

	color: #FFF;

}



.fb h3.social-title span{

	background: #3B5999;

	text-transform: uppercase;

	font-size: 14px;

	font-family: a_atletico;

	color: #FFF;

	margin-left: -5px;

}



.fb h3.social-title span img{padding:5px;

}



.instagram h3.social-title span{

	background: #5683A7;

	text-transform: uppercase;

	font-size: 14px;

	font-family: a_atletico;

	color: #FFF;

}



.instagram h3.social-title span img{

}



.twitter h3.social-title span{

	background: #5EA9DD;

	text-transform: uppercase;

	font-size: 14px;

	font-family: a_atletico;

	color: #FFF;

}



.twitter h3.social-title span img{

}





/*---------------------------------------------------- Form ---------------------------------------------------------*/



form.contact_form{

	margin: 20px 0 15px;

}



form.contact_form label{

	font-size: 16px;

	color: #333;

	line-height: 40px;

	text-transform: uppercase;

	font-weight: bold;

}



form.contact_form input, form.contact_form textarea{

	-webkit-border-radius: 0px;

	border-radius: 0px;

	border: 0px;

	border-bottom: #B1B1B1 2px solid;

	-webkit-box-shadow: none !important;

	box-shadow: none !important;

	position: relative;

	background: transparent;

}



.input-border:before{

	content: "";

	display: block;

	position: absolute;

	left: -2px;

	right: -2px;

	top: 50%;

	bottom: 0;

	border-left: 2px solid #B1B1B1;

	border-right: 2px solid #B1B1B1;

}



form.contact_form textarea{

	border: 2px solid #B1B1B1;

}



form.contact_form .form-group{

	margin-bottom: 5px;

}



.contact_info{

	display: block;

	margin: 56px 0;

}



.contact_info p.lead{

	font-weight: 400;

	color: #333;

	font-size: 18px;

}



/*---------------------------------------------------- Footer ---------------------------------------------------------*/



footer{

	background: #242628;

	margin-top: 60px;

}



h3.footer-heading{

	font-family: caneletter;

	background: #373737;

	display: inline-block;

	color: #FFF;

	font-size: 29px;

	padding: 5px 15px;

	margin-bottom: 20px;

	margin-top: 30px;

	font-weight: 100;

}



.social-buttons a{

	font-family: 'Ubuntu', sans-serif;

	font-style: italic;

	font-size: 14px;

	color: #FFF;

}



.social-buttons a img{

	margin-right: 3px;

}



/*.social-buttons>li{margin-left:10px;

}



.social-buttons>li:first-child{

	margin-left: 0;

}

*/

footer .contact a{

	color: #FFF;

	text-decoration: none;

	line-height: 30px;

	font-size: 16px;

}



footer .col-md-3.wrap-all > .col-xs-6{

	padding: 0px;

	margin: 5px 0px;

}



footer .col-md-3.bullets > .col-xs-6, footer .col-md-3.bullets > .col-xs-12{

	padding: 0px;

	margin: 5px 0px;

}



footer .col-md-3 > .col-xs-6 a, footer .col-md-3 > .col-xs-12 a{

	font-size: 15px;

	color: #FFF;

}



footer .col-md-3.wrap-all > .col-xs-6 a, footer .col-md-3.wrap-all > .col-xs-12 a{

	text-transform: lowercase;

}



footer .col-md-3 > .col-xs-6 a, footer .col-md-3 > .col-xs-12 a{

	text-transform: capitalize;

	font-weight: 100;

}



footer .col-md-3.bullets > .col-xs-6 a:before, footer .col-md-3.bullets > .col-xs-12 a:before{

	content:"";

	width: 4px;

	margin-right: 7px;

	background: #AF1318;

	vertical-align: middle;

	height: 4px;

	display: inline-block;

}



.footer-copy{

	vertical-align: middle;

	padding: 10px;

	width: 100%;

	background: #151515;

	margin-top: 25px;

}



.signature p{

	margin-top: 15px;

	font-size: 14px;

	color: #9A9A9A;

}



.signature img{

	float: right;

	display: block;

	margin-top: -5px;

	vertical-align: text-top;

}



.mail-success{

	position: absolute;

	top: 0;

	height: 100%;

	left: 0;

	right: 0;

	display: block;

	background:url('../images/success.png') repeat;

	z-index: 99;

	padding: 50px 145px;

}



h3.tq-block{

	font-size: 18px;

	line-height: 25px;

	font-family: a_atletico;

	float: right;

	display: inline-block;

	text-transform: uppercase;

	border-top: 2px solid #2D2919;

	border-bottom: 2px solid #2D2919;

	color: #2D2919;

	margin: 0;

	margin-top: -50px;

}



p.tq-note{

	font-family: a_atletico;

	font-size: 18px;

	color: #FFF;

	margin-top: 5px;

}



.mail-success a.btn.btn-ghost{

	color: #535353;

	border-color: #535353;

	padding: 5px 15px;

	margin-top: 5px;

}



aside .blog-single > .col-md-6{

	padding-right: 5px;

}



.gallery-img{

	display: block;

	width: 249px;

	height: 249px;

	background: url('../images/thumb.png') no-repeat;

	padding: 18px 23px 30px 21px;

	-webkit-transition: all ease 0.25s;

	-moz-transition: all ease 0.25s;

	-ms-transition: all ease 0.25s;

	-o-transition: all ease 0.25s;

	transition: all ease 0.25s;

}



.gallery-img img{

	-webkit-transition: all ease 0.25s;

	-moz-transition: all ease 0.25s;

	-ms-transition: all ease 0.25s;

	-o-transition: all ease 0.25s;

	transition: all ease 0.25s;

}

/**************salav***************/


.container.home-page{
	width: 100%;
	margin-bottom: -60px;
}

.home-page .col-md-3{width: 29%;text-align: right;}

.home-page .col-md-5{width: 39%;}

.home-page .col-md-4{width: 32%;padding: 0;padding-left: 2%;}

.home-page .bg-pattern{
	background: url(../images/bg-pattern.jpg) repeat;
}

.mt20{margin-top: 21px;}

.red{
	color: #a71013;
	font-weight: 700;
	text-transform: uppercase;
}

.phrase{
	font-weight: 700;
	font-style: italic;
}

.home-page .bg-pattern h1{color: #fff;}

.home-page .bg-pattern a{display: block;}

.home-page .family .family-img{position: relative;}

.home-page .family-img .caption{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 225px;
	background: rgba(255,255,255,0.7);
	height: 58px;
	padding: 10px;
	z-index: 1;
}

.home-page .family-img .arrow{
	position: absolute;
	display: none;
	z-index: 1;
	top: 113px;
	left: 160px;
}

.home-page .pro-img .arrow{
	position: absolute;
	top: 113px;
	left: 160px;
	display: none;
	z-index: 1;
}

a.choose-tag:hover .arrow {display: block;}



.home-page .pro .pro-img{position: relative;}

.home-page .pro-img .caption{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 225px;
	background: rgba(255,255,255,0.7);
	height: 58px;
	padding: 10px;
	z-index: 1;
}

.caption p{
	line-height: 14px;
}

.caption .big{
	font-size: 22px;
	font-weight: 700;
	color: #a00003;
	text-transform: uppercase;
}

.caption .small{
	font-size:21px;
	text-transform: capitalize;
	color: #000;
}

.text-justify{
	text-align: justify;
}


/*---------------------------------------------------- media queries ---------------------------------------------------------*/



@media only screen and (max-width : 768px) {

	/* Styles */

	#carousel_photo_gallery .item .col-sm-3{

		margin: 10px 0px;

	}

	.sm-fl{

		float: none !important;

	}

	

	.pro-says{

		background: none;

	}



	.pro-says h3{

		padding-right: 0px;

	}





	.wrap-all{

		margin-left: 15px;

		margin-right: 15px;

	}



	.intro{

		background: #EEE;

		padding: 10px;

	}



	#carousel_photo_gallery{

		margin: 0 55px;

	}



	.article_main, .social_connecter{

		margin-left: 15px;

		margin-right: 15px;

	}



	a.pro-views{

		right: 10%;

		font-size: 11px;

	}



	.dotted-wrapper{

		margin: 20px 0;

	}



	.underlined{

		text-align: left;

		margin-top: 20px;

		margin-bottom: 10px;

	}



	.profile_pane{

		background: none;

	}



	.navbar-default .navbar-nav>li>a{

		font-size: 14px;

		padding: 10px;

	}



	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus{

		background: #EEE;

	}

	

	.navbar-default .navbar-nav>.active>a:after, .navbar-default .navbar-nav>li:hover>a:after, .navbar-default .navbar-nav>.active>a:focus:after{

		content: "";

		background: #A60001;

		position: absolute;

		left: 0;

		top: 0;

		bottom: 0;

		width: 5px;

		height: 100%;

	}



	.pro_attribute{

		font-size: 16px;

	}



	.article_main .title_heading{

		font-size: 12px;

	}



	p.with-quote{

		font-size: 15px;

		line-height: 23px;

	}



	.dotted-bg{

		margin: 0 15px;

	}



	.dotted-bg > .row{

		padding: 15px;

	}



	.pro-says p.saying{

		font-size: 28px;

		line-height: 35px;

	}



	.family_id{

		position: initial;

	}



	.social-buttons a img{

		margin-bottom: 10px;

	}



	#gallery #carousel_photo_gallery .carousel-control{

		position: initial;

		margin-left: 20% !important;

		

	}



	#gallery #carousel_photo_gallery .carousel-control.left{

		position: initial;

		margin: 0 auto;

	}

	#gallery #carousel_photo_gallery .carousel-control.right{

		right: 0px;

		position: initial;

		margin: 0 auto;

	}



	#gallery-inner #carousel_photo_gallery .carousel-control{

/*		position: initial;

		display: inline;

		float: left;

	*/	}



	#gallery-inner #carousel_photo_gallery .carousel-control img{

		margin: 0 auto !important;

		display: inline;

	}



	#gallery-inner #carousel_photo_gallery .carousel-control.left{

		left: -45px;

	}

	#gallery-inner #carousel_photo_gallery .carousel-control.right{

		right: -20px;

	}



	.social_connecter, .dotted-bg{

		margin: 0;

		margin-bottom: 10px;

	}



	.social_connecter .fb img.img-responsive, .social_connecter .twitter img.img-responsive, .social_connecter .instagram img.img-responsive{

		margin-bottom: 30px;

		width: 100%;

	}



	.xs_pager{

		text-align: center;

		margin: -20px 0 40px;

	}



	aside[class^="col-"] {

		padding: 0;

	}



	#gallery-inner .item .row .col-xs-6.col-sm-3:nth-child(even){

		padding:  0 15px 0 5px;

		margin-bottom: 10px;

	}



	#gallery-inner .item .row .col-xs-6.col-sm-3:nth-child(odd){

		padding:  0 5px 0 15px;

		margin-bottom: 10px;

	}



	#gallery-inner .item .row .col-xs-6.col-sm-3 img{



	}



	











}



@media only screen and (max-width : 992px) {

	/* Styles */

	#carousel_photo_gallery .carousel-control.right{

		right: -40px;

	}

	.gallery-img{

		background: none;

		padding: 0px;

		width: auto;

		height: auto;

	}

}

@media only screen and (max-width : 600px) {
	.home-page .col-md-3 img{
		display: none;
	}

	.home-page .col-md-3{width: 100%;}

	.home-page .col-md-5{width: 100%;}

	.home-page .col-md-4{width: 100%;padding-left: 0;}

	.container.home-page{margin-bottom: -60px}

	.family-img img, .pro-img img{
		width: 100%;
	}

	.home-page .family-img .arrow{
		top: 140px;
		left: 195px;
	}

	.home-page .pro-img .arrow{
		top: 140px;
		left: 195px;
	}


}




@media only screen and (max-width : 480px) {

	/* Styles */

	#carousel_photo_gallery .item .col-sm-3{

		margin: 0px 0px;

	}

	#carousel_photo_gallery .carousel-control.right{

		right: -25px;

	}



	

	form.contact_form label{

		font-size: 12px;

		line-height: 15px;

	}

	

	img.logo{

		width: 86%;

	}

	

	.btn.btn-main{

		font-size: 35px;

		width: auto;

		margin-bottom: 5px;

	}



	.pro-skills .label{

		padding: 5px 7px;

		font-size: 14px;

		line-height: 14px;

	}



	.article_main{

		padding: 15px;

		margin: 0px 15px;

	}



	aside .article_main h2.caps-heading-title, aside .article_main h4.caps-heading-info{

		text-align: center;

	}





	.caps-heading span.white{

		font-size: 23px;

	}



	.caps-heading + .sub-heading{

		font-size: 12px;

	}



	.mail-success{

		padding: 10px;

	}



	h3.tq-block{

		float: none;

		display: block;

		margin: 10px;

		text-align: center;

	}



	a.btn.btn-ghost.btn-danger{

		display: block;

		margin: 10px 15px 0;

	}



	.main_heading{

		font-size: 36px;

	}



	.detail{

		font-size: 15px;

	}



	.choice .wrap-all{

		margin: 0 5px;

	}



	.social-buttons li{

		min-width: 47%;

	}



	.signature p{

		font-size: 11px;

		

	}



	.col-sm-4.text-center .post-desc{

		margin-bottom: 20px;

		border-bottom: 1px solid #999;

		padding-bottom: 10px;

	}

	.home-page .family-img .arrow{
		top: 65px;
		left: 110px;
	}

	.home-page .pro-img .arrow{
		top: 65px;
		left: 110px;
	}
	



}



