@media(max-width: 1200px) {
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        margin: 0;
        padding: 0;
    }
    footer .bg-black .footer-nav li {
        margin-right: 10px;
        padding-right: 10px;
    }
    header .navbar-default .navbar-nav > li > a {
        padding-right: 18px;
    }
    main .bg-white .bg-img {
        left: 50px;
    }
    .bg-pattern-grey main .bg-pattern-brick .bg-dropshadow p {
        font-size: 12px;
    }
    .search-bx .search-body {
        margin-bottom: 86px;
    }
    .bg-pattern-grey main ul.page-links li {
        width: 226px;
    }
    .form-submission-page .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
    }
    .form-submission-page .form-horizontal .form-group label {
        margin-bottom: 5px;
    }
    .bg-pattern-grey main h1.border-bottom:after {
        left: 26%;
    }
    .form-submission-page .customizable-form .body .table > thead > tr > th,
    .form-submission-page .customizable-form .body .table > tbody > tr > th,
    .form-submission-page .customizable-form .body .table > tfoot > tr > th,
    .form-submission-page .customizable-form .body .table > thead > tr > td,
    .form-submission-page .customizable-form .body .table > tbody > tr > td,
    .form-submission-page .customizable-form .body .table > tfoot > tr > td {
        font-size: 13px;
    }
}

@media(max-width:992px) {
    header .lg-txt {
        font-size: 30px;
    }
    header .navbar-default .navbar-nav > li > a {
        padding: 0 10px;
        font-size: 15px;
    }
    main .bg-white .bg-img {
        display: none;
    }
    .form-control {
        font-size: 12px;
    }
    footer > .bg-white > .contain > .row > .col-md-11 {
        width: 91.6667%;
    }
    footer > .bg-white > .contain > .row > .col-md-1 {
        width: 8.33333%;
    }
    footer > .bg-white > .contain {
        padding: 15px;
    }
    footer .bg-black {
        background: #5b5b5a;
    }
    footer .bg-black .footer-nav li {
        line-height: 38px;
        margin-right: 5px;
        font-size: 13px;
        padding-right: 5px;
    }
    .bg-pattern-grey main .contain-white .row > .col-md-8,
    .bg-pattern-grey main .contain-white .row > .col-md-4 {
        width: 100%;
    }
    .carousel,
    .bg-pattern-grey main .contain-white .about-box {
        margin-bottom: 27px;
    }
    .bg-pattern-grey main .bg-pattern-brick {
        background: #dee0e2;
    }
    .bg-pattern-grey main .contain-white.listing-details .row > .col-md-8 {
        width: 60.666667%;
    }
    .bg-pattern-grey main .contain-white.listing-details .row > .col-md-4 {
        width: 39.333333%;
    }
    .bg-pattern-grey main .contain-white .row:first-child > .col-md-9 ,
    .bg-pattern-grey main .contain-white .row > .col-md-9 {
        width: 100%
    }
    .bg-pattern-grey main .contain-white .row:first-child > .col-md-3 
    .bg-pattern-grey main .contain-white .row > .col-md-3 {
        width: 100%
    }
    .bg-pattern-grey main .listing-details .tab-content {
        margin-bottom: 27px;
    }
    .search-bx .search-body h4 {
        font-size: 11px;
    }
    main .bg-grey > .contain > .row a .border .features p {
        line-height: 20px;
        padding: 5px 0;
    }
    .search-bx .search-body {
        margin-bottom: 0;
    }
    .search-bx {
        margin: 40px 0 20px 0;
    }
    footer .bg-grey .contain > .row > .col-md-9 {
        width: 100%;
    }
    footer .bg-grey .contain > .row > .col-md-3 {
        width: 100%;
    }
    .bg-pattern-grey main .testimonials h1 {
        text-align: center;
        margin-bottom: 50px;
    }
    footer .bg-grey .contain > .row > .col-md-9 img {
        margin-bottom: 15px;
        margin-top: 0;
    }
    main h1 {
        font-size: 20px;
    }
    .bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery .photo-slider a img {
        width: 100%;
    }
    .bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery {
        margin-bottom: 55px;
    }
    .form-submission-page .form-horizontal .form-group label.col-md-2 {
        width: 100%;
    }
    .bg-pattern-grey main .form-submission-page > .row > .col-md-5 {
        margin-left: 0;
        width: 50%;
    }
    .lending-background .text-bottom {
        right: 0;
        bottom: 0px;
        height: auto;
    }
    .lending form.application-form {
        background: #eeeeee;
    }
    .bg-pattern-grey main .lending > .row > .col-md-5.col-md-offset-1 {
        margin-left: 0;
    }
    .bg-pattern-grey main .lending > .row > .col-md-5 {
        width: 50%;
        float: left;
    }
    .lending .text-holder {
        width: 60%
    }
    .lending h1.large-heading a {
        color: #000;
        margin: 20px 0 30px 0;
        font-size: 40px;
        line-height:1;
    }
    .bg-pattern-grey main .lending h1.border-bottom {
        font-size: 20px;
    }
    .bg-pattern-grey main .lending h1.border-bottom:after {
        left: 4%;
    }
    .form-submission-page .form-horizontal .form-group label.col-md-2.col-md-offset-2 {
        margin-left: 0;
    }
    .bg-fade,
    .mt17 {
        z-index: 1;
    }
}

@media(max-width: 768px) {
    .row {
        margin: 0 -9px;
    }
    .margin {
        margin-bottom: 27px;
    }
    header {
        text-align: center;
    }
    .bg-fade {
        margin-top: 20px;
    }
    header .navbar-default {
        margin-top: 10px;
        background-color: rgba(0,0,0,0.8);
    }
    header .navbar-default .navbar-toggle {
        margin-top: -390px;
        background: none;
        border: 0;
        z-index: 1000;
    }
    header .navbar-default .navbar-collapse,
    header .navbar-default .navbar-form {
        margin-top: -403px;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
    }
    header.push-top .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        margin-top: -152px;
        position: absolute;
        width: 100%;
        z-index: 999;
        left: 0;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background: #FFF;
        height: 4px;
        width: 30px;
        box-shadow: 1px 1px #A3A3A3;
    }
    .custom-nav.navbar-default .navbar-toggle .icon-bar {
        background: #454545;
        box-shadow: none;
    }
    header .navbar-default .navbar-nav > li > a {
        padding: 10px 0;
        font-size: 20px;
    }
    header .social-media {
        padding-left: 0;
    }
    header .heading-dtls {
        margin-top: 170px;
    }
    main .bg-grey > .contain > .row a {
        margin-bottom: 20px;
    }
    main .bg-grey > .contain > .row > .col-md-4 a {
        margin: 0;
    }
    .bg-pattern-grey main .listing-details h1{
        margin-bottom:5px !important;
    }
    .bg-pattern-grey main .contain-white .row:first-child > .col-md-9,
    .bg-pattern-grey main .contain-white .row:first-child > .col-md-3 {
        width:100%;
    }
    .bg-pattern-grey main .listing-details h1 span{
        padding-right:25px;
        
        display:inline-block;
        
    }
    .bg-pattern-grey main .listing-details h1 small {
        margin-left:0;
        padding-left:0;
        height:auto;
        padding-left:15px;
        line-height:1.3;
    }
    footer .bg-black .footer-nav {
        padding-left: 15px;
        background: transparent;
    }
    .search-bx .search-body > .row > .col-md-4,
    .search-bx .search-body > .row > .col-md-2,
    .search-bx .search-body > .row > .col-md-4.chng-width,
    footer .bg-grey .contain > .row > .col-md-9,
    footer .bg-grey .contain > .row > .col-md-3,
    main .bg-grey > .contain > .row > .col-md-8,
    main .bg-grey > .contain > .row > .col-md-4,
    main .bg-white .contain > .row > .col-md-8,
    main .bg-white .contain > .row > .col-md-4,
    .bg-pattern-grey main .contain-white .row > .col-md-5,
    .bg-pattern-grey main .contain-white .row > .col-md-7 {
        width: 100%;
    }
    footer > .bg-white > .contain > .row > .col-md-11 {
        width: 90%;
    }
    footer > .bg-white > .contain > .row > .col-md-1 {
        width: 10%;
    }
    .bg-pattern-grey main .contain-white .about-box {
        margin-top: 27px;
    }
    .property-text-wrap {
        margin: 10px 0 27px 0;
    }
    .bg-pattern-grey main .contain-white .row > .col-md-4.alter-width,
    .bg-pattern-grey main .contain-white .row > .col-md-8.alter-width,
    .bg-pattern-grey main .contain-white .row > .col-md-4.alter-width-listings {
        width: 100%;
        margin-bottom: 27px;
    }
    .bg-pattern-grey main .contact-form {
        margin-top: 0;
    }
    .bg-pattern-grey main .contain-white .row > .col-md-9,
    .bg-pattern-grey main .contain-white .row > .col-md-3,
    .bg-pattern-grey main .contain-white.listing-details .row > .col-md-8,
    .bg-pattern-grey main .contain-white.listing-details .row > .col-md-4 {
        width: 100%;
    }
    .bg-pattern-grey main .contain-white.listing-details .row > .col-md-4.text-right,
    .bg-pattern-grey main .listing-details .property-rate {
        text-align: left;
    }
    .bg-pattern-grey main .listing-details h1,
    .bg-pattern-grey main .contain-white.listing-details .row > .col-md-4.text-right,
    .bg-pattern-grey main .listing-details .property-rate,
    .bg-pattern-grey main .listing-details .contact-bg {
        margin-bottom: 20px;
    }
    .glyphicon-chevron-left::before,
    .glyphicon-chevron-right::before {
        top: -22px;
        left: -11px;
    }
    .carousel-control {
        top: 30%;
    }
    .search-bx .search-body h4 {
        font-size: 14px;
    }
    .bg-pattern-grey main .testimonials > .row > .col-md-10.col-md-offset-1 {
        margin-left: 0;
        width: 100%;
    }
    .bg-pattern-grey main .testimonials .testimonials-wrap img {
        left: 46%;
    }
    main .bg-grey > .contain > .row a .border .features p {
        font-size: 14px;
    }
    body > .container.contain {
        background: url("../images/bg-pattern-grey-1.jpg") repeat scroll 0% 0% transparent;
    }
    .custom-slider {
        display: none;
    }
    .search-bx {
        margin-top: 300px;
    }
    .mt17 {
        margin-top: 5px;
    }
    .bg-pattern-grey main .listing-details .inner-details li {
        padding-right: 4px;
    }
    .details li {
        padding-left: 4px;
    }
    .carousel-control .icon-prev,
    .carousel-control .glyphicon-chevron-left {
        top: 18%;
        left: 37%;
    }
    .carousel-control .icon-next,
    .carousel-control .glyphicon-chevron-right {
        right: 110%;
        top: 18%;
    }
    .bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery .photo-slider .carousel-control {
        top: 100%;
    }
    .bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery {
        margin-bottom: 70px;
    }
    .bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery .photo-slider .carousel-control.left {
        left: 80%;
    }
    .details-main-slider .carousel-control.details-control {
        display: none;
    }
    .bg-img-home {
        isplay: none;
    }
    .search-bx .search-heading {
        margin-top: 0;
    }
    .search-bx .search-body > .row > .col-md-4,
    .search-bx .search-body > .row > .col-md-2 {
        padding-right: 9px;
    }
    .search-bx .search-body h4.line::before {
        left: 12px;
    }
    .bg-pattern-grey main ul.page-links li {
        width: 205px;
    }
    .bg-pattern-grey main h1.border-bottom:after {
        left: 20%;
    }
    .bg-pattern-grey main ul.page-links li {
        width: 195px;
    }
    .bg-pattern-grey main ul.page-links li,
    .bg-pattern-grey main ul.page-links li:last-child {
        display: block;
        width: 210px;
        margin: 10px auto;
    }
    .bg-pattern-grey main ul.page-links li::after {
        display: none;
    }
    .bg-pattern-grey main h1.border-bottom {
        margin-bottom: 20px;
    }
    .lending form.application-form {
        margin-bottom: 20px
    }
    .lending h1.large-heading {
        margin: 0 0 30px 0;
    }
    .bg-pattern-grey main .lending h1.border-bottom:after {
        left: 29%;
    }
    .lending .text-holder {
        margin-bottom: 42px;
    }
    header .text-right.index-responsive {
        margin: 0px 0 -58px 0;
    }
    header.push-top .navbar-default .navbar-toggle {
        margin-top: -180px;
    }
    #ihf-main-container .row > .col-xs-12 {
        margin-bottom: 15px;
    }
    #ihf-main-container .error {
        display: none !important;
    }
    header .logo {
        margin-top: 100px;
    }
    header .text-right {
       
        text-align: center;
    }
    header.push-top .logo a.visible-xs {
        display: none;
    }
    header .navbar-nav {
        background: #323232;
    }
    .testi-monials.bx-wrapper .bx-viewport {}

    .featured .bx-wrapper{
        max-width:100% !important;
    }

    .mobile-center{
        text-align:center;
    }
 
        .testimonial-block{
        max-width:300px;
        margin:0 auto;
    }

   
}
@media (max-width:767px){
      header .heading-dtls {
        margin-top: 95px;
        }
       header .logo {
            margin-top: 35px;
        }
        header .lg-txt{
            margin-bottom:30px;
        }
        .bg-pattern-grey main .listing-details h1{
            margin-bottom:0;
        }
      .bg-pattern-grey main .listing-details h1 span{
        padding-right:25px;
        
        display:inline-block;
        
    }
    .bg-pattern-grey main .listing-details h1 small {
        display:block;
        height:auto;
        padding-left:0;
        border-left:0;
        margin-top:10px;
        line-height:1.3;
    }
}
@media (max-width:660px){
    .for-index{
    display:block !important;
    
    }  
}
@media(max-width: 600px) {
    .bg-img-home {
        z-index: initial;
        position: initial;
    }
    .bg-img-home:after {
        content: "";
        background: none;
        width: auto;
        height: auto;
        position: initial;
    }
    footer .bg-black .footer-nav li {
        display: block;
    }
    footer .bg-black .footer-nav li::after {
        display: none;
    }
    .breadcrumb > li + li::before {
        display: none;
    }
    .breadcrumb > li {
        display: block;
    }
    .details li::after {
        display: none;
    }
    .bg-pattern-grey main .listing-details .inner-details li {
        display: block;
    }
    .details-main-slider .carousel-control.details-control {
        display: none;
    }
    footer .bg-grey .contain > .row > .col-md-9 .breadcrumb li a,
    .breadcrumb > .active {
        display: block;
        padding: 5px 0;
    }
    main .bg-grey > .contain > .row .bxslider.featured-slider li {
        /*max-width: 13.17% !important;
        padding-right: 1px;*/
    }
    main .bg-grey > .contain > .row .bxslider.featured-slider {
        /* width: 836% !important;*/
    }
    header.push-top .logo {
        margin-top: 50px;
    }
    .mt17 {
        margin-top: 5px;
    }
    .bg-fade {
        background: url(../images/mobilelandscape-bg-fade.png) no-repeat;
        background-size: cover;
    }
    .bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery .photo-slider .carousel-control.left {
        left: 75%;
    }
    .bg-pattern-grey main h1.border-bottom::after {
        left: 11%;
    }
    .lending .text-holder {
        margin-bottom: 24px;
    }
    .lending-background .text-top {
        font-size: 24px;
        line-height: 30px;
    }
    .lending-background .text-bottom {
        width: 100%;
    }
    .bg-pattern-grey main .lending h1.border-bottom:after {
        left: 23%;
    }
    header.push-top .social-media,
    header.push-top .cb-logo,
    header .logo a.hidden-mobile,
    header .heading-dtls,
    header.push-top .sm-txt {
        display: none;
    }
    header.push-top .logo a img {
        margin: 0 auto;
    }
    header.push-top .navbar
-default .navbar-toggle {
        margin-top: -200px;
        z-index: 1000;
    }
    header.push-top .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        margin-top: -216px;
    }
    .bg-main-img {
        max-height: 725px;
        margin-bottom: 527px;
    }
    .mobile-center {
        text-align: center;
    }
    header .navbar-nav {
        padding: 60px;
    }
    header.push-top .logo a.visible-xs {
        visibility: hidden;
    }
    body > .container.contain.for-nav > .row {
        margin: 0;
    }
    body > .container.contain.for-nav > .row > .col-md-12 {
        padding: 0;
    }
    main .bg-grey {
        margin-top: 615px;
    }
    .lending form.application-form {
        margin-top: 440px;
    }
    .push-top-apply-form {
        margin-top: -940px;
    }
    .lending h1.large-heading {
        padding: 30px;
        background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7);
        text-align: center;
    }
    .lending h1.large-heading a {
        color: #fff;
    }
    .lending-background .text-bottom {
        top: 100%;
        height: 55%;
    }
    .lending-background {
        margin-bottom: 190px;
    }
    .bg-pattern-grey main .bg-pattern-brick .bg-dropshadow img.img-responsive,
    .bg-pattern-grey main .contain-white .row > .col-md-4.alter-width img.img-full {
        width: 100%;
    }
    .blog .blog-date {
        height: 50px;
        width: 80px;
        font-size: 16px;
    }
    .blog .blog-date big {
        font-size: 20px;
        line-height: 1;
    }
    .blog .latest-post .title {
        bottom: 30px;
        font-size: 18px;
        left: 10px;
    }
    .blog .latest-post .comment {
        top: 25px;
        bottom: initial;
        font-size: 14px;
        right: 10px;
        left: initial;
    }
    .blog-post img {
        margin: 0;
        min-width: 100%;
    }
    .blog-post {
        padding-bottom: 30px;
    }
    .blog-post h3 {
        padding: 10px;
    }
    .blog-post h3 a {
        font-size: 18px;
        line-height: 1.2;
    }
    .blog-post .comments {
        margin: 0 10px;
    }
    .blog-post .desc {
        padding: 10px;
    }
    .blog .pagination-blog {
        margin-bottom: 30px;
    }
    .blog-detail h1.title {
        line-height: 1;
    }

  
    
}

@media(max-width: 480px) {
    .search-bx .search-heading h3 {
        font-size: 12px;
    }
    .search-bx .search-heading {
        max-width: 198px;
    }
    .bg-fade .heading {
        font-size: 18px;
    }
    .bg-fade .heading .big {
        font-size: 34px;
    }
    footer > .bg-white > .contain > .row > .col-md-11,
    footer > .bg-white > .contain > .row > .col-md-1 {
        width: 100%;
        text-align: center;
    }
    footer > .bg-white > .contain > .row > .col-md-11 p {
        font-size: 11px;
    }
    .bg-pattern-grey main .listing-details .contact-bg .contact-info .txt-wrap {
        padding-left: 7px;
    }
    .bg-pattern-grey main .listing-details .nav-tabs > li {
        padding: 0 12px;
    }
    .bg-pattern-grey main .listing-details .contact-bg .contact-info .txt-wrap a {
        font-size: 15px;
    }
    .bg-pattern-grey main .listing-details .contact-bg .contact-info .txt-wrap h1 {
        font-size: 20px;
    }
    .bg-pattern-grey main .contain-white .about-box .heading-tlnt-box {
        font-size: 21px;
    }
    .mt17 {
        margin-top: 20px;
    }
    .bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery .photo-slider .carousel-control.left {
        left: 60%;
    }
    .form-submission-page .form-horizontal .form-group > .col-md-6 > .row > .col-md-4 {
        width: 100%;
        margin-bottom: 15px;
    }
    .form-submission-page .form-horizontal .form-group > .col-md-6 > .row > .col-md-4:last-child {
        margin-bottom: 0;
    }
    .bg-pattern-grey main h1.border-bottom::after {
        left: 0;
        width: 100%;
    }
    .bg-pattern-grey main .lending h1.border-bottom:after {
        left: 0;
        width: 100%;
    }
    .lending form.application-form .btn-pattern {
        width: 100%;
    }
    .lending h1.large-heading {
        font-size: 34px;
    }
    .lending h1.large-heading a {
        font-size: 34px;
    }
    .lending .number-holder::after {
        display: none;
    }
    .bg-fade {
        background: url(../images/mobilepotrait-bg-fade.png) no-repeat;
        background-size: cover;
        z-index: 1;
    }
    .custom-nav.navbar-default .navbar-brand {
        padding: 10px 10px;
        width: 79%;
    }
    .custom-nav .navbar-nav {
        width: 100%;
    }
    .lending form.application-form {
        margin-top: 500px;
    }
    .push-top-apply-form {
        margin-top: -1010px;
    }
    .lending form.application-form .btn-pattern {
        width: 100%;
    }
    .lending-background .logo-lending {
        left: 3px;
    }
    .lending-background .logo-lending img.img-responsive {
        width: 100%;
    }
    .number-list {
        background:none;
    }
    .number-list h2{position: relative;}
    .number-list h2::before{
        background: url(../images/point.png) no-repeat;
        display:block;
        height:17px;
        width:17px;
        content:"";
        position: absolute;
        left:-25px;
        top:7px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    header .logo {
        margin-top: 0;
        margin-bottom: 15px;
    }
    header .navbar-default .navbar-nav > li > a {
        padding: 0 16px;
    }
    footer .bg-black .footer-nav li {
        margin-right: 11px;
        padding-right: 11px;
    }
}

@media only screen and (device-width: 768px) {
    header {
        padding-top: 0;
    }
    header .navbar-default .navbar-nav > li > a {
        padding: 0 8px;
        font-size: 16px;
    }
    header.push-top .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        margin-top: 0;
        width: 100%;
    }
    header .navbar-default .navbar-collapse,
    header .navbar-default .navbar-form {
        margin-top: 0;
    }
    .search-bx {
        margin-top: 100px;
    }
    footer .bg-black .footer-nav li {
        margin-right: 5px !important;
        padding-right: 5px !important;
        font-size: 12px !important;
    }
    header .heading-dtls {
        margin-top: 65px;
    }
    .col-md-4.col-sm-4.col-xs-4.alter-width img.img-responsive {
        margin: 0 auto !important;
    }
}
