@font-face {
    font-family: 'trajanpro';
    src: url("../fonts/trajanpro.ttf") format("truetype");
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3â€”5 */
}

@font-face {
    font-family: 'pier';
    src: url("../fonts/pier-webfont.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/pier-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pier-webfont.woff2") format("woff2"), url("../fonts/pier-webfont.woff") format("woff"), url("../fonts/pier-webfont.ttf") format("truetype"), url("../fonts/pier-webfont.svg") format("svg");
    /* Legacy iOS */
}

@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light-webfont.eot');
    src: url('../fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-light-webfont.woff2') format('woff2'), url('../fonts/montserrat-light-webfont.woff') format('woff'), url('../fonts/montserrat-light-webfont.ttf') format('truetype'), url('../fonts/montserrat-light-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}


/* line 9, ../scss/partials/base.scss */

body {
    /*font-family: "Ubuntu", sans-serif;*/
    font-family: 'montserratlight';
    margin: 0;
    padding: 0;
    color: #4a4a4a;
    font-size: 15px;
}


/* line 16, ../scss/partials/base.scss */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}


/* line 21, ../scss/partials/base.scss */

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
}


/* line 25, ../scss/partials/base.scss */

h1,
h2 {
    line-height: 30px;
}


/* line 29, ../scss/partials/base.scss */

p {
    line-height: 22px;
}


/* line 33, ../scss/partials/base.scss */

ul {
    list-style: none;
}

a {
    transition: color 0.5s ease;
}


/* line 37, ../scss/partials/base.scss */

a:hover {
    text-decoration: none;
}

.red {
    color: #cc0000;
    font-size: 18px;
}

.mb15{
    margin-bottom:15px;
}
/* line 41, ../scss/partials/base.scss */

.light {
    color: #5a5a5a;
}


/* line 45, ../scss/partials/base.scss */

.lighter {
    color: #8b8b8b;
}


/* line 50, ../scss/partials/base.scss */

.btn-default:hover {
    color: #000;
}


/* line 54, ../scss/partials/base.scss */

.img-thumbnail {
    border-radius: 0;
    padding: 0;
    border-color: #000;
}


/* line 58, ../scss/partials/base.scss */

.contain {
    max-width: 1000px;
}


/* line 62, ../scss/partials/base.scss */

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    padding: 0 9px;
}


/* line 66, ../scss/partials/base.scss */

.row {
    margin: 0 -10px;
}


/* line 70, ../scss/partials/base.scss */

.uppercase {
    text-transform: uppercase;
}


/* line 74, ../scss/partials/base.scss */

.mt17 {
    margin-top: 17px;
}


/* line 78, ../scss/partials/base.scss */

.mb27 {
    margin-bottom: 27px;
}


/* line 82, ../scss/partials/base.scss */

.mb70 {
    margin-bottom: 70px;
}


/* line 86, ../scss/partials/base.scss */

.details {
    padding-left: 0;
    margin-bottom: 10px;
}


/* line 90, ../scss/partials/base.scss */

.details li {
    display: inline-block;
    padding-left: 6px;
}


/* line 94, ../scss/partials/base.scss */

.details li:after {
    content: "|";
    padding-left: 8px;
}


/* line 101, ../scss/partials/base.scss */

.details li:last-child:after {
    content: "";
}


/* line 106, ../scss/partials/base.scss */

.about-box {
    border: 1px solid #949494;
    padding: 20px 20px;
}


/* line 111, ../scss/partials/base.scss */

.bg-white {
    background-color: #fff;
}


/* line 115, ../scss/partials/base.scss */

.bg-main-img {
    padding-top: 20px;
}


/************mixins*************/


/*******typography********/


/*********typography*********/


/* line 3, ../scss/partials/typography.scss */

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    /*    font-family: "pier";*/
    font-family: 'montserratlight';
}


/* line 10, ../scss/partials/typography.scss */

a {
    /*    font-family: "pier";*/
}


/* line 14, ../scss/partials/typography.scss */

h1 {
    font-size: 24px;
}


/* line 18, ../scss/partials/typography.scss */

h2 {
    font-size: 20px;
}


/* line 21, ../scss/partials/typography.scss */

h3 {
    font-size: 16px;
}


/* line 24, ../scss/partials/typography.scss */

h4 {
    font-size: 14px;
}


/*******style*******/


/* line 27, ../scss/style.scss */

header {
    padding-top: 15px;
    color: #212121;
}


/* line 31, ../scss/style.scss */

header .heading-dtls {
    font-size: 17px;
    margin-top: 65px;
}

header .heading-dtls p {
    text-shadow: 0 1px 1px #fff;
}


/* line 37, ../scss/style.scss */

header .logo {
    margin-bottom: 15px;
    z-index: 10;
}


/* line 41, ../scss/style.scss */

header .social-media {
    display: inline-block;
}


/* line 44, ../scss/style.scss */

header .social-media li {
    display: inline-block;
    padding-right: 10px;
}


/* line 48, ../scss/style.scss */

header .social-media li:last-child {
    padding-right: 0;
}


/* line 52, ../scss/style.scss */

header .social-media li a {
    font-size: 20px;
}


/* line 55, ../scss/style.scss */

header .social-media li a.circle {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    color: #fff;
}


/* line 63, ../scss/style.scss */

header .social-media li a.circle.fb {
    background-color: #3a5998;
}


/* line 67, ../scss/style.scss */

header .social-media li a.circle.twt {
    background-color: #2aa9e0;
}


/* line 71, ../scss/style.scss */

header .social-media li a.circle.lin {
    background-color: #0073a5;
}


/* line 79, ../scss/style.scss */

header .cb-logo {
    margin-left: 22px;
}


/* line 84, ../scss/style.scss */

header .sm-txt {
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 8px;
}


/* line 88, ../scss/style.scss */

header .sm-txt a {
    color: #000;
}

header .sm-txt a:hover {
    color: #cd8a0a;
}


/* line 93, ../scss/style.scss */

header .lg-txt {
    font-size: 38px;
    color: #013354;
    line-height: 30px;
}


/* line 99, ../scss/style.scss */

header .navbar {
    min-height: 30px;
    border-radius: 0;
    margin-bottom: 9px;
}


/* line 105, ../scss/style.scss */

header .navbar-default {
    background: rgba(0, 0, 0, 0.8);
    border-color: transparent;
}


/* line 110, ../scss/style.scss */

header .navbar-default .navbar-nav > li > a {
    font-size: 17px;
    text-transform: uppercase;
    color: #fff;
    padding: 0 20px;
    line-height: 30px;
    text-shadow: 1px 0 0 #353535;
    font-family: 'montserratlight';
}

header .navbar-default .navbar-nav > li > a:hover,
header .navbar-default .navbar-nav > li > a.active {
    color: orange;
}

@media screen and (max-width:769px) {
    header .navbar-default {
   
    }
    header .navbar-nav {
        background: transparent !important;
    }
}


/* line 121, ../scss/style.scss */

.bg-fade {
    background: url(../images/bg-faded.png) no-repeat;
    margin-bottom: 31px;
    font-family: 'trajanpro';
}


/* line 126, ../scss/style.scss */

.bg-fade .heading,
.bg-fade .heading p {
    font-size: 23px;
    color: #fff;
    text-shadow: 1px 0 2px #000;
    line-height: 28px;
    padding: 14px 0 1px;
}


/* line 133, ../scss/style.scss */

.bg-fade .heading .big {
    font-size: 43px;
    letter-spacing: 2px;
    line-height: 50px;
}


/* line 143, ../scss/style.scss */

.search-bx .search-heading {
    background: #111111 url(../images/bg-black-gradient.jpg) repeat-x scroll 0 0;
    max-width: 236px;
    text-align: center;
    position: relative;
    margin: 0 auto;
}


/* line 150, ../scss/style.scss */

.search-bx .search-heading:after {
    background: url(../images/arrow-right.png) no-repeat;
    right: -32px;
}


/* line 155, ../scss/style.scss */

.search-bx .search-heading:before {
    content: "";
    background: url(../images/arrow-left.png) no-repeat;
    left: -32px;
}


/* line 161, ../scss/style.scss */

.search-bx .search-heading:after,
.search-bx .search-heading:before {
    content: "";
    width: 32px;
    height: 28px;
    position: absolute;
    top: 0;
}


/* line 169, ../scss/style.scss */

.search-bx .search-heading h3 {
    line-height: 28px;
    color: #c9c9c9;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 14px;
}


/* line 178, ../scss/style.scss */

.search-bx .search-body {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    max-width: 828px;
    margin: 0 auto;
    padding-bottom: 15px;
    margin-bottom: 135px;
    font-family: 'montserratlight';
}


/* line 186, ../scss/style.scss */

.search-bx .search-body .form-control {
    height: 45px;
    padding: 6px 4px;
}


/* line 191, ../scss/style.scss */

.search-bx .search-body > .row {
    margin: 0;
}


/* line 194, ../scss/style.scss */

.search-bx .search-body > .row > .col-md-4 {
    width: 24.7%;
    padding: 0;
    padding-left: 9px;
}


/* line 199, ../scss/style.scss */

.search-bx .search-body > .row > .col-md-4:last-child {
    padding-right: 9px;
}


/* line 203, ../scss/style.scss */

.search-bx .search-body > .row > .col-md-4.chng-width {
    width: 17.7%;
}


/* line 206, ../scss/style.scss */

.search-bx .search-body > .row > .col-md-4.chng-width .srch-btn {
    width: 100%;
    margin-top: 30px;
    background: url(../images/srch-btn-bg.jpg) repeat-x;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    height: 45px;
    border: 1px solid #000;
}


/* line 219, ../scss/style.scss */

.search-bx .search-body > .row > .col-md-2 {
    width: 28.78%;
    padding: 0;
}


/* line 223, ../scss/style.scss */

.search-bx .search-body > .row > .col-md-2 > .row {
    margin: 0;
}


/* line 226, ../scss/style.scss */

.search-bx .search-body > .row > .col-md-2 > .row > .col-md-6 {
    padding: 0;
    padding-left: 9px;
}


/* line 234, ../scss/style.scss */

.search-bx .search-body h4 {
    color: #ffbb2c;
    line-height: 30px;
    position: relative;
}


/* line 241, ../scss/style.scss */

.search-bx .search-body h4.line:before,
.search-bx .search-body h4.line:after {
    content: "";
    position: absolute;
    width: 41px;
    height: 1px;
    top: 16px;
    background: url(../images/Untitled-1.jpg) no-repeat;
}


/* line 250, ../scss/style.scss */

.search-bx .search-body h4.line:before {
    left: 3px;
}


/* line 254, ../scss/style.scss */

.search-bx .search-body h4.line:after {
    right: 3px;
}


/* line 262, ../scss/style.scss */

.bg-img-home {
    z-index: 0;
    position: relative;
}

.bg-img-home:after {
    content: "";
    background: url(../images/logo-home.png) no-repeat top center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


/* line 265, ../scss/style.scss */

.bg-img-home img {
    /*  max-height: 800px;
    width: 100%;*/
}


/* line 272, ../scss/style.scss */

main h1 {
    margin-top: 15px;
    line-height: 50px;
    color: #082862;
}


/* line 278, ../scss/style.scss */

main .textimonials-box {
    border: 1px solid #9ea7b7;
    box-shadow: 1px 0 3px #c5c6c8;
    background: url(../images/bg-testimonial.jpg) repeat;
    padding: 12px 14px;
    position: relative;
}


/* line 285, ../scss/style.scss */

main .textimonials-box:after {
    content: "";
    background: url(../images/testimonial-arrow.jpg);
    width: 23px;
    height: 12px;
    position: absolute;
    bottom: -12px;
    right: 18px;
}


/* line 295, ../scss/style.scss */

main .textimonials-box p {
    font-size: 13px;
    color: #5a5a5a;
}


/* line 301, ../scss/style.scss */

main .info {
    background-color: #1b1b1b;
    min-height: 62px;
    margin-top: 26px;
    padding: 5px;
}


/* line 307, ../scss/style.scss */

main .info h2 {
    color: #fff;
}


/* line 311, ../scss/style.scss */

main .info p {
    color: #cccccc;
}


/* line 316, ../scss/style.scss */

main .bg-grey {
    background: #edeef0;
    padding-bottom: 49px;
}


/* line 324, ../scss/style.scss */

main .bg-grey > .contain > .row > .col-md-8 {
    width: 69.666667%;
}


/* line 328, ../scss/style.scss */

main .bg-grey > .contain > .row > .col-md-8 li > .row {
    margin: 0 -9px;
}


/* line 332, ../scss/style.scss */

main .bg-grey > .contain > .row h2 {
    line-height: 53px;
}


/* line 336, ../scss/style.scss */

main .bg-grey > .contain > .row .bxslider.featured-slider {
    /*width: 821% !important;
    margin-left: 1px;*/
}


/* line 340, ../scss/style.scss */

main .bg-grey > .contain > .row .bxslider.featured-slider li {
    /*max-width: 4.17% !important;
    padding-right: 15px;*/
}


/* line 348, ../scss/style.scss */

main .bg-grey > .contain > .row a {
    display: block;
}


/* line 354, ../scss/style.scss */

main .bg-grey > .contain > .row a:hover .img-wrap img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}


/* line 362, ../scss/style.scss */

main .bg-grey > .contain > .row a .border {
    box-shadow: 1px 0 3px #c5c6c8;
    border: 1px solid #b5b7bc;
}


/* line 366, ../scss/style.scss */

main .bg-grey > .contain > .row a .border p {
    line-height: 17px;
    color: #8b8b8b;
    margin-bottom: 10px;
}


/* line 372, ../scss/style.scss */

main .bg-grey > .contain > .row a .border .property-box {
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #b5b7bc;
}


/* line 377, ../scss/style.scss */

main .bg-grey > .contain > .row a .border .property-box .img-wrap {
    overflow: hidden;
}


/* line 380, ../scss/style.scss */

main .bg-grey > .contain > .row a .border .property-box .img-wrap img {
    width: 100%;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}


/* line 389, ../scss/style.scss */

main .bg-grey > .contain > .row a .border .property-box h4 {
    line-height: 25px;
    color: #3c3c3c;
}


/* line 394, ../scss/style.scss */

main .bg-grey > .contain > .row a .border .property-box p {
    /*font-family: "Ubuntu", sans-serif;*/
    font-family: 'montserratlight';
}


/* line 398, ../scss/style.scss */

main .bg-grey > .contain > .row a .border .features {
    background-color: #efefef;
    text-align: center;
    padding: 0;
    border: 1px solid #fff;
    position: relative;
    /*font-family: "Ubuntu", sans-serif;*/
    font-family: 'montserratlight';
}


/* line 406, ../scss/style.scss */

main .bg-grey > .contain > .row a .border .features p {
    font-size: 13px;
    line-height: 43px;
    /*font-family: "Ubuntu", sans-serif;*/
    font-family: 'montserratlight';
}


/* line 411, ../scss/style.scss */

main .bg-grey > .contain > .row a .border .features:after {
    content: "";
    background: url(../images/arrow.jpg) no-repeat;
    width: 13px;
    height: 8px;
    position: absolute;
    top: -2px;
    right: 20px;
}


/* line 423, ../scss/style.scss */

main .bg-grey > .contain > .row a .rate {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    color: #013354;
    margin-top: 10px;
    /*font-family: "Ubuntu", sans-serif;*/
    font-family: 'montserratlight';
}


/* line 433, ../scss/style.scss */

main .bg-grey > .contain > .row > .col-md-4 {
    width: 30.333333%;
}


/* line 435, ../scss/style.scss */

main .bg-grey > .contain > .row > .col-md-4 a {
    border: 0;
    box-shadow: none;
    margin-top: 12px;
}


/* line 445, ../scss/style.scss */

main .bg-white {
    position: relative;
    padding-bottom: 40px;
}


/* line 449, ../scss/style.scss */

main .bg-white .bg-img {
    position: absolute;
    bottom: 0;
    left: 158px;
}


/* line 458, ../scss/style.scss */

main .bg-white .contain > .row > .col-md-8 {
    width: 69.666667%;
}


/* line 461, ../scss/style.scss */

main .bg-white .contain > .row > .col-md-4 {
    width: 30.333333%;
}


/* line 466, ../scss/style.scss */

main .bg-white .contain .about-box {
    position: relative;
    background: rgba(255, 255, 255, 0.5);
}


/* line 470, ../scss/style.scss */

main .bg-white .contain .about-box p {
    color: #5a5a5a;
    font-weight: 400;
}


/* line 475, ../scss/style.scss */

main .bg-white .contain .about-box .btn-style {
    border: 1px solid #949494;
    background-color: #fff;
    line-height: 22px;
    font-family: 'Questrial', sans-serif;
    border-radius: 0;
    color: #013354;
    padding: 0 3px;
    position: absolute;
    bottom: -12px;
    right: 15px;
}


/* line 487, ../scss/style.scss */

main .bg-white .contain .about-box .btn-style:hover {
    background-color: #cbcbcb;
    color: #fff;
}


/* line 497, ../scss/style.scss */

.bx-wrapper {
    margin: 0;
}


/* line 500, ../scss/style.scss */

.bx-wrapper .bx-viewport {
    box-shadow: none;
    background: none;
    border: 0;
    left: 0;
    height:auto !important;
}


/* line 507, ../scss/style.scss */

.bx-wrapper .bx-pager {
    display: none;
}


/*.bxslider.testi-monials li{
    max-width: 280px !important;
    margin:0 1px !important;
}*/


/* line 510, ../scss/style.scss */

.bx-wrapper .bx-controls-direction a {
    text-indent: 0;
    top: -15px;
    height: 18px;
    width: 18px;
    color: #fff;
    background-color: #cbcbcb;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    z-index:100 !important;
    
}


/* line 521, ../scss/style.scss */

.bx-wrapper .bx-controls-direction a:hover,
.bx-wrapper .bx-controls-direction a:focus {
    background-color: #414d63;
}


/* line 526, ../scss/style.scss */

.bx-wrapper .bx-next {
    right: 0px;
}


/* line 531, ../scss/style.scss */

footer .bg-black {
    background: url(../images/bg-pattern-black.jpg) repeat;
}


/* line 534, ../scss/style.scss */

footer .bg-black .footer-nav {
    padding: 0;
    margin-left: 0;
}


/* line 536, ../scss/style.scss */

footer .bg-black .footer-nav li {
    margin: 0 8px 0 8px;
    padding-right: 19px;
    font-size: 16px;
    color: #fff;
    text-shadow: 1px 0 0 #353535;
    line-height: 66px;
    display: inline-block;
    position: relative;
    font-family: 'montserratlight';
}


/* line 546, ../scss/style.scss */

footer .bg-black .footer-nav li:after {
    content: ".";
    position: absolute;
    color: #fff;
    height: 1px;
    width: 1px;
    right: 0;
    top: -3px;
}


/* line 556, ../scss/style.scss */

footer .bg-black .footer-nav li:last-child {
    padding: 0;
    margin: 0 0 0 8px;
}


/* line 560, ../scss/style.scss */

footer .bg-black .footer-nav li:last-child:after {
    content: "";
}


/* line 568, ../scss/style.scss */

footer .bg-grey {
    background: url(../images/bg-pattern-grey.jpg) repeat;
    padding: 28px 0;
}


/* line 574, ../scss/style.scss */

footer .bg-grey .contain > .row > .col-md-9 {
    width: 79%;
}


/* line 577, ../scss/style.scss */

footer .bg-grey .contain > .row > .col-md-9 .breadcrumb {
    padding: 0;
    background: none;
    font-size: 14px;
}


/* line 582, ../scss/style.scss */

footer .bg-grey .contain > .row > .col-md-9 .breadcrumb li a {
    color: #57567a;
    line-height: 30px;
    text-transform: uppercase;
    font-family: 'montserratlight';
}


/* line 587, ../scss/style.scss */

footer .bg-grey .contain > .row > .col-md-9 .breadcrumb li a:hover {
    color: #000;
}


/* line 594, ../scss/style.scss */

footer .bg-grey .contain > .row > .col-md-9 img {
    margin-top: 48px;
}


/* line 598, ../scss/style.scss */

footer .bg-grey .contain > .row > .col-md-3 {
    width: 21%;
}


/* line 606, ../scss/style.scss */

footer .bg-white > .contain {
    padding: 15px 0;
}


/* line 611, ../scss/style.scss */

footer .bg-white > .contain > .row > .col-md-11 {
    width: 94.666667%;
}


/* line 614, ../scss/style.scss */

footer .bg-white > .contain > .row > .col-md-11 p {
    font-size: 12px;
    line-height: 30px;
}


/* line 617, ../scss/style.scss */

footer .bg-white > .contain > .row > .col-md-1 {
    width: 5.333333%;
}


/* line 625, ../scss/style.scss */

.breadcrumb > li + li:before {
    content: "|";
    padding: 0 10px;
    color: #57567a;
}


/* line 631, ../scss/style.scss */

.breadcrumb > .active {
    color: #121129;
    text-transform: uppercase;
}


/* line 636, ../scss/style.scss */

.nav > li > a:hover,
.nav > li > a:focus {
    background: none;
    color: #efefef;
    border-color: #fff;
}


/* line 641, ../scss/style.scss */

.carousel-control.left,
.carousel-control.right {
    background: rgba(0, 0, 0, 0.3);
}


/* line 643, ../scss/style.scss */

.carousel-control {
    height: 90px;
    width: 60px;
    top: 40%;
    opacity: 0.9;
}

@media screen and (max-width:769px) {
    .carousel-control .icon-prev,
    .carousel-control .glyphicon-chevron-left {
        top: 50% !important;
        left: 50% !important;
    }
    .carousel-control .icon-prev,
    .carousel-control .glyphicon-chevron-right {
        top: 50% !important;
        right: 50% !important;
    }
}


/* line 650, ../scss/style.scss */

.glyphicon-chevron-left::before,
.glyphicon-chevron-right::before {
    content: "";
    width: 25px;
    height: 45px;
    position: absolute;
    top: -5px;
    left: 0;
}


/* line 659, ../scss/style.scss */

.glyphicon-chevron-left::before {
    background: url(../images/arrow-left-carousel.png) no-repeat;
}


/* line 663, ../scss/style.scss */

.glyphicon-chevron-right::before {
    background: url(../images/arrow-right-carousel.png) no-repeat;
}


/* line 667, ../scss/style.scss */

.carousel-indicators {
    width: 100%;
    left: 0;
    margin-left: 0;
    background: rgba(255, 255, 255, 0.5);
    height: 40px;
    bottom: -10px;
    text-align: right;
    padding-right: 15px;
    padding-top: 10px;
}


/* line 679, ../scss/style.scss */

.carousel-indicators li,
.carousel-indicators .active {
    height: 20px;
    width: 20px;
    background-color: #424242;
    border: 3px solid #fff;
}


/* line 686, ../scss/style.scss */

.carousel-indicators .active {
    position: relative;
}


/* line 689, ../scss/style.scss */

.carousel-indicators .active:after {
    position: absolute;
    content: "";
    background: url(../images/dot.jpg) no-repeat;
    width: 6px;
    height: 6px;
    top: 4px;
    left: 4px;
}


/******* inner pages******/


/* line 705, ../scss/style.scss */

.bg-pattern-grey {
    background: url(../images/bg-pattern-grey-1.jpg);
}


/* line 712, ../scss/style.scss */

.bg-pattern-grey main > .contain > .row.border-down {
    border-bottom: 1px solid #b1b1b1;
    margin: 0 0 25px 0;
}


/* line 718, ../scss/style.scss */

.bg-pattern-grey main h1 {
    margin-top: 0;
    line-height: 20px;
    margin-bottom: 20px;
}


/* line 724, ../scss/style.scss */

.bg-pattern-grey main .contain-white {
    background: #fff;
    border: 1px solid #d6d6d6;
    padding-top: 17px;
}


/* line 732, ../scss/style.scss */

.bg-pattern-grey main .contain-white.listing-details .row > .col-md-8 {
    width: 69.666667%;
}


/* line 736, ../scss/style.scss */

.bg-pattern-grey main .contain-white.listing-details .row > .col-md-4 {
    width: 30.333333%;
}


/* line 744, ../scss/style.scss */

.bg-pattern-grey main .contain-white .row > .col-md-8 {
    width: 69.666667%;
}


/* line 747, ../scss/style.scss */

.bg-pattern-grey main .contain-white .row > .col-md-8.alter-width {
    width: 70%;
}


/* line 752, ../scss/style.scss */

.bg-pattern-grey main .contain-white .row > .col-md-4 {
    width: 30.333333%;
}


/* line 755, ../scss/style.scss */

.bg-pattern-grey main .contain-white .row > .col-md-4.alter-width {
    width: 30%;
}


/* line 759, ../scss/style.scss */

.bg-pattern-grey main .contain-white .row > .col-md-4.alter-width-listings {
    width: 33.33333%;
}

.bg-pattern-grey main .contain-white .row > .col-md-4.alter-width-listings .btn {
    position: absolute;
    bottom: 10px;
    left: 25px;
}


/* line 764, ../scss/style.scss */

.bg-pattern-grey main .contain-white .row > .col-md-5 {
    width: 48.666667%;
}


/* line 766, ../scss/style.scss */

.bg-pattern-grey main .contain-white .row > .col-md-7 {
    width: 51.333333%;
}

@media screen and (max-width:801px) {
    .bg-pattern-grey main .contain-white .row > .col-md-7 {
        width: 100%
    }
}


/* line 768, ../scss/style.scss */

.bg-pattern-grey main .contain-white .row:first-child > .col-md-9 {
    width: 70%;
}

.bg-pattern-grey main .contain-white .row > .col-md-9 {
    width: 65.789474%;
}



/* line 770, ../scss/style.scss */

.bg-pattern-grey main .contain-white .row:first-child > .col-md-3 {
    width: 30%;
}
.bg-pattern-grey main .contain-white .row > .col-md-3 {
    width: 34.210526%;
}


/* line 773, ../scss/style.scss */

.bg-pattern-grey main .contain-white .about-box {
    // padding: 27px 20px 0 20px;
}


/* line 777, ../scss/style.scss */

.bg-pattern-grey main .contain-white .about-box .heading-tlnt-box {
    color: #000;
    margin-bottom: 27px;
}


/* line 782, ../scss/style.scss */

.bg-pattern-grey main .contain-white .about-box .tlnt-box {
    margin-bottom: 27px;
}


/* line 785, ../scss/style.scss */

.bg-pattern-grey main .contain-white .about-box .tlnt-box .heading {
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 0 0 #353535;
    background: #979793;
    line-height: 25px;
    padding-left: 15px;
    position: relative;
}


/* line 796, ../scss/style.scss */

.bg-pattern-grey main .contain-white .about-box .tlnt-box .heading.no-img:after {
    display: none;
}


/* line 801, ../scss/style.scss */

.bg-pattern-grey main .contain-white .about-box .tlnt-box .heading.mw180 {
    max-width: 180px;
}


/* line 805, ../scss/style.scss */

.bg-pattern-grey main .contain-white .about-box .tlnt-box .heading.mw240 {
    max-width: 240px;
}


/* line 809, ../scss/style.scss */

.bg-pattern-grey main .contain-white .about-box .tlnt-box .heading.mw225 {
    max-width: 225px;
}


/* line 813, ../scss/style.scss */

.bg-pattern-grey main .contain-white .about-box .tlnt-box .heading.mw150 {
    max-width: 150px;
}


/* line 817, ../scss/style.scss */

.bg-pattern-grey main .contain-white .about-box .tlnt-box .heading:after {
    content: "";
    width: 26px;
    height: 25px;
    position: absolute;
    right: 0;
    background: url(../images/heading-after.jpg) no-repeat;
}


/* line 827, ../scss/style.scss */

.bg-pattern-grey main .contain-white .about-box .tlnt-box .body {
    background: url(../images/bg-testimonial.jpg) repeat;
    border: 1px solid #979793;
    padding: 15px;
    position: relative;
    overflow: hidden;
}


/* line 834, ../scss/style.scss */

.bg-pattern-grey main .contain-white .about-box .tlnt-box .body .bg_img {
    position: absolute;
    bottom: 0;
    left: 0;
}


/* line 843, ../scss/style.scss */

.bg-pattern-grey main .contain-white .fb-lb,
.bg-pattern-grey main .contain-white .profile {
    margin-bottom: 27px;
    margin-top: -10px;
}


/* line 850, ../scss/style.scss */

.bg-pattern-grey main .property-text-wrap .property-name,
.bg-pattern-grey main .property-text-wrap p,
.bg-pattern-grey main .property-text-wrap .rate {
    margin-bottom: 10px;
}


/* line 852, ../scss/style.scss */

.bg-pattern-grey main .property-text-wrap .property-name {
    font-size: 28px;
    font-weight: 500;
    line-height: 25px;
    text-transform: capitalize;
    color: #000;
    //font-family: "ubuntu";
    font-family: 'montserratlight';
}


/* line 859, ../scss/style.scss */

.bg-pattern-grey main .property-text-wrap .property-name:hover {
    color: #013354;
}


/* line 864, ../scss/style.scss */

.bg-pattern-grey main .property-text-wrap p {
    font-size: 16px;
    color: #6a6a6a;
    font-weight: 300;
    line-height: 24px;
}


/* line 871, ../scss/style.scss */

.bg-pattern-grey main .property-text-wrap .rate {
    font-size: 24px;
    padding: 8px 0;
    border-top: 1px solid #b1b1b1;
    border-bottom: 1px solid #b1b1b1;
    color: #353535;
}

.bg-pattern-grey main .property-text-wrap .rate img {
    margin-top: -4px;
    margin-right: -3px;
}


/* line 878, ../scss/style.scss */

.bg-pattern-grey main .property-text-wrap a {
    color: #013354;
    text-transform: uppercase;
}


/* line 882, ../scss/style.scss */

.bg-pattern-grey main .property-text-wrap a:hover {
    color: #000;
}


/* line 890, ../scss/style.scss */

.bg-pattern-grey main .listing-details h1 {
    font-size: 25px;
    color: #000;
    line-height: 34px;
    margin-bottom: 5px;
    font-weight: 400;
    margin-top: 12px;
    
}


/* line 897, ../scss/style.scss */

.bg-pattern-grey main .listing-details p {
    font-size: 16px;
    color: #6a6a6a;
    font-weight: 300;
    line-height: 24px;
}


/* line 904, ../scss/style.scss */

.bg-pattern-grey main .listing-details .btn-default {
    border-radius: 0;
    border-color: #a5a5a5;
}


/* line 908, ../scss/style.scss */

.bg-pattern-grey main .listing-details .btn-default.ml {
    margin-left: -4px;
}


/* line 911, ../scss/style.scss */

.bg-pattern-grey main .listing-details .btn-default.ml.bg-color {
    text-shadow: 1px 0 0 #353535;
    text-transform: uppercase;
    background: #6d6d6d;
    color: #fff;
    /*padding: 6px 20px;*/
    height: 35px;
    float: left;
    margin-left: -1px;
}


/* line 922, ../scss/style.scss */

.bg-pattern-grey main .listing-details .inner-details li {
    text-transform: uppercase;
    font-size: 12px;
    padding-right: 14px;
    font-family: montserratregular;
}


/* line 928, ../scss/style.scss */

.bg-pattern-grey main .listing-details .inner-details li:after {
    padding-left: 18px;
    font-size: 16px;
}


/* line 933, ../scss/style.scss */

.bg-pattern-grey main .listing-details .inner-details li .big-txt {
    font-size: 28px;
    font-weight: 500;
    color: #013354;
    text-transform: capitalize;
}


/* line 942, ../scss/style.scss */

.bg-pattern-grey main .listing-details .property-rate {
    font-size: 28px;
    color: #353535;
    font-weight: 700;
    line-height: 30px;
    text-align: right;
}

@media screen and (max-width:801px) {
    .bg-pattern-grey main .listing-details .property-rate {
        text-align: left;
        margin-bottom: 25px;
    }
}


/* line 950, ../scss/style.scss */

.bg-pattern-grey main .listing-details .nav-tabs {
    border: 0;
    margin-bottom: 40px;
}


/* line 954, ../scss/style.scss */

.bg-pattern-grey main .listing-details .nav-tabs > li {
    padding: 0 15px;
}


/* line 957, ../scss/style.scss */

.bg-pattern-grey main .listing-details .nav-tabs > li > a {
    font-size: 16px;
    text-transform: uppercase;
    color: #919191;
    padding: 3px 0px;
}


/* line 966, ../scss/style.scss */

.bg-pattern-grey main .listing-details .nav-tabs > li.active > a,
.bg-pattern-grey main .listing-details .nav-tabs > li.active > a:hover,
.bg-pattern-grey main .listing-details .nav-tabs > li.active > a:focus {
    border: 0;
    color: #013354;
    border-bottom: 2px solid #013354;
    position: relative;
}


/* line 972, ../scss/style.scss */

.bg-pattern-grey main .listing-details .nav-tabs > li.active > a:after,
.bg-pattern-grey main .listing-details .nav-tabs > li.active > a:hover:after,
.bg-pattern-grey main .listing-details .nav-tabs > li.active > a:focus:after {
    content: "";
    position: absolute;
    background: url(../images/hover.jpg) no-repeat;
    width: 9px;
    height: 5px;
    bottom: -7px;
    left: 45%;
}


/* line 983, ../scss/style.scss */

.bg-pattern-grey main .listing-details .tab-content {
    padding: 0 15px;
}


/* line 986, ../scss/style.scss */

.bg-pattern-grey main .listing-details .tab-content .big-itl {
    font-size: 26px;
    font-style: italic;
    line-height: 38px;
}


/* line 992, ../scss/style.scss */

.bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery {
    margin-bottom: 40px;
}


/* line 999, ../scss/style.scss */

.bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery .photo-slider .carousel-inner > .row > .col-md-6 {
    width: 50%;
}


/* line 1005, ../scss/style.scss */

.bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery .photo-slider a img {
    margin-bottom: 23px;
}


/* line 1009, ../scss/style.scss */

.bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery .photo-slider .carousel-control.left,
.bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery .photo-slider .carousel-control.right {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-color: #636f85;
}


/* line 1016, ../scss/style.scss */

.bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery .photo-slider .carousel-control {
    top: 99%;
}


/* line 1020, ../scss/style.scss */

.bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery .photo-slider .carousel-control.left {
    left: 84%;
}


/* line 1024, ../scss/style.scss */

.bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery .photo-slider .glyphicon-chevron-left::before,
.bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery .photo-slider .glyphicon-chevron-right::before {
    width: 15px;
    height: 23px;
    top: 3px;
}


/* line 1030, ../scss/style.scss */

.bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery .photo-slider .glyphicon-chevron-left::before {
    background: url(../images/photo-slider-left.png) no-repeat;
    left: 6px;
}


/* line 1035, ../scss/style.scss */

.bg-pattern-grey main .listing-details .tab-content .tab-pane.photo-gallery .photo-slider .glyphicon-chevron-right::before {
    background: url(../images/photo-slider-right.png) no-repeat;
    left: 9px;
}


/* line 1043, ../scss/style.scss */

.bg-pattern-grey main .listing-details .location {
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 19px;
}


/* line 1050, ../scss/style.scss */

.bg-pattern-grey main .listing-details .location li {
    display: inline-block;
}


/* line 1052, ../scss/style.scss */

.bg-pattern-grey main .listing-details .location li p {
    padding-left: 5px;
}


/* line 1058, ../scss/style.scss */

.bg-pattern-grey main .listing-details .contact-bg {
    /*background: url(../images/contact-bg.jpg) repeat;*/
    border: 1px solid #dce0e0;
    min-width: 280px;
    margin-left: 0;
    -webkit-transition: margin-left 0.5s ease-in-out;
    transition: margin-left 0.5s ease-in-out;
}

@media screen and (max-width:801px) {
    .bg-pattern-grey main .listing-details .contact-bg {
        margin: 0 auto;
    }
}

@media screen and (max-width:769px) {
    .listing-details .contact-bg {
        margin: 0 auto;
    }
}

@media screen and (max-width:400px) {
    .listing-details .contact-bg {
        margin-left: 0 !important;
    }
}


/* line 1064, ../scss/style.scss */

.bg-pattern-grey main .listing-details .contact-bg h2 {
    font-size: 18px;
    text-align: center;
    color: #919191;
    line-height: 13px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: url(../images/get-in-touch.png) repeat-x;
    border-bottom: 1px solid #dce0e0;
    font-weight: 700;
    color: #4b4b4b;
}


/* line 1073, ../scss/style.scss */

.bg-pattern-grey main .listing-details .contact-bg .contact-info {
    padding: 22px 15px;
    background: url(../images/pattern.png) repeat-x;
    background-size: contain;
}


/* line 1076, ../scss/style.scss */

.bg-pattern-grey main .listing-details .contact-bg .contact-info .img-wrap {
    float: left;
}


/* line 1080, ../scss/style.scss */

.bg-pattern-grey main .listing-details .contact-bg .contact-info .txt-wrap {
    float: left;
    /*padding-left: 15px;*/
    color: #073758;
    padding-left: 15px;
    width: 178px;
}


/* line 1085, ../scss/style.scss */

.bg-pattern-grey main .listing-details .contact-bg .contact-info .txt-wrap h1 {
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 5px;
    line-height: 1;
}


/* line 1089, ../scss/style.scss */

.bg-pattern-grey main .listing-details .contact-bg .contact-info .txt-wrap .sm-heading {
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 7px;
    display: block;
}


/* line 1096, ../scss/style.scss */

.bg-pattern-grey main .listing-details .contact-bg .contact-info .txt-wrap a {
    text-transform: lowercase;
    display: block;
    font-size: 14px;
    color: #464646;
    margin-bottom: 5px;
    font: 600 14px montserratlight;
}


/* line 1104, ../scss/style.scss */

.bg-pattern-grey main .listing-details .contact-bg .contact-info .txt-wrap p {
    /*    font-family:"pier";
*/
    font: 600 14px montserratlight;
}

.bg-pattern-grey main .listing-details .contact-bg .contact-info .txt-wrap p img {
    margin-right: -8px;
}


/* line 1113, ../scss/style.scss */

.bg-pattern-grey main .contact-form {
    margin-top: 20px;
}


/* line 1116, ../scss/style.scss */

.bg-pattern-grey main .contact-form label {
    font-weight: 300;
    color: #686767;
    text-transform: capitalize;
}


/* line 1122, ../scss/style.scss */

.bg-pattern-grey main .contact-form .form-control {
    border-radius: 0;
    border: 1px solid #d5d4cd;
    background: #f8f8f8;
}


/* line 1128, ../scss/style.scss */

.bg-pattern-grey main .contact-form em {
    color: #686767;
    font-size: 13px;
    margin-top: 10px;
    display: block;
}


/* line 1132, ../scss/style.scss */

.bg-pattern-grey main .contact-form .radio,
.bg-pattern-grey main .contact-form .checkbox {
    margin-top: 22px;
    margin-bottom: 31px;
}


/* line 1137, ../scss/style.scss */

.bg-pattern-grey main .contact-form .radio input[type=radio],
.bg-pattern-grey main .contact-form .radio-inline input[type=radio],
.bg-pattern-grey main .contact-form .checkbox input[type=checkbox],
.bg-pattern-grey main .contact-form .checkbox-inline input[type=checkbox] {
    margin-left: 5px;
}


/* line 1139, ../scss/style.scss */

.bg-pattern-grey main .contact-form .radio label,
.bg-pattern-grey main .contact-form .checkbox label {
    padding-left: 0;
}


/* line 1142, ../scss/style.scss */

.bg-pattern-grey main .btn-pattern {
    background: url(../images/btn-bg.jpg) repeat;
    border: 1px solid #000;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    width: 260px;
    padding: 9px 0;
    margin-bottom: 15px;
}


/* line 1152, ../scss/style.scss */

.bg-pattern-grey main .btn-pattern:hover {
    color: #000;
}


/* line 1159, ../scss/style.scss */

.bg-pattern-grey main .jc-details h2 {
    color: #073758;
    line-height: 25px;
    margin-bottom: 5px;
}


/* line 1161, ../scss/style.scss */

.bg-pattern-grey main .jc-details address,
.bg-pattern-grey main .jc-details .contact-info {
    color: #6f6f6f;
    font-size: 17px;
    /*font-family: "pier";*/
    text-transform: capitalize;
}


/* line 1169, ../scss/style.scss */

.bg-pattern-grey main .bg-pattern-brick {
    background: url(../images/bg-brick.jpg) repeat;
    margin: 0 -15px -15px;
    padding: 18px 5px;
}


/* line 1175, ../scss/style.scss */

.bg-pattern-grey main .bg-pattern-brick .bg-dropshadow {
    background-color: #fff;
    padding: 14px 25px;
    box-shadow: 0 0 5px #adadad;
    min-height: 450px;
    position: relative;
    padding-bottom: 40px;
}


/* line 1180, ../scss/style.scss */

.bg-pattern-grey main .bg-pattern-brick .bg-dropshadow h2 {
    color: #073758;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 18px;
}


/* line 1187, ../scss/style.scss */

.bg-pattern-grey main .bg-pattern-brick .bg-dropshadow p {
    color: #6f6f6f;
    line-height: 22px;
    font-size: 13px;
    margin: 15px 0;
}


/* line 1194, ../scss/style.scss */

.bg-pattern-grey main .bg-pattern-brick .bg-dropshadow .btn-pattern {
    margin-bottom: 12px;
    max-width: 167px;
}


/* line 1198, ../scss/style.scss */

.bg-pattern-grey main .bg-pattern-brick .bg-dropshadow .btn-pattern .after {
    position: relative;
}


/* line 1201, ../scss/style.scss */

.bg-pattern-grey main .bg-pattern-brick .bg-dropshadow .btn-pattern .after:after {
    content: "";
    background: url(../images/btn-border.jpg) no-repeat;
    position: absolute;
    width: 1px;
    height: 25px;
    top: -5px;
    right: 0;
    padding-right: 10px;
}


/* line 1213, ../scss/style.scss */

.bg-pattern-grey main .bg-pattern-brick .bg-dropshadow .btn-pattern img {
    padding-right: 20px;
}


/* line 1222, ../scss/style.scss */

.bg-pattern-grey main .testimonials h1 {
    margin-bottom: 70px;
}


/* line 1226, ../scss/style.scss */

.bg-pattern-grey main .testimonials > .row > .col-md-10 {
    width: 85.333333%;
    margin-bottom: 60px;
}


/* line 1230, ../scss/style.scss */

.bg-pattern-grey main .testimonials > .row > .col-md-10.col-md-offset-1 {
    margin-left: 7.333333%;
}


/* line 1236, ../scss/style.scss */

.bg-pattern-grey main .testimonials .testimonials-wrap {
    border: 1px solid #000;
    padding: 30px 15px 20px 15px;
    margin-bottom: 10px;
    position: relative;
}


/* line 1242, ../scss/style.scss */

.bg-pattern-grey main .testimonials .testimonials-wrap p {
    /*  text-transform: uppercase;*/
    color: #5a5a5a;
}


/* line 1247, ../scss/style.scss */

.bg-pattern-grey main .testimonials .testimonials-wrap img {
    position: absolute;
    height: 36px;
    width: 36px;
    top: -18px;
    left: 48%;
}


/* line 1256, ../scss/style.scss */

.bg-pattern-grey main .testimonials .person-details {
    text-transform: capitalize;
    /*font-family: "pier";*/
}


/* line 1260, ../scss/style.scss */

.bg-pattern-grey main .testimonials .person-details .person-name {
    font-size: 20px;
    color: #393939;
}


/* line 1265, ../scss/style.scss */

.bg-pattern-grey main .testimonials .person-details .person-address {
    font-size: 14px;
    color: #8e8e8e;
}

.form-submission-page p {
    font-size: 18px;
    text-transform: uppercase;
    color: #082862;
    margin-bottom: 30px;
    /*font-family: "pier";*/
    line-height: 25px;
}

.bg-pattern-grey main h1.border-bottom {
    position: relative;
    margin-bottom: 40px;
}

.bg-pattern-grey main h1.border-bottom:after {
    position: absolute;
    content: "";
    background: #082862;
    height: 2px;
    width: 349px;
    bottom: -10px;
    left: 32%;
}

.bg-pattern-grey main ul.page-links {
    text-align: center;
    padding: 0;
    margin-bottom: 35px;
}

.bg-pattern-grey main ul.page-links li {
    position: relative;
    display: inline-block;
    border-radius: 50px;
    border: 3px solid #676767;
    width: 261px;
    text-align: center;
    margin-right: 16px;
    background: #676767;
}

.bg-pattern-grey main ul.page-links li.active {
    background: -webkit-linear-gradient(#f9f9f9, #cfcfcf);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f9f9f9, #cfcfcf);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f9f9f9, #cfcfcf);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f9f9f9, #cfcfcf);
    /* Standard syntax */
}

.bg-pattern-grey main ul.page-links li.active a {
    color: #082862;
}

.bg-pattern-grey main ul.page-links li:last-child {
    margin-right: 0;
}

.bg-pattern-grey main ul.page-links li:last-child:after {
    display: none;
}

.bg-pattern-grey main ul.page-links li:after {
    content: "";
    position: absolute;
    background: #676767;
    width: 20px;
    height: 4px;
    top: 40%;
    right: -23px;
}

.bg-pattern-grey main ul.page-links li a {
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
}

.form-submission-page .form-horizontal .form-group {
    margin-bottom: 25px;
}

.form-submission-page .form-horizontal .form-group .form-control {
    border-radius: 0;
    border-color: #919191;
    height: 41px;
}

.form-submission-page .form-horizontal .form-group label {
    /*font-family: "pier";*/
    font-size: 14px;
    font-weight: 500;
    color: #393939;
}

.form-submission-page .form-horizontal .form-group label.required-field {
    position: relative;
}

.form-submission-page .form-horizontal .form-group label.control-label {
    text-align: left;
}

.form-submission-page .form-horizontal .btn-pattern {
    margin: 20px 0 40px 0;
}

.form-submission-page .form-horizontal .btn-pattern:hover {
    color: #fff;
}

.form-submission-page .form-horizontal .btn-pattern img {
    margin-top: -2px;
}

.form-submission-page .form-horizontal .form-group select.form-control {}

.form-submission-page .form-horizontal .form-group label.col-md-2 {
    width: 24.666667%;
}

.form-submission-page .form-horizontal .form-group label.col-md-2.col-md-offset-2 {
    margin-left: 12.666667%;
}

.form-submission-page .form-horizontal .form-group > .col-md-6 > .row > .col-md-4 {
    width: 33.3333333%;
}

.bg-pattern-grey main .form-submission-page > .row > .col-md-5 {
    width: 42.6%;
    margin-left: 4.8%;
}

.form-submission-page .customizable-form .heading {
    width: 100%;
    background: #676767;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}

.form-submission-page .customizable-form .heading a img {
    position: absolute;
    right: 15px;
}

.form-submission-page .customizable-form .body {
    border: 1px solid #676767;
    padding: 20px 20px 0 20px;
    margin-bottom: 40px;
}

.form-submission-page .customizable-form .body .table>thead>tr>th,
.form-submission-page .customizable-form .body .table>tbody>tr>th,
.form-submission-page .customizable-form .body .table>tfoot>tr>th,
.form-submission-page .customizable-form .body .table>thead>tr>td,
.form-submission-page .customizable-form .body .table>tbody>tr>td,
.form-submission-page .customizable-form .body .table>tfoot>tr>td {
    border: 0;
    margin-bottom: 0;
    padding: 5px 0;
    font-size: 15px;
    /*font-family: "pier";*/
    color: #393939;
    font-weight: 500;
}

.form-submission-page .customizable-form .body .table-responsive {
    border: 0;
}

.lending-background {
    background: url(../images/lending-background2.jpg) no-repeat;
    width: 100%;
    min-height: 347px;
    position: relative;
    background-size: cover;
}

.lending-background .text-caption {
    color: #fff;
    font: 14px montserratlight;
    letter-spacing: 4px;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    /*font-family: "pier";*/
    font-weight: 500;
    text-shadow: 1px 0 0 #353535;
    padding: 10px 28px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.lght-blue {
    color: #9ca9c2;
}

.lending-background .logo-lending {
    position: relative;
    margin: 5px auto 0;
    left:10px;
   
}

.lending-background .text-bottom {
    width: 390px;
    background: rgba(236,236, 236, 0.92);
    color: #dddddd;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    padding: 25px 16px 32px 16px;
    height: 125%;
    position: absolute;
    right: 40px;
    top: 0;
}

.lending-background .text-bottom p {
    font: 13px/1.7 montserratlight;
    padding-top: 25px;
    color:#000;
    position: relative;
    
}
.lending-background .text-bottom p::before{
    border:1px solid #4c4c4c;
    width:245px;
    display:block;
    margin: -5px auto 17px;
    content:"";
    height:0;
   
    
    
}

.lending form.application-form {
    border: 1px solid #113b4f;
    background: url(../images/form-bg.png) no-repeat;
    width: 100%;
    margin: 40px 0;
    padding: 20px 35px;
}

@media screen and (max-width:991px){
   .lending form.application-form {
       margin:0;
   }
  
   
}
.lending form.application-form label {
    font-size: 14px;
    text-transform: uppercase;
    color: #5d5d5d;
    font-weight: 500;
    font-family: montserratregular;
}

/*error for approved form*/


.lending form.application-form .form-group {
    margin-bottom: 25px;
}

.lending form.application-form .form-control {
    height: 38px;
    border: 1px solid #787878;
}

.lending form.application-form .btn-pattern {
    margin: 15px 0 5px 0;
}

.bg-pattern-grey main .lending > .row > .col-md-5 {
    width: 44.4%;
}

.bg-pattern-grey main .lending > .row > .col-md-5.col-md-offset-1 {
    margin-left: 5.333333%;
}

.lending h1.large-heading {
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    padding: 35px 0 0 38px;
    margin-bottom: 5px;
    width: 390px;
    background-color: #4c4c4c;
    margin-left: -6px;
    height: 90px;
}
@media screen and (max-width:991px){
     .lending h1.large-heading{
        margin-left:0;
    }
}
.lending h1.large-heading a {
    color: #fff;
}

.bg-pattern-grey main .lending h1.border-bottom {
    font-size: 24px;
    text-align: center;
    margin-bottom: 35px;
}

.bg-pattern-grey main .lending h1.border-bottom:after {
    width: 260px;
    height: 1px;
    left: 14%;
    bottom: -15px;
}

.lending .number-holder {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    border: 2px solid #a8a8a8;
    text-align: center;
    padding: 8px 0;
    float: left;
    margin: 0 20px 0 30px;
    position: relative;
    /*font-family: "pier";*/
    font-size: 26px;
}

.lending .number-holder:after {
    position: absolute;
    content: "";
    height: 34px;
    width: 2px;
    background: #a8a8a8;
    bottom: -35px;
    left: 50%;
}

.lending .number-holder.no-img-after:after {
    display: none;
}

.lending .text-holder {
    float: left;
    width: 55%;
    margin-bottom: 25px;
}

.lending .text-holder h4 {
    font-size: 18px;
    color: #273444;
    //font-family: "ubuntu";
    font-family: 'montserratlight';
    margin-bottom: 5px;
}

.lending .text-holder p {
    color: #959595;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
}

.testimonial-post {
    margin-bottom: 40px;
}

#loader {
    margin: 30px auto;
    text-align: center
}

#loader img {
    margin: 0 auto
}

.lending h1.large-heading a:hover {
    color: #FFA500 !important;
}

.form-submission-page .form-horizontal .form-group label.error {
    color: red;
    font-size: 11px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: none;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
}

.bg-pattern-grey main .contain-white .fb-lb,
.bg-pattern-grey main .contain-white .profile a {
    display: block;
    text-align: center;
}

.text-center .bg-primary-cust {
    background: none;
    border: 1px solid #333333;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 30px;
}

.bg-pattern-grey main .contact-form label.error {
    color: red;
    font-size: 11px;
}

.profile-widgt {
    margin: 50px auto;
}

body > .container.contain.for-nav {
    background: none;
    margin-top: -519px;
    margin-bottom: 631px;
    padding: 0;
}
@media only screen and (max-width:680px) and (min-width:481px){
    body > .container.contain.for-nav.for-index{
        margin-top:-150px;
        margin-bottom:80px;
       
    }
}

.custom-nav {
    border-radius: 0;
    border: 0;
    height: 75px;
    background: #fff;
    border-bottom: 2px solid #efefef;
}

.custom-nav.navbar-default .navbar-toggle {
    margin-top: 15px !important;
    border: none;
    z-index: 100001;
}

.custom-nav .navbar-default .navbar-toggle .icon-bar {
    background: #FFF;
    height: 4px;
    width: 30px;
    box-shadow: 1px 1px #A3A3A3;
}

.custom-nav.navbar-default .navbar-collapse,
.custom-nav.navbar-default .navbar-form {
    background: #323232;
    z-index: 10000;
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    margin-top: 12px;
}

.custom-nav .navbar-nav {
    padding: 60px;
    margin:0;
}

.custom-nav.navbar-default .navbar-nav > li > a {
    padding: 10px 0;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    padding: 14px 0;
    font-size: 20px;
}

.custom-nav.navbar-default .navbar-nav > li > a:hover,
.custom-nav.navbar-default .navbar-nav > li > a.active {
    color: orange;
}

.custom-nav.inner-nav.navbar-default {
    margin-bottom: 0;
}

.container.contain.for-inner-page {
    z-index: 1000;
}

.main-nav {
    position: relative;
}

.main-nav {
    background: #fff;
}

.main-nav-scrolled {
    position: fixed;
    width: 100%;
    z-index: 99999;
    top: 0;
    margin: 0 !important;
}

.inner-nav.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    max-height: 423px;
}

.container.contain.contain-white {
    padding-bottom: 0px;
}

.about-page .img-thumbnail {
    border: none;
}

.about-page .profile-widgt {
    margin: 0px auto 30px;
}

.about-panel .panel-default {
    border-radius: 0;
    border: 1px solid #939498;
}

.about-panel .panel-heading {
    background: #949494;
    border-radius: 0;
    color: #fff;
    min-height: 40px;
}

.about-panel .panel-heading h4 {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.about-panel .panel-heading h4 a {
    vertical-align: middle;
    display: block;
    font-size: 22px;
    font-family: montserratlight;
}

.about-panel.panel-group .panel + .panel {
    margin-top: 15px;
}

.about-panel .panel-body {
    border-radius: 0;
    background: #f5f5f5;
    box-shadow: none;
    line-height: 22px;
    color: #4a4a4a;
}

#about-fb-page {
    border: 1px solid #396d90;
}

#about-fb-page h2 {
    background: #396d90;
    text-align: center;
}

#about-fb-page .main-fb-plugin {
    padding: 5px;
    text-align: center;
}


/*blog*/

.blog .latest-post {
    position: relative;
    color: #fff;
}

.blog a:hover {
    color: orange;
}

.blog .latest-post a {
    color: #fff;
    display: block;
}

.blog .latest-post:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: url('../images/blog-shadow.png') no-repeat left bottom;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.blog .blog-date {
    width: 107px;
    height: 73px;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    top: 25px;
    color: #fff;
    font-size: 22px;
    text-align: center;
    padding-top: 5px;
    z-index: 99;
    text-transform: uppercase;
}

.blog .blog-date big {
    display: block;
    font-size: 36px;
    line-height: 1;
}

.blog .latest-post .title {
    position: absolute;
    bottom: 50px;
    font-size: 25px;
    z-index: 99;
    left: 15px;
}

.blog .latest-post .comment {
    position: absolute;
    bottom: 20px;
    font-size: 16px;
    z-index: 99;
    left: 15px;
}

.blog-post {
    position: relative;
    border: 1px solid #9f9f9f;
    margin-top: 30px;
}

.blog-post img {
    margin-left: 1px;
}

.blog-post .blog-date {
    left: 10px;
}

.blog-post h3 {
    padding: 18px 0 14px;
}

.blog-post h3 a {
    color: #082862;
    font-size: 24px;
    line-height: 30px;
}

.blog-post .desc {
    font-size: 15px;
    color: #949494;
    font-size: 14px;
    margin-top: 10px;
}

.blog-post .comments {
    background: url('../images/comment-bg.png') repeat-y 0 0;
    padding: 2px 5px;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
}

.blog-post .read-more {
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    background: #0068af;
    color: #fff;
    padding: 2px 3px;
    width: 82px;
    position: absolute;
    bottom: 0;
    right: 30px;
}

.blog-post .read-more:hover {
    background: orange;
    color: #fff;
}

.blog #about-fb-page {
    margin-top: 30px;
}

.container.contain.contain-white {
    padding-bottom: 15px;
}

.blog .pagination-blog {
    border: 1px solid #eaeaea;
    padding: 25px 0;
    text-align: center;
    margin-top: 30px;
}

.blog .pagination-blog strong,
.blog .pagination-blog a {
    border: 2px solid;
    border-color: #d1d1d1;
    color: #d1d1d1;
    border-radius: 5px;
    padding: 3px 7px;
    margin-right: 7px;
    min-width: 30px;
    display: inline-block;
}

.blog .pagination-blog strong {
    border-color: #0068af;
    color: #0066af;
}

.blog-detail h1.title {
    margin: 30px 0 20px 0;
    color: #000;
    font-size: 26px;
    line-height:1.4;
}

.blog-detail .the-post {
    position: relative;
}

.blog .desc {
    color: #777;
}

.blog-detail .disqus-comment-section {
    margin-top: 60px;
}

.top-stories {
    border: 1px solid #396d90;
}

.top-stories header {
    padding: 0 10px;
}

.top-stories header h2 {
    padding: 5px 0 7px;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 15px;
    color: #454545;
    font-size: 18px;
}

.bg-pattern-grey main .contain-white.blog .top-story .row {
    padding: 0 10px
}

.bg-pattern-grey main .contain-white.blog .top-story .row > .col-md-3 {
    width: 29.5%;
}

.bg-pattern-grey main .contain-white.blog .top-story .row > .col-md-9 {
    width: 70.5%;
    padding-left: 0;
}

.top-stories .top-story {
    margin-bottom: 18px;
    text-transform: uppercase;
    font-size: 14px;
}

.top-stories .top-story a {
    color: #082862;
}

.top-stories .top-story a:hover {
    color: orange;
}

.top-stories .top-story .col-md-9 a {
    line-height: 12px;
}

.top-stories .top-story .comments {
    background: #dfdfdf;
    font-size: 10px;
    padding: 0 5px;
    margin-top: 5px;
    line-height: 1.5
}

.top-stories .more a {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 0 3px;
    background-color: #d2d2d2;
    color: #082862;
    display: block;
}


/*prajwol*/

.ckeditor-style p {
    margin-bottom: 15px;
}

.ckeditor-style ul {
    margin-bottom: 15px;
    list-style-type: disc;
}

.ckeditor-style ul li {
    line-height: 1.7;
    margin-bottom: 10px;
}

.ckeditor-style strong {
    font-weight: 700;
}


/*sujan*/


/* addition information */

.row-nav {
    margin: 0 -23px;
}

header .row-nav .navbar-default {
    background: rgba(0, 0, 0, 0.48);
    border: 0;
    box-shadow: inset 0 0 4px #333;
}

.mb40 {
    margin-bottom: 40px;
}

.banner-head {
    margin-top: -3px;
}

.bg-pattern-grey main .listing-details h1 small {
    font-size: 14px;
    color: #6a6a6a;
    text-transform: capitalize;
    padding-left: 25px;
    border-left: 1px solid #ccc;
    line-height: 25px;
    height: 25px;
    display: inline-block;
    margin-left: 25px;
    position: relative;
    top: -5px;
}

.btn-ps {
    height: 35px;
    width: 38px;
    display: inline-block;
    float: left;
}

.print {
    height: 14px;
    width: 14px;
    display: block;
    background: url(../images/print.png) no-repeat;
    margin-top: 4px;
    margin-left: -2px;
    padding: 0 4px;
}

.share {
    height: 14px;
    width: 14px;
    display: block;
    background: url(../images/share-icon.png);
    margin-top: 4px;
    margin-left: -3px;
}

.btn-right {
    margin-top: 10px;
}

@media screen and (max-width:801px) {
    .btn-right {
        padding-left: 10px !important;
    }
    .btn-right .pull-right {
        float: left !important;
        margin-bottom: 5px;
    }
    .banner-head {
        margin-bottom: 0;
    }
}

@media screen and (max-width:768px) {
    .banner-head {
        margin-bottom: 0;
    }
    .btn-right {
        padding-left: 15px;
        float: right;
        margin-bottom: 10px;
    }
}

.btn-req {}

@font-face {
    font-family: montserratregular;
    src: url(../fonts/Montserrat-Regular.otf);
}

@media screen and (min-width:992px) {
    .navbar-nav {
        margin-left: 10px;
    }
    .details-main-slider {
        width: 614px;
    }
    .details-main-slider img.img-thumbnail {
        height: 450px !important;
    }
    .information {
        width: 359px;
        float: right;
        margin-top: -12px;
    }
}

@media screen and (max-width:981px) {
    header .navbar-default .navbar-nav > li > a {
        padding: 0px 12px !important;
    }
    .details-slider {
        width: 100% !important;
    }
    .property-rate {
        text-align: left !important;
        margin-bottom: 20px;
    }
    .information {
        margin: 0 auto !important;
    }
}

@media screen and (max-width:768px) {
    .information {
        margin-bottom: 15px !important;
    }
}

.information-wrapper {
    border: 1px solid #d3d3d3;
    background-color: #fcfcfc;
    box-shadow: 0 6px 5px -4px rgba(0, 0, 0, 0.1)
}

.information h1 {
    font: 200 20px montserratregular !important;
    text-shadow: 0 1px 1px #ffffff;
    background-color: #e1e1e1;
    border-top: 3px solid #bbbbbb;
    border-bottom: 2px solid #bbbbbb;
    padding: 14px 0;
    text-align: center;
    color: #4e4e4e !important;
    position: relative;
}

.information h1:after {
    content: "";
    border-top: 11px solid #bbbbbb;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 0;
    display: block;
    position: absolute;
    bottom: -12px;
    left: 45%;
    right: 0;
}

.information form {
    padding: 25px 15px 0 15px;
}

.information form .form-control {
    border-radius: 0;
    height: 40px;
    border: 1px solid #e2e2e2;
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.18);
}

@media screen and (min-width:992px) {
    .information form .fn {
        margin-right: -5px;
        width: 169px;
    }
}

.information form input[type="checkbox"] {
    display: none;
}

.information form input[type="checkbox"] + label span {
    width: 20px;
    height: 20px;
    border-radius: 0;
    background: url(../images/uncheck.png) no-repeat;
    border: 1px solid #e2e2e2;
    display: block;
    cursor: pointer;
}

.information form input[type="checkbox"]:checked + label span {
    background: url(../images/check.png) no-repeat;
}

.information form label.see-lbl {
    position: relative;
    top: -10px;
    left: 10px;
    font-weight: 200;
    color: #585858!important;
    cursor: pointer;
}

.information textarea {
    resize: none;
    height: 95px !important;
    border: 1px solid #fff;
}

.information .btn-submit {
    color: #634a00;
    font-size: 14px;
    background-color: #fec10e;
    text-transform: uppercase;
    text-shadow: 0 1px 1px #ffffff;
    width: 116px !important;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffd65e+0,febf04+100 */
    background: #ffd65e;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffd65e 0%, #febf04 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd65e), color-stop(100%, #febf04));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffd65e 0%, #febf04 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffd65e 0%, #febf04 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffd65e 0%, #febf04 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ffd65e 0%, #febf04 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04', GradientType=0);
    /* IE6-9 */
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    border-radius: 2px;
}

.information .btn-submit:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#febf04+0,ffd65e+100 */
    background: #febf04;
    /* Old browsers */
    background: -moz-linear-gradient(top, #febf04 0%, #ffd65e 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #febf04), color-stop(100%, #ffd65e));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #febf04 0%, #ffd65e 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #febf04 0%, #ffd65e 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #febf04 0%, #ffd65e 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #febf04 0%, #ffd65e 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#febf04', endColorstr='#ffd65e', GradientType=0);
    /* IE6-9 */
}

.information-wrapper .listing_info_msg {
    font: 200 14px montserratlight;
    color: #0B0;
    padding-left: 10px;
}

.information-wrapper .check {
    margin-bottom: 0;
}

.confirm-box {
    background: #eaeaea;
    height: 477px;
    border: 5px solid #dfdfdf;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

.confirm_check {
    background: url(../images/confirm_check.png) -7px -7px no-repeat;
    display: block;
    height: 130px;
    width: 130px;
    margin: 53px auto 0;
}

.confirm-box h1 {
    color: #073758;
    font: 800 48px montserratlight !important;
    text-transform: uppercase;
    padding: 30px 0 5px;
}

.confirm-box p {
    font: 16px montserratlight;
    color: #5a5959;
    text-align: center;
    line-height: 1.5;
}

.confirm-box .social-media {
    margin: 40px auto 0;
    text-align: center;
}

.confirm-box .social-media li {
    display: inline-block;
    margin-right: 5px;
}

.confirm-box .social-media li a.circle {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    background: #565656;
    -webkit-transition: background 0.4s ease-in-out;
    transition: background 0.4s ease-in-out;
}

.confirm-box .social-media li a.circle.twt {
    background: #898989;
}

.confirm-box li a.circle.fb:hover {
    background: #335394;
}

.confirm-box li a.circle.twt:hover {
    background: #2aa9e0;
}

.confirm-box li a.circle.lin:hover {
    background: #0071a4;
}

.contact-info .txt-wrap .sm-heading {
    color: #0068ae;
    font-family: montserratregular;
}

#googleMap {
    border: 1px solid #013354;
}
.infoerror{
    box-shadow: inset 0 0 0 1px #f00;
    border:none;
}

@media screen and (min-width:992px) {
    .information .btn-submit {
        width: 116px;
        height: 40px;
    }
}

@media only screen and (max-width:1200px) and (min-width:992px) {
    .details-main-slider {
        max-width: 585px !important;
    }
    .bg-pattern-grey main .listing-details .contact-bg .contact-info{
         padding: 22px 10px;
    }
}

@media screen and (max-width:991px) {
    .bg-pattern-grey main .contain-white .row > .col-md-7 {
        width: 100%;
    }
    .details-main-slider {
        max-width: 100% !important;
    }
}

@media screen and (max-width:601px) {
    div.container.contain.for-nav.main-nav.visible-xs{
        margin-top:190px;
    }
    main .bg-grey {
        margin-top: 0px !important;
    }
    main .bg-grey > .contain > .row h2 {
        line-height: 52px;
        margin-top: 15px;
    }
    footer .bg-black .footer-nav {
        padding-left: 0 !important;
    }
    footer .bg-black .footer-nav {
        margin-left: -15px;
    }
}

.number-list {
    background: url(../images/list-point.png) no-repeat;
    height: 100%;
    padding-left: 20px;
    margin-left: -4px;
}
@media screen and (max-width:991px){
    .number-list {
    margin-left:0;
    }
}

.number-list-heading {
    font: 500 30px Montserratlight;
    text-transform: capitalize;
    padding: 25px 0 15px 15px;
    margin-bottom: 0 !important;
    color: #000;
    line-height:1.3 !important;
}
@media screen and (max-width:991px){
    .number-list-heading {
        padding-left:0;
        font-size:25px;
    }
}

.number-list-lists {
    padding-left: 5px;
}

.number-list h2 {
    font: 550 18px Montserratlight;
    color: #273444;
}

.number-list p {
    color: #959595;
    font: 13px montserratlight;
    line-height: 1.5;
    padding-bottom: 18px;
}

@media screen and (min-width:992px) {
    .number-list-lists {
        width: 393px;
    }

}

@media screen and (max-width:801px) {
    .number-list-heading {
        font-size: 28px;
    }
    .lending h1.large-heading {
        margin-bottom: 0;
        background-color: #333;
        padding: 20px;
    }
    .lending h1.large-heading a {
        color: #fff !important;
        text-align: center;
        padding-left: 20px;
    }
}

@media screen and (max-width:768px) {
    .lending-background .text-bottom{
        background-color: rgba(236,236,236,0.92);
    }
    .information-wrapper .form-control {
        border-radius: 0 !important;
        height: 40px;
    }
    .property-rate {
        text-align: center;
    }
    .profile-widgt {
        margin: 5px auto;
        width: 80%;
    }
    .main .bg-grey {
        margin-bottom: 30px;
    }
    .bx-wrapper .bx-controls-direction a {
        top: -16px;
        height: 20px;
    }
    .lending h1.large-heading {
        background-color: #333;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        text-align: center;
    }
    .lending h1.large-heading a {
        font-size: 35px;
        color: #fff !important;
    }
    .lending h1.large-heading {
        margin: 0 !important;
    }
    .number-list {
        margin-left: 0;
    }
    .number-list p {
        padding: 18px 0;
    }
    .push-top-apply-form {
        margin-top: 0 !important;
    }
    .confirm_check {
        margin: 20px auto 0;
    }
    .confirm-box h1 {
        color: #073758;
        font: 800 30px montserratlight !important;
        text-transform: uppercase;
        padding: 20px 0 5px;
    }
}

@media screen and (max-width:480px) {

    header .home-nav .navbar-nav {
        padding: 0 !important;
        left: 0 !important;
    }
    .home-nav .navbar-collapse {
        margin: 0 !important;
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        background: rgb(50, 50, 50) !important;
    }
    .home-nav .navbar-collapse .navbar-nav {
        background: none;
        width: 100%;
        margin: 50px 0;
    }
    .home-nav .navbar-nav li {
        margin-bottom: 20px !important;
    }
    .information .btn-submit {
        color: #634a00;
        font-size: 14px;
        font-weight: 600;
        background-color: #fec10e;
        text-transform: uppercase;
        text-shadow: 0 1px 1px #ffffff;
        background: #ffd65e;
        /* Old browsers */
        background: -moz-linear-gradient(top, #ffd65e 0%, #febf04 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd65e), color-stop(100%, #febf04));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #ffd65e 0%, #febf04 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #ffd65e 0%, #febf04 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #ffd65e 0%, #febf04 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, #ffd65e 0%, #febf04 100%);
        /* W3C */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04', GradientType=0);
        /* IE6-9 */
        -webkit-transition: background-color 0.5s ease-in-out;
        transition: background-color 0.5s ease-in-out;
        border-radius: 2px;
    }
    .contact-info .img-wrap img {
        width: 75px;
        margin-top: 28px;
    }
    .bg-pattern-grey main .listing-details .contact-bg .contact-info {
        padding: 0px 15px 20px;
    }
    .lending-background .text-bottom {
        height: 110%;
    }
    .lending h1.large-heading {
        margin-top: 200px !important;
    }
    .lending-background .text-bottom {
        height: 113% !important;
    }
    .lending form.application-form {
        margin-top: 0 !important;
    }
    .lending-background {
        background: url(../images/lending-background2.jpg) no-repeat;
        width: 100%;
        min-height: 172px;
        position: relative;
        background-size: contain;
    }
    .lending-background .text-bottom {
        height: 347px !important;
    }
    .lending h1.large-heading {
        margin-top: 157px !important;
    }
    .number-list-heading {
        font-size: 24px;
    }
}


@media (min-width:600px) and (max-width:768px){
    header + .container.contain{
        margin-top:30px;
    }
    .logo .visible-xs.mobile-logo{
        display:  none !important;
    }
}

@media (min-width:768px) and (max-width:992px){
    header .navbar-default .navbar-nav > li > a {
        padding:0 10px !important;
    }
}
@media (max-width:480px){
    .logo .visible-xs.mobile-logo{
        display:  block !important;
        visibility:  visible !important;
    }
}


/*  18th nov 2015 */
.form-submission-page .form-horizontal .form-group select.form-control {
    background-color: #900;
}
.form-submission-page .form-horizontal .form-group select.form-control {
    font-size: 14px;
    font-weight: normal;
    height: 41px;
    position: relative;
    padding: 6px 12px;
    border: 1px solid #8d8d8d;
    background:url(../images/selectbox-arrow-2.png) right center no-repeat, -webkit-linear-gradient(#f9f9f9, #e6e6e6);
    background:url(../images/selectbox-arrow-2.png) right center no-repeat,  -o-linear-gradient(#f9f9f9, #e6e6e6);
    background:url(../images/selectbox-arrow-2.png) right center no-repeat,  -moz-linear-gradient(#f9f9f9, #e6e6e6);
    background:url(../images/selectbox-arrow-2.png) right center no-repeat,  linear-gradient(#f9f9f9, #e6e6e6);
    
     -webkit-appearance: none;
     -moz-appearance: none;
     -ms-appearance: none;
}

.form-submission-page .form-horizontal .form-group select.form-control::-ms-expand {
  display: none;
}

.fixed-nav{
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:1000 !important;
    margin:0 !important;
}


@media screen and (max-width:680px){
    .testimonial-block{
        max-width:300px;
        margin:0 auto;
    }
}

div.container.contain.cold-well-logo{
        margin-top:5%;
    }
@media (min-width: 1600){
   div.container.contain.cold-well-logo{
        margin-top:12%;
    } 
}