/*******variables,mixins,global*******/

@import "partials/base";

/*******typography********/

@import "partials/typography";

@font-face {
	font-family: 'trajanpro';
  	src: url('../fonts/trajanpro.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }

  @font-face {
  	font-family: 'pier';
  src: url('../fonts/pier-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/pier-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pier-webfont.woff2') format('woff2'), /* Super Modern Browsers */
     url('../fonts/pier-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/pier-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('../fonts/pier-webfont.svg') format('svg'); /* Legacy iOS */
 }

/*******style*******/


header{
	padding-top: 15px;
	color: #212121;

	.heading-dtls{
		font-size: 17px;
		margin-top: 65px;
		font-family: "pier";
	}

	.logo{
		margin-bottom: 15px;
	}

	.social-media{
		display: inline-block;

		li{
			display: inline-block;
			padding-right: 10px;

			&:last-child{
				padding-right: 0;
			}

			a{
				font-size: 20px;

				&.circle{
					width: 28px;
					height: 28px;
					border-radius: 50%;
					text-align: center;
					display: inline-block;
					color: #fff;

					&.fb{
						background-color: #3a5998;
					}

					&.twt{
						background-color: #2aa9e0;
					}

					&.lin{
						background-color: #0073a5;
					}
				}
			}		
		}		
	}

	.cb-logo{
		margin-left: 22px;

	}

	.sm-txt{
		font-size: 13px;
		margin-top: 20px;

		a{
			color: #000;
		}
	}

	.lg-txt{
		font-size: 38px;
		color: #013354;
		line-height: 30px;
	}

	.navbar{
		min-height: 30px;
		border-radius: 0;
		margin-bottom: 9px;
	}

	.navbar-default{
		background:rgba(0,0,0,0.4);
		border: 0;
	}

	.navbar-default .navbar-nav>li>a{
		font-size: 17px;
		text-transform: uppercase;
		color: #fff;
		padding: 0 26px;
		line-height: 30px;
		text-shadow:1px 0 0 #353535;
	}
}


.bg-fade{
	background:url(../images/bg-faded.png) no-repeat;
	margin-bottom: 31px;
	font-family: 'trajanpro';

	.heading{
		font-size: 23px;
		color: #fff;
		text-shadow:1px 0 2px #000;
		line-height: 28px;
		padding: 8px 0;

		.big{
			font-size: 43px;
			letter-spacing:2px;
			line-height: 50px;
		}
	}
}

.search-bx{

	.search-heading{
		background: #111111 url(../images/bg-black-gradient.jpg) repeat-x scroll 0 0;
		max-width: 236px;			
		text-align: center;
		position: relative;
		margin: 0 auto;

		&:after{
			background:url(../images/arrow-right.png) no-repeat;
			right: -32px;
		}

		&:before{
			content: "";
			background:url(../images/arrow-left.png) no-repeat;
			left: -32px;
		}

		&:after, &:before{
			content: "";
			width: 32px;
			height: 28px;
			position: absolute;
			top: 0;
		}

		h3{
			line-height: 28px;
			color: #c9c9c9;
			letter-spacing: 2px;
			font-weight: 500;
			font-size: 14px;
		}
	}

	.search-body{
		background:rgba(0,0,0,0.8);
		border-radius: 4px;
		max-width: 828px;
		margin: 0 auto;
		padding-bottom: 15px;
		margin-bottom: 131px;

		.form-control{
			height: 45px;
			padding:6px 4px; 
		}

		&>.row{
			margin: 0;

			&>.col-md-4{
				width: 24.7%;
				padding: 0;
				padding-left: 9px;

				&:last-child{
					padding-right: 9px;
				}

				&.chng-width{
					width: 17.7%;

					.srch-btn{
						width: 100%;
						margin-top: 30px;
						background: url(../images/srch-btn-bg.jpg) repeat-x;
						font-size: 16px;
						text-transform: uppercase;
						color: #fff;
						height: 45px;
						border: 1px solid #000;
					}
				}
			}

			&>.col-md-2{
				width: 28.78%;
				padding: 0;

				&>.row{
					margin: 0;

					&>.col-md-6{
						padding: 0;
						padding-left: 9px;
					}
				}
			}
		}

		h4{
			color: #ffbb2c;
			line-height: 30px;
			position: relative;

			&.line{

				&:before, &:after{
					content: "";
					position: absolute;
					width: 41px;
					height: 1px;
					top: 16px;
					background: url(../images/Untitled-1.jpg) no-repeat;
				}

				&:before{
					left: 3px;
				}

				&:after{
					right: 3px;
				}
			}
		}
	}
}

.bg-img-home{
	z-index: 0;

	img{
		max-height: 800px;
		width: 100%;
	}
}

main{
	h1{
		margin-top: 15px;
		line-height: 50px;
		color: #082862;
	}

	.textimonials-box{
		border: 1px solid #9ea7b7;
		box-shadow: 1px 0 3px #c5c6c8;
		background:url(../images/bg-testimonial.jpg) repeat;
		padding: 12px 14px;
		position: relative;

		&:after{
			content: "";
			background:url(../images/testimonial-arrow.jpg);
			width: 23px;
			height: 12px;
			position: absolute;
			bottom: -12px;
			right: 18px;
		}

		p{
			font-size: 13px;
			color: #5a5a5a;
		}
	}

	.info{
		background-color: #1b1b1b;
		min-height: 62px;
		margin-top: 26px;
		padding: 5px;

		h2{
			color: #fff;
		}

		p{
			color: #cccccc;
		}
	}

	.bg-grey{
		background:url(../images/bg-grey.jpg) repeat-y;
		padding-bottom: 49px;

		&>.contain{

			&>.row{

				&>.col-md-8{
					width: 69.666667%;

					li{
						&>.row{margin: 0 -9px;}
					}
				}

				h2{
					line-height: 53px;
				}

				.bxslider.featured-slider{

					width: 821% !important;

					li{
						max-width: 4.17% !important;
						padding-right: 15px;
					}

				}
				

				a{
					display: block;

					&:hover{

						.img-wrap{
							img{				
								-webkit-transform:scale(1.3);
								transform:scale(1.3);				
							}
						}
					}


					.border{
						border: 1px solid #b5b7bc;
						box-shadow: 1px 0 3px #c5c6c8;

						p{
							line-height: 8px;
							color: #8b8b8b;
							margin-bottom: 10px;
						}

						.property-box{
							background-color: #fff;
							padding: 10px;
							border-bottom: 1px solid #b5b7bc;

							.img-wrap{
								overflow: hidden;

								img{
									width: 100%;
									-webkit-transition: all 0.7s ease;
									transition: all 0.7s ease;

								}	

							}

							h4{
								line-height: 31px;
								color: #3c3c3c;
							}

							p{font-family: $primary-font;}

						}

						.features{
							background-color: #efefef;
							text-align: center;
							padding: 0;
							border: 1px solid #fff;
							position: relative;
							font-family: $primary-font;

							p{
								line-height: 43px;
								font-family: $primary-font;
							}

							&:after{
								content: "";
								background: url(../images/arrow.jpg) no-repeat;
								width: 13px;
								height: 8px;
								position: absolute;
								top: -2px;
								right: 20px;
							}
						}

					}
					.rate{
						text-align: center;
						font-weight: 700;
						font-size: 22px;
						color: #013354;
						margin-top: 10px;
						font-family: $primary-font;;
					}
				}

				&>.col-md-4{
					width: 30.333333%;
					a{
						border: 0;
						box-shadow: none;
						margin-top: 12px;
					}
				}
			}
		}
	}

	.bg-white{
		position: relative;
		padding-bottom: 40px;

		.bg-img{
			position: absolute;
			bottom: 0;
			left: 158px;
		}

		.contain{

			&>.row{
				&>.col-md-8{
					width: 69.666667%;
				}
				&>.col-md-4{
					width: 30.333333%;
				}
			}

			.about-box{
				position: relative;
				background: rgba(255,255,255,0.5);

				p{
					color: #5a5a5a;
					font-weight: 400;
				}

				.btn-style{
					border: 1px solid #949494;
					background-color: #fff;
					line-height: 22px;
					font-family: 'Questrial', sans-serif;
					border-radius: 0;
					color: #013354;
					padding: 0 3px;
					position: absolute;
					bottom: -12px;
					right: 15px;

					&:hover{
						background-color: #cbcbcb;
						color: #fff;
					}
				}
			}
		}
	}
}

.bx-wrapper{
	margin: 0;

	.bx-viewport{
		box-shadow: none;
		background: none;
		border: 0;
		left: 0;
	}

	.bx-pager{display: none;}
}

.bx-wrapper .bx-controls-direction a{
	text-indent: 0;
	top: -15px;
	height: 18px;
	width: 18px;
	color: #fff;
	background-color: #cbcbcb;
	border-radius: 4px;
	font-size: 14px;
	text-align: center;

	&:hover,&:focus{
		background-color: #414d63;
	}
}

.bx-wrapper .bx-next{
	right:0px;
}

footer{
	.bg-black{
		background:url(../images/bg-pattern-black.jpg) repeat;

		.footer-nav{
			padding: 0;
			li{
				margin-right: 19px;
				padding-right: 19px;
				font-size: 17px;
				color: #fff;
				text-shadow: 1px 0 0 #353535;
				line-height: 66px;	
				display: inline-block;
				position: relative;

				&:after{
					content: ".";
					position: absolute;
					color: #fff;
					height: 1px;
					width: 1px;
					right: 0;
					top: -3px;
				}

				&:last-child{
					padding: 0;
					margin: 0;

					&:after{
						content: "";
					}
				}
			}
		}
	}

	.bg-grey{
		background:url(../images/bg-pattern-grey.jpg) repeat;
		padding: 28px 0; 

		.contain{
			&>.row{
				&>.col-md-9{
					width: 79%;

					.breadcrumb{
						padding: 0;
						background: none;

						li{
							a{
								color: #57567a;
								line-height: 30px;
								text-transform: uppercase;

								&:hover{
									color: #000;
								}
							}
						}
					}

					img{
						margin-top: 48px;
					}
				}
				&>.col-md-3{
					width: 21%;
				}
			}
		}
	}

	.bg-white{
		&>.contain{
			padding: 15px 0;

			&>.row{

				&>.col-md-11{
					width: 94.666667%;

					p{font-size: 12px;line-height: 30px;}
				}

				&>.col-md-1{
					width: 5.333333%;
				}
			}
		}
	}
}

.breadcrumb>li+li:before{
	content: "|";
	padding: 0 10px;
	color: #57567a;
}

.breadcrumb>.active{
	color: #121129;
	text-transform: uppercase;
}

.nav>li>a:hover, .nav>li>a:focus{
	background: none;
	color: #efefef;
}

.carousel-control.left,.carousel-control.right{background: #000;}

.carousel-control{
	height: 90px;
	width: 60px;
	top: 40%;
	opacity: 0.9;
}

.glyphicon-chevron-left::before,.glyphicon-chevron-right::before{
	content: "";
	width: 25px;
	height: 45px;
	position: absolute;
	top: -5px;
	left: 0;
}

.glyphicon-chevron-left::before{
	background: url(../images/arrow-left-carousel.png) no-repeat;
}

.glyphicon-chevron-right::before {
	background: url(../images/arrow-right-carousel.png) no-repeat;
}

.carousel-indicators{
	width: 100%;
	left: 0;
	margin-left: 0;
	background: rgba(255,255,255,0.5);
	height: 40px;
	bottom: -10px;
	text-align: right;
	padding-right: 15px;
	padding-top: 10px;
}

.carousel-indicators li,.carousel-indicators .active{
	height: 20px;
	width: 20px;
	background-color: #424242;
	border: 3px solid #fff;
}

.carousel-indicators .active{
	position: relative;

	&:after{
		position: absolute;
		content: "";
		background: url(../images/dot.jpg) no-repeat;
		width: 6px;
		height: 6px;
		top: 4px;
		left:4px;
	}
}




/******* inner pages******/

.bg-pattern-grey{
	background: url(../images/bg-pattern-grey-1.jpg);

	main{

		&>.contain{
			&>.row{
				&.border-down{
					border-bottom: 1px solid #b1b1b1;
					margin: 0 0 25px 0;
				}
			}
		}
		h1{
			margin-top: 0;
			line-height: 20px;
			margin-bottom: 10px;
		}

		.contain-white{
			background: #fff;
			border: 1px solid #d6d6d6;
			padding-top:17px;

			&.listing-details{

				.row{
					&>.col-md-8{
						width: 69.666667%;
					}

					&>.col-md-4{
						width: 30.333333%;
					}
				}
			}

			.row{

				&>.col-md-8{
					width: 69.666667%;

					&.alter-width{
						width: 70%;
					}
				}

				&>.col-md-4{
					width: 30.333333%;

					&.alter-width{
						width: 30%;
					}

					&.alter-width-listings{
						width: 33.33333%;
					}
				}

				&>.col-md-5{width: 48.666667%;}

				&>.col-md-7{width: 51.333333%;}

				&>.col-md-9{width: 65.789474%;}

				&>.col-md-3{width: 34.210526%;}
			} 

			.about-box{

				padding:27px 20px 0 20px;

				.heading-tlnt-box{
					color: #000;
					margin-bottom: 27px;
				} 

				.tlnt-box{
					margin-bottom: 27px;

					.heading{
						font-size: 15px;
						text-transform: uppercase;
						color: #fff;
						text-shadow: 1px 0 0 #353535;
						background: #979793;
						line-height: 25px;
						padding-left: 15px; 
						position: relative;

						&.no-img{
							&:after{
								display: none;
							}
						}

						&.mw180{
							max-width: 180px;
						}

						&.mw240{
							max-width: 240px;
						}

						&.mw225{
							max-width: 225px;
						}

						&.mw150{
							max-width: 150px;
						}

						&:after{
							content: "";
							width: 26px;
							height: 25px;
							position: absolute;
							right: 0;
							background: url(../images/heading-after.jpg) no-repeat;
						}
					}

					.body{
						background: url(../images/bg-testimonial.jpg) repeat;
						border: 1px solid #979793;
						padding:15px;
						position: relative;
						overflow: hidden;

						.bg_img{
							position: absolute;
							bottom: 0;
							left: 0;
						}
					}
				}
			}

			.fb-lb, .profile{
				margin-bottom: 27px;
			}
		}

		.property-text-wrap{

			.property-name,p,.rate{margin-bottom: 10px;}

			.property-name{
				font-size: 28px;
				font-weight: 500;
				line-height: 25px;
				text-transform: capitalize;
				color: #000;

				&:hover{
					color: #013354;
				}
			}

			p{
				font-size: 16px;
				color: #6a6a6a;
				font-weight: 300;
				line-height: 24px;
			}

			.rate{
				font-size: 24px;
				padding: 8px 0;
				border-top: 1px solid #b1b1b1;
				border-bottom: 1px solid #b1b1b1;
			}

			a{
				color: #013354;
				text-transform: uppercase;
				
				&:hover{
					color: #000;
				}
			}
		}	

		.listing-details{

			h1{
				font-size: 30px;
				color: #000;
				line-height: 34px;
				margin-bottom: 0;
			}

			p{
				font-size: 16px;
				color: #6a6a6a;
				font-weight: 300;
				line-height: 24px;
			}

			.btn-default{
				border-radius: 0;
				border-color: #a5a5a5;

				&.ml{
					margin-left: -4px;

					&.bg-color{
						text-shadow: 1px 0 0 #353535;
						text-transform: uppercase;
						background:#6d6d6d;
						color: #fff;
						padding:6px 20px;
					}
				}
			}

			.inner-details{
				li{
					text-transform: uppercase;
					font-size: 12px;
					font-weight: 300;
					padding-right: 14px;

					&:after{
						padding-left: 18px;
						font-size: 16px;
					}

					.big-txt{
						font-size: 24px;
						font-weight: 500;
						color: #013354;
						text-transform: capitalize;
					}
				}
			}

			.property-rate{
				font-size: 28px;
				color: #353535;
				font-weight: 400;
				line-height: 30px;
				text-align: right;
			}

			.nav-tabs{
				border: 0;
				margin-bottom: 40px;

				&>li{
					padding:0 15px; 

					&>a{
						font-size: 16px;
						text-transform: uppercase;
						color: #919191;
						padding:3px 0px; 
					}
				}
			}

			.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
				border: 0;
				color: #013354;
				border-bottom: 2px solid #013354;
				position: relative;

				&:after{
					content: "";
					position: absolute;
					background: url(../images/hover.jpg) no-repeat;
					width: 9px;
					height: 5px;
					bottom: -7px;
					left: 45%;
				}
			}

			.tab-content{
				padding: 0 15px;

				.big-itl{
					font-size: 26px;
					font-style: italic;
					line-height: 38px;
				}

				.tab-pane.photo-gallery{
					margin-bottom: 40px;

					.photo-slider{

						.carousel-inner{
							&>.row{
								&>.col-md-6{
									width: 50%;
								}
							}
						}
						a{
							img{
								margin-bottom: 23px;
							}
						}
						.carousel-control.left, .carousel-control.right{
							height: 42px;
							width: 42px;
							border-radius: 50%;
							background-color: #636f85;
						}

						.carousel-control{
							top:99%;
						}

						.carousel-control.left{
							left: 84%;
						}

						.glyphicon-chevron-left::before,.glyphicon-chevron-right::before{
							width: 15px;
							height: 23px;
							top: 3px;
						}

						.glyphicon-chevron-left::before{
							background:url(../images/photo-slider-left.png) no-repeat;
							left: 6px;	
						}

						.glyphicon-chevron-right::before{
							background:url(../images/photo-slider-right.png) no-repeat;
							left: 9px;
						}
					}
				}
			}

			.location{
				padding-left: 0;
				margin-top: 15px;
				margin-bottom: 19px;
				padding-bottom: 24px;
				border-bottom: 1px solid #b1b1b1;

				li{
					display: inline-block;
					p{
						padding-left: 5px;
					}
				}
			}

			.contact-bg{
				background: url(../images/contact-bg.jpg) repeat;
				border: 1px solid #222222;
				max-width: 320px;
				height: 242px;

				h2{
					font-size: 18px;
					text-align: center;
					color: #919191;
					line-height: 22px;
					padding-top: 40px;
					margin-bottom: 7px;
				}

				.contact-info{
					padding:13px 11px; 

					.img-wrap{
						float: left;
					}

					.txt-wrap{
						float: left;
						padding-left: 15px;
						color: #073758;

						h1{
							font-size: 22px;
						}

						.sm-heading{
							font-size: 12px;
							text-transform: uppercase;
							padding-bottom: 20px;
							display: block;
						}

						a{
							text-transform: uppercase;
							display: block;
							font-size: 16px;
							color: #6f6f6f;
							margin-bottom: 8px;
						}

						p{
							font-family: NeutraText-Book;
							padding-left: 15px;
						}
					}
				}
			}
		}

		.contact-form{
			margin-top: 20px;

			label{
				font-weight: 300;
				color: #686767;
				text-transform: capitalize;
			}

			.form-control{
				border-radius: 0;
				border: 1px solid #d5d4cd;
				background: #f8f8f8;
			}

			em{
				color: #686767;
			}

			.radio, .checkbox{
				margin-top: 22px;
				margin-bottom: 31px;
			}

			.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox]{margin-left: 5px;}

			.radio label, .checkbox label{padding-left: 0;}
		}

		.btn-pattern{
			background: url(../images/btn-bg.jpg) repeat;
			border: 1px solid #000;
			border-radius: 0;
			color: #fff;
			text-transform: uppercase;
			width: 260px;
			padding:9px 0; 
			margin-bottom: 15px;

			&:hover{
				color: #000;
			}
		}

		.jc-details{

			h2{color: #073758;line-height: 25px;margin-bottom: 5px;}

			address, .contact-info{
				color: #6f6f6f;
				font-size: 17px;
				font-family: $secondary-font;
				text-transform: capitalize;
			}
		}

		.bg-pattern-brick{
			background: url(../images/bg-brick.jpg) no-repeat;
			margin: 0 -15px;
			padding: 18px 5px;


			.bg-dropshadow{
				background-color: #fff;
				padding: 14px 25px;
				box-shadow: 0 0 5px #adadad;

				h2{
					color: #073758;
					text-transform: capitalize;
					margin-bottom: 10px;
					font-size: 18px;
				}

				p{
					color: #6f6f6f;
					line-height: 22px;
					font-size: 13px;
					margin: 15px 0;
				}

				.btn-pattern{
					margin-bottom: 12px;
					max-width: 167px;

					.after{
						position: relative;

						&:after{
							content: "";
							background: url(../images/btn-border.jpg) no-repeat;
							position: absolute;
							width:1px;
							height: 25px;
							top: -5px;
							right: 0;
							padding-right: 10px;
						}
					}

					img{
						padding-right: 20px;
					}		
				}
			}
		}

		.testimonials{

			h1{margin-bottom: 70px;}

			&>.row{

				&>.col-md-10{
					width: 85.333333%;
					margin-bottom: 60px;

					&.col-md-offset-1{
						margin-left: 7.333333%;
					}
				}
			}

			.testimonials-wrap{
				border: 1px solid #000;
				padding: 30px 15px 20px 15px;
				margin-bottom: 10px;
				position: relative;

				p{
					text-transform: uppercase;
					color: #5a5a5a;
				}

				img{
					position: absolute;
					height: 36px;
					width: 36px;
					top: -18px;
					left: 48%;
				}
			}

			.person-details{
				text-transform: capitalize;
				font-family: $secondary-font;

				.person-name{
					font-size: 20px;
					color: #393939;
				}

				.person-address{
					font-size: 14px;
					color: #8e8e8e;
				}
			}
		}
	}
}
