/***********variables**********/
/***********global************/
/* line 9, ../../scss/partials/base.scss */
body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 14px;
}

/* line 16, ../../scss/partials/base.scss */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

/* line 21, ../../scss/partials/base.scss */
h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
}

/* line 25, ../../scss/partials/base.scss */
h1, h2 {
  line-height: 30px;
}

/* line 29, ../../scss/partials/base.scss */
p {
  line-height: 21px;
}

/* line 33, ../../scss/partials/base.scss */
ul {
  list-style: none;
}

/* line 37, ../../scss/partials/base.scss */
a:hover {
  text-decoration: none;
}

/* line 41, ../../scss/partials/base.scss */
.light {
  color: #5a5a5a;
}

/* line 45, ../../scss/partials/base.scss */
.lighter {
  color: #8b8b8b;
}

/* line 50, ../../scss/partials/base.scss */
.btn-default:hover {
  color: #000;
}

/* line 54, ../../scss/partials/base.scss */
.img-thumbnail {
  border-radius: 0;
  padding: 0;
  border-color: #000;
}

/* line 58, ../../scss/partials/base.scss */
.contain {
  max-width: 1000px;
}

/* line 62, ../../scss/partials/base.scss */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding: 0 9px;
}

/* line 66, ../../scss/partials/base.scss */
.row {
  margin: 0 -10px;
}

/* line 70, ../../scss/partials/base.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 74, ../../scss/partials/base.scss */
.mt17 {
  margin-top: 17px;
}

/* line 78, ../../scss/partials/base.scss */
.mb27 {
  margin-bottom: 27px;
}

/* line 82, ../../scss/partials/base.scss */
.mb70 {
  margin-bottom: 70px;
}

/* line 86, ../../scss/partials/base.scss */
.details {
  padding-left: 0;
  margin-bottom: 10px;
}
/* line 90, ../../scss/partials/base.scss */
.details li {
  display: inline-block;
  padding-left: 6px;
}
/* line 94, ../../scss/partials/base.scss */
.details li:after {
  content: "|";
  padding-left: 8px;
}
/* line 101, ../../scss/partials/base.scss */
.details li:last-child:after {
  content: "";
}

/* line 106, ../../scss/partials/base.scss */
.about-box {
  border: 1px solid #949494;
  padding: 20px 20px;
}

/* line 111, ../../scss/partials/base.scss */
.bg-white {
  background-color: #fff;
}

/* line 115, ../../scss/partials/base.scss */
header.push-top {
  margin-top: -780px;
}

/************mixins*************/
